{
  "openapi": "3.1.2",
  "info": {
    "title": "Entities",
    "description": "Productboard API v2 for managing the following Entities: \n  - product\n  - component\n  - feature\n  - subfeature\n  - initiative\n  - objective\n  - keyResult\n  - release\n  - releaseGroup\n  - user\n  - company\n  - competitor\n\n## Configuration-Driven API\n\nThis API is universal and respects the configuration of your Productboard workspace. \nThe available fields, their types, and capabilities are determined by your workspace \nconfiguration, permissions, and business logic.\n\n## Field Discovery\n\nTo discover what fields are available for each entity type and their capabilities,\nuse the \u0060/v2/entities/configurations\u0060 endpoint. This introspection endpoint returns:\n- Available fields (both standard and custom)\n- Field types and validation rules\n- Supported operations (read, create, update)\n- Available patch operations (set, addItems, removeItems, clear)\n- Required vs optional fields\n\n## Universal Entity Support\n\nThe API provides a unified interface for all listed entities. Each entity type \nsupports the same core operations (create, read, update, delete, search) while respecting \nthe specific configuration and field definitions for that entity type in your workspace.\n\n## Dynamic Field System\n\nCustom fields are identified by UUIDs and can be of various types (text, number, \nboolean, status, member, teams, tags, single_select, multi_select, rich_text, \ncalculated, date, health, work_progress). The exact fields available depend on \nyour workspace configuration.\n",
    "termsOfService": "https://www.productboard.com/msa/",
    "contact": {
      "name": "Productboard Support",
      "url": "https://support.productboard.com",
      "email": "support@productboard.com"
    },
    "license": {
      "name": "proprietary",
      "identifier": "unlicensed"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.productboard.com/v2",
      "description": "Production server"
    }
  ],
  "paths": {
    "/entities/configurations": {
      "get": {
        "tags": [
          "entities"
        ],
        "summary": "List configurations",
        "description": "Returns metadata for all available Entities type, including supported fields, patch operations, and validation rules.  \nUse this to programmatically discover what entity types are available for your workspace, which fields are required,\nwhat types are available, and how your workspace is configured.\n",
        "operationId": "ListEntityConfigurations",
        "parameters": [
          {
            "name": "type[]",
            "in": "query",
            "description": "You can specify multiple entity types for filtering.",
            "schema": {
              "type": "array",
              "items": {
                "pattern": "[a-zA-Z]\u002B",
                "type": "string",
                "description": "The type of an entity.\n\nEntity types are configured per workspace: which ones exist depends on the workspace\u0027s plan,\npremium features and settings, so this is deliberately an open string rather than a fixed set.\n\nCall \u0060GET /entities/configurations\u0060 for the authoritative list of types available to you. A value\nthat is not one of them is rejected with a \u0060request.invalid\u0060 error naming the types that are.\n\nNew entity types become usable here as soon as they are enabled for a workspace, with no change\nto this specification.\n"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of configurations",
            "$ref": "#/components/responses/ConfigurationListResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "entities:read"
            ]
          }
        ]
      }
    },
    "/entities/configurations/{type}": {
      "get": {
        "tags": [
          "entities"
        ],
        "summary": "Get configuration",
        "description": "Returns metadata for a specific Entities type, including supported fields, patch operations, and validation rules.  \nUse this to programmatically discover which fields are required, what types are available, and how your workspace is configured.\n",
        "operationId": "GetEntityConfiguration",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "The type of the entity",
            "required": true,
            "schema": {
              "pattern": "[a-zA-Z]\u002B",
              "type": "string",
              "description": "The type of an entity.\n\nEntity types are configured per workspace: which ones exist depends on the workspace\u0027s plan,\npremium features and settings, so this is deliberately an open string rather than a fixed set.\n\nCall \u0060GET /entities/configurations\u0060 for the authoritative list of types available to you. A value\nthat is not one of them is rejected with a \u0060request.invalid\u0060 error naming the types that are.\n\nNew entity types become usable here as soon as they are enabled for a workspace, with no change\nto this specification.\n"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Configuration details",
            "$ref": "#/components/responses/ConfigurationResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "entities:read"
            ]
          }
        ]
      }
    },
    "/entities": {
      "post": {
        "tags": [
          "entities"
        ],
        "summary": "Create entity",
        "description": "Creates a new Entities of the specified type.  \nYou must specify the \u0060type\u0060 (e.g. \u0060feature\u0060, \u0060initiative\u0060) and provide required fields based on your workspace configuration.\n\nUse the \u0060/configuration\u0060 endpoint to discover what fields are available and required.\n\n## Limitations\n- The field names and availability depend on your workspace setup.\n",
        "operationId": "CreateEntity",
        "requestBody": {
          "$ref": "#/components/requestBodies/EntityCreateRequestBody"
        },
        "responses": {
          "201": {
            "description": "Entity created successfully",
            "$ref": "#/components/responses/ReferenceResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "entities:write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "entities"
        ],
        "summary": "List entities",
        "description": "Retrieves a paginated list of Entities.\nYou can filter results, sort them, and control which fields are returned.\n\n\u003E Without the \u0060members:pii:read\u0060 scope, owner email fields are returned as \u0060[redacted]\u0060. Filtering by \u0060owner[email]\u0060 requires the \u0060members:pii:read\u0060 scope. Without the \u0060users:pii:read\u0060 scope, user entity name and email fields are returned as \u0060[redacted]\u0060.\n\nUse the \u0060type[]\u0060 query parameter to filter by one or more entity types (e.g. \u0060type[]=feature\u0026type[]=initiative\u0060).\nUse the \u0060fields\u0060 parameter to request only the fields you need.\n\n## Filter availability\nNot all filters apply to all entity types. For example, \u0060status\u0060 filtering is only available\nfor types that have a status field (e.g. \u0060feature\u0060, \u0060initiative\u0060), and \u0060parent[id]\u0060 only works\nfor types that have a parent relationship.\n\nUse \u0060GET /v2/entities/configurations/{type}\u0060 to check which filters are supported for a specific type.\nThe \u0060filters\u0060 array in the configuration response lists all available filter parameters,\ntheir exact query parameter names, and value schemas.\n\n## Limitations\n- Only the \u0060AND\u0060 operator is supported when applying multiple filters. \u0060OR\u0060, \u0060NOT\u0060, or nested conditions are not supported.\n",
        "operationId": "ListEntities",
        "parameters": [
          {
            "description": "Cursor for pagination. Use the value from \u0060links.next\u0060 to fetch the next page.",
            "$ref": "#/components/parameters/PageCursor"
          },
          {
            "name": "type[]",
            "in": "query",
            "description": "Filter by one or more entity types. Use array notation: \u0060type[]=feature\u0026type[]=initiative\u0060.\nCommon values:\n  - product\n  - component\n  - feature\n  - subfeature\n  - initiative\n  - competitor\n  - objective\n  - keyResult\n  - release\n  - releaseGroup\n  - task\n  - user\n  - company\n\nThe set available to you depends on your workspace. Call \u0060GET /entities/configurations\u0060 and use the\n\u0060type\u0060 of each returned configuration; a value your workspace does not have is rejected with a\n\u0060request.invalid\u0060 error naming the types that are available.\n",
            "schema": {
              "type": "array",
              "items": {
                "pattern": "[a-zA-Z]\u002B",
                "type": "string",
                "description": "The type of an entity.\n\nEntity types are configured per workspace: which ones exist depends on the workspace\u0027s plan,\npremium features and settings, so this is deliberately an open string rather than a fixed set.\n\nCall \u0060GET /entities/configurations\u0060 for the authoritative list of types available to you. A value\nthat is not one of them is rejected with a \u0060request.invalid\u0060 error naming the types that are.\n\nNew entity types become usable here as soon as they are enabled for a workspace, with no change\nto this specification.\n"
              }
            }
          },
          {
            "description": "Controls which fields are returned in the response to optimize bandwidth and tailor data to your needs.\n\n**Options:**\n- Not specified: Returns only fields with non-empty values (default)\n- \u0060fields[]=all\u0060: Returns all fields, including those with \u0060null\u0060 values\n- \u0060fields[]=name\u0026fields[]=status\u0060: Returns only the specified fields\n\nFor detailed usage, examples, and field discovery, see [Response Field Control](https://developer.productboard.com/v2.0.0/reference/response-field-control).\n",
            "$ref": "#/components/parameters/Fields"
          },
          {
            "description": "Opts the request into one or more beta features. Accepts a comma-separated list of\nfeature tokens.\n\n- \u0060document-references\u0060: document-backed fields \u2014 the \u0060description\u0060 and every rich-text\n  custom field \u2014 are returned as a \u0060DocumentReferenceFieldValue\u0060 (\u0060{ id, links.self }\u0060)\n  instead of the rendered \u0060RichTextFieldValue\u0060 HTML string.\n\nBeta features are not covered by backward-compatibility guarantees and may change or be\nremoved without notice.\n",
            "$ref": "#/components/parameters/PbBeta"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by entity name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner[id]",
            "in": "query",
            "description": "Filter by owner ID",
            "schema": {
              "type": "string",
              "description": "A universally unique identifier (UUID).\n",
              "format": "uuid"
            }
          },
          {
            "name": "owner[email]",
            "in": "query",
            "description": "Filter by owner email",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "status[id]",
            "in": "query",
            "description": "Filter by status ID",
            "schema": {
              "type": "string",
              "description": "A universally unique identifier (UUID).\n",
              "format": "uuid"
            }
          },
          {
            "name": "status[name]",
            "in": "query",
            "description": "Filter by status name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teams[id]",
            "in": "query",
            "description": "Filter by team ID. Mutually exclusive with teams[name].",
            "schema": {
              "type": "string",
              "description": "A universally unique identifier (UUID).\n",
              "format": "uuid"
            }
          },
          {
            "name": "teams[name]",
            "in": "query",
            "description": "Filter by team name. Mutually exclusive with teams[id].",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "archived",
            "in": "query",
            "description": "Filter by archived status (true/false)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "parent[id]",
            "in": "query",
            "description": "Filter by parent PM entity ID",
            "schema": {
              "type": "string",
              "description": "A universally unique identifier (UUID).\n",
              "format": "uuid"
            }
          },
          {
            "name": "metadata[source][system]",
            "in": "query",
            "description": "Filter entities by the source system name from metadata.source.\nCan be combined with metadata[source][recordId] and other filters.\n",
            "schema": {
              "type": "string",
              "example": "sfdc"
            }
          },
          {
            "name": "metadata[source][recordId]",
            "in": "query",
            "description": "Filter entities by the source record ID from metadata.source.\nCan be combined with metadata[source][system] and other filters.\n",
            "schema": {
              "type": "string",
              "example": "A-1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of entities",
            "$ref": "#/components/responses/EntityListResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "entities:read"
            ]
          }
        ]
      }
    },
    "/entities/{id}": {
      "get": {
        "tags": [
          "entities"
        ],
        "summary": "Get entity",
        "description": "Retrieves all configured fields and values for the specified Entities.\nUse this endpoint to load complete data for a single entity.\n\n\u003E Without the \u0060members:pii:read\u0060 scope, owner email is returned as \u0060[redacted]\u0060. Without the \u0060users:pii:read\u0060 scope, user entity name and email fields are returned as \u0060[redacted]\u0060.\n\nYou can limit the fields returned using the \u0060fields\u0060 query parameter.\n",
        "operationId": "GetEntity",
        "parameters": [
          {
            "description": "Entity identifier.",
            "$ref": "#/components/parameters/Id"
          },
          {
            "description": "Controls which fields are returned in the response to optimize bandwidth and tailor data to your needs.\n\n**Options:**\n- Not specified: Returns only fields with non-empty values (default)\n- \u0060fields[]=all\u0060: Returns all fields, including those with \u0060null\u0060 values\n- \u0060fields[]=name\u0026fields[]=status\u0060: Returns only the specified fields\n\nFor detailed usage, examples, and field discovery, see [Response Field Control](https://developer.productboard.com/v2.0.0/reference/response-field-control).\n",
            "$ref": "#/components/parameters/Fields"
          },
          {
            "description": "Opts the request into one or more beta features. Accepts a comma-separated list of\nfeature tokens.\n\n- \u0060document-references\u0060: document-backed fields \u2014 the \u0060description\u0060 and every rich-text\n  custom field \u2014 are returned as a \u0060DocumentReferenceFieldValue\u0060 (\u0060{ id, links.self }\u0060)\n  instead of the rendered \u0060RichTextFieldValue\u0060 HTML string.\n\nBeta features are not covered by backward-compatibility guarantees and may change or be\nremoved without notice.\n",
            "$ref": "#/components/parameters/PbBeta"
          }
        ],
        "responses": {
          "200": {
            "description": "Entity details",
            "$ref": "#/components/responses/EntityResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "entities:read"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "entities"
        ],
        "summary": "Update entity",
        "description": "Updates one or more fields of a Entities.  \nUse \u0060fields\u0060 for full replacement of values, or \u0060patch\u0060 for granular changes like adding/removing items in list-type fields.  \nYou must use either \u0060fields\u0060 or \u0060patch\u0060 \u2013 not both.\n\nThe \u0060patch\u0060 property supports these operations:\n- \u0060set\u0060 \u2013 same as setting a value via \u0060fields\u0060\n- \u0060addItems\u0060 \u2013 add one or more values to a list field\n- \u0060removeItems\u0060 \u2013 remove values from a list field\n- \u0060clear\u0060 \u2013 erase the value of the field\n\n## Limitations\n- Providing both \u0060fields\u0060 and \u0060patch\u0060 in the same request will return an error.\n",
        "operationId": "UpdateEntity",
        "parameters": [
          {
            "description": "Entity identifier.",
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/EntityPatchRequestBody"
        },
        "responses": {
          "200": {
            "description": "Entity updated successfully",
            "$ref": "#/components/responses/EntityUpdateResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "entities:write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "entities"
        ],
        "summary": "Delete entity",
        "description": "Deletes a Product Management entity by ID. This operation permanently removes the specified entity from your workspace.\n\nIf the entity has any child entities (e.g. a product with components, or a feature with subfeatures), those children will be **deleted automatically** as part of a cascading delete.\n\n**Use this endpoint with caution \u2014 deletion is irreversible.**\n",
        "operationId": "DeleteEntity",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the PM entity to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A universally unique identifier (UUID).\n",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The request was successful and no content is returned.",
            "$ref": "#/components/responses/NoContentResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "entities:delete"
            ]
          }
        ]
      }
    },
    "/entities/search": {
      "post": {
        "tags": [
          "entities"
        ],
        "summary": "Search entities",
        "description": "Performs a filtered search over Entities using a POST request.\nThis endpoint supports the same filtering capabilities as \u0060GET /v2/entities\u0060, but allows a larger and more complex payload.\nIt\u0027s useful when filtering by a long list of foreign key IDs or when URL length limits become a problem.\n\n## Filter availability\nNot all filters apply to all entity types. For example, \u0060status\u0060 filtering is only available\nfor types that have a status field (e.g. \u0060feature\u0060, \u0060initiative\u0060), and \u0060parent\u0060 filtering only works\nfor types that have a parent relationship.\n\nUse \u0060GET /v2/entities/configurations/{type}\u0060 to check which filters are supported for a specific type.\nThe \u0060filters\u0060 array in the configuration response lists all available filter parameters,\ntheir exact query parameter names, and value schemas.\n\n\u003E Filtering by \u0060owner[email]\u0060 requires the \u0060members:pii:read\u0060 scope.\n\n## Limitations\n- Only the \u0060AND\u0060 operator is supported when applying multiple filters. \u0060OR\u0060, \u0060NOT\u0060, or nested conditions are not supported.\n- You can search only within one entity type at a time.\n",
        "operationId": "PerformEntitiesSearch",
        "parameters": [
          {
            "description": "Cursor for pagination. Use the value from \u0060links.next\u0060 to fetch the next page.",
            "$ref": "#/components/parameters/PageCursor"
          },
          {
            "description": "Opts the request into one or more beta features. Accepts a comma-separated list of\nfeature tokens.\n\n- \u0060document-references\u0060: document-backed fields \u2014 the \u0060description\u0060 and every rich-text\n  custom field \u2014 are returned as a \u0060DocumentReferenceFieldValue\u0060 (\u0060{ id, links.self }\u0060)\n  instead of the rendered \u0060RichTextFieldValue\u0060 HTML string.\n\nBeta features are not covered by backward-compatibility guarantees and may change or be\nremoved without notice.\n",
            "$ref": "#/components/parameters/PbBeta"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/EntitySearchRequestBody"
        },
        "responses": {
          "200": {
            "description": "A paginated list of entities",
            "$ref": "#/components/responses/EntityListResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "entities:read"
            ]
          }
        ]
      }
    },
    "/entities/{id}/relationships": {
      "get": {
        "tags": [
          "entities"
        ],
        "summary": "List relationships",
        "description": "Retrieves all relationships associated with a specific Entities.\nThis includes parent, child, and linked entities.\nUse this endpoint to understand how an entity is connected within the product hierarchy or planning structure.\n\nThe source entity is implicit (this entity).\n",
        "operationId": "ListEntityRelationships",
        "parameters": [
          {
            "description": "Entity identifier.",
            "$ref": "#/components/parameters/Id"
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type of the relationship to filter by (optional)",
            "schema": {
              "$ref": "#/components/schemas/EntityRelationshipType"
            }
          },
          {
            "name": "target[type]",
            "in": "query",
            "description": "The entity type of the target to filter relationships by (optional)",
            "schema": {
              "pattern": "[a-zA-Z]\u002B",
              "type": "string",
              "description": "The type of an entity.\n\nEntity types are configured per workspace: which ones exist depends on the workspace\u0027s plan,\npremium features and settings, so this is deliberately an open string rather than a fixed set.\n\nCall \u0060GET /entities/configurations\u0060 for the authoritative list of types available to you. A value\nthat is not one of them is rejected with a \u0060request.invalid\u0060 error naming the types that are.\n\nNew entity types become usable here as soon as they are enabled for a workspace, with no change\nto this specification.\n"
            }
          },
          {
            "name": "target[id]",
            "in": "query",
            "description": "The ID of the target entity to filter the relationships by (optional)",
            "schema": {
              "type": "string",
              "description": "A universally unique identifier (UUID).\n",
              "format": "uuid"
            }
          },
          {
            "description": "Cursor for pagination. Use the value from \u0060links.next\u0060 to fetch the next page.",
            "$ref": "#/components/parameters/PageCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of relationships",
            "$ref": "#/components/responses/EntityRelationshipListResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "entities:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "entities"
        ],
        "summary": "Create relationship",
        "description": "Creates a relationship between two Entities.  \nSpecify the source entity via the URL path (\u0060{id}\u0060), and the target entity and relationship type in the request body.\n\nThe \u0060type\u0060 field determines the direction and nature of the relationship.  \nSupported values:\n- \u0060parent\u0060 \u2013 declare the target as the parent of the source\n- \u0060child\u0060 \u2013 declare the target as the child of the source\n- \u0060link\u0060 \u2013 create a non-hierarchical connection between entities\n- \u0060isBlockedBy\u0060 \u2013 create a dependency between entities\n- \u0060isBlocking\u0060 \u2013 create a dependency between entities\n\n## Limitations\n- Only valid combinations of source and target entities are allowed for each relationship type.\n- The target entity must exist and be accessible.\n",
        "operationId": "CreateEntityRelationship",
        "parameters": [
          {
            "description": "Entity identifier.",
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/EntityRelationshipCreateRequestBody"
        },
        "responses": {
          "201": {
            "description": "Relationship created successfully",
            "$ref": "#/components/responses/EntityRelationshipResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "409": {
            "description": "Conflict - Action cannot be performed due to current state or constraint violation",
            "$ref": "#/components/responses/ConflictResponse"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "entities:write"
            ]
          }
        ]
      }
    },
    "/entities/{id}/relationships/parent": {
      "put": {
        "tags": [
          "entities"
        ],
        "summary": "Set parent relationship",
        "description": "Replaces the parent of a specific Entities.  \nSome entity types (such as features and subfeatures) are required to have a parent.  \nThis endpoint allows you to update the parent entity when the relationship changes.\n\nThe new parent is specified in the request body using the \u0060target.id\u0060 field.\n\n## Limitations\n- Only valid parent relationships are allowed (e.g. feature \u2192 component, subfeature \u2192 feature).\n- The target entity must exist and be a valid parent type.\n- This will overwrite any existing parent relationship.\n",
        "operationId": "ReplaceEntityRelationship",
        "parameters": [
          {
            "description": "Entity identifier.",
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/EntityParentRelationshipReplaceRequestBody"
        },
        "responses": {
          "200": {
            "description": "Relationship updated successfully",
            "$ref": "#/components/responses/EntityRelationshipReplaceResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "entities:write"
            ]
          }
        ]
      }
    },
    "/entities/{id}/relationships/{type}/{targetId}": {
      "delete": {
        "tags": [
          "entities"
        ],
        "summary": "Delete relationship",
        "description": "Removes a relationship between two Entities.  \nUse the \u0060type\u0060 query parameter to indicate which kind of relationship you want to remove.\n",
        "operationId": "DeleteEntityRelationship",
        "parameters": [
          {
            "description": "Entity identifier.",
            "$ref": "#/components/parameters/Id"
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/EntityRelationshipType"
            }
          },
          {
            "name": "targetId",
            "in": "path",
            "description": "The ID of the target entity to delete the relationship with.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A universally unique identifier (UUID).\n",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The request was successful and no content is returned.",
            "$ref": "#/components/responses/NoContentResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "entities:write"
            ]
          }
        ]
      }
    },
    "/entities/fields/{id}/values": {
      "get": {
        "tags": [
          "fields"
        ],
        "summary": "List field values",
        "description": "Returns a paginated list of allowed values for select-type and status fields (SINGLE_SELECT, MULTI_SELECT, TAG, STATUS).\nUse this endpoint to retrieve all available options for fields with many values, or when you need\nto paginate through all values.\n\nFor fields with fewer values (\u22641000), the values are returned inline in the field response.\nFor fields with more values, the field response contains a reference to this endpoint.\n\nTag fields are returned using the same \u0060SelectOptionValue\u0060 shape as MULTI_SELECT, since tags are multi-select internally.\n\nUse the \u0060query\u0060 parameter to search TAG field values by name \u2014 see the parameter description for details.\n",
        "operationId": "ListEntityFieldValues",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Field identifier (UUID for custom fields, API name for default fields).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assignedEntityType[]",
            "in": "query",
            "description": "Filter values by assigned entity type. Useful for status fields where different entity types have different status sets.",
            "schema": {
              "type": "array",
              "items": {
                "pattern": "[a-zA-Z]\u002B",
                "type": "string",
                "description": "The type of an entity.\n\nEntity types are configured per workspace: which ones exist depends on the workspace\u0027s plan,\npremium features and settings, so this is deliberately an open string rather than a fixed set.\n\nCall \u0060GET /entities/configurations\u0060 for the authoritative list of types available to you. A value\nthat is not one of them is rejected with a \u0060request.invalid\u0060 error naming the types that are.\n\nNew entity types become usable here as soon as they are enabled for a workspace, with no change\nto this specification.\n"
              }
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Search TAG field values by name. Matching is case- and accent-insensitive and tolerates minor\nmisspellings. Results are ordered by trigram similarity, limited to 20 values, and do not include\na pagination link. \u0060pageCursor\u0060 is ignored when \u0060query\u0060 is provided. An explicitly supplied blank\nquery or a query for any other field type is invalid and returns a 400 response.\n",
            "schema": {
              "maxLength": 255,
              "minLength": 1,
              "type": "string"
            },
            "example": "customer"
          },
          {
            "description": "Cursor for pagination. Use the value from \u0060links.next\u0060 to fetch the next page.",
            "$ref": "#/components/parameters/PageCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of field values",
            "$ref": "#/components/responses/FieldValuesListResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "entities:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "fields"
        ],
        "summary": "Create field value",
        "description": "Creates a new value (option) for a select-type field (SINGLE_SELECT, MULTI_SELECT, TAG).\nThe field must be a select-type field, otherwise the request will be rejected.\n\n**STATUS fields are not supported.** Although status values look similar to single-select options,\nthey are managed through the status lifecycle (not this endpoint) and cannot be created here.\n\nIf \u0060color\u0060 is omitted, the system automatically assigns the next available color.\n",
        "operationId": "CreateEntityFieldValue",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Field identifier (UUID for custom fields, API name for default fields).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SelectOptionCreateRequestBody"
        },
        "responses": {
          "201": {
            "description": "Field value created or updated successfully",
            "$ref": "#/components/responses/FieldValueReferenceResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "fields:write"
            ]
          }
        ]
      }
    },
    "/entities/fields/{id}/values/{valueId}": {
      "patch": {
        "tags": [
          "fields"
        ],
        "summary": "Update field value",
        "description": "Updates an existing value (option) for a select-type field (SINGLE_SELECT, MULTI_SELECT, TAG).\nOnly provided fields are updated, omitted fields remain unchanged.\n\n**STATUS fields are not supported.** Status values are managed through the status lifecycle\n(not this endpoint) and cannot be updated here.\n",
        "operationId": "UpdateEntityFieldValue",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Field identifier (UUID for custom fields, API name for default fields).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "valueId",
            "in": "path",
            "description": "The ID of the field value to update.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A universally unique identifier (UUID).\n",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SelectOptionUpdateRequestBody"
        },
        "responses": {
          "200": {
            "description": "Field value created or updated successfully",
            "$ref": "#/components/responses/FieldValueReferenceResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "fields:write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "fields"
        ],
        "summary": "Delete field value",
        "description": "Deletes a value (option) from a select-type field (SINGLE_SELECT, MULTI_SELECT, TAG).\n\n**STATUS fields are not supported.** Status values are managed through the status lifecycle\n(not this endpoint) and cannot be deleted here.\n\nBy default, deletion is rejected if the value is currently assigned to any entities.\nUse \u0060force\u0060 to unset the value from all entities, or\n\u0060replaceWith\u0060 to move all assignments to another value.\n\nThese two parameters are mutually exclusive - providing both results in a 400 error.\n",
        "operationId": "DeleteEntityFieldValue",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Field identifier (UUID for custom fields, API name for default fields).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "valueId",
            "in": "path",
            "description": "The ID of the field value to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A universally unique identifier (UUID).\n",
              "format": "uuid"
            }
          },
          {
            "name": "force",
            "in": "query",
            "description": "When \u0060true\u0060, deletes the value and unsets it from all entities that currently use it.\nFor multi-select fields, only this specific option is removed from each entity\u0027s selection.\nMutually exclusive with \u0060replaceWith\u0060.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "replaceWith",
            "in": "query",
            "description": "ID of another value on the same field to reassign all current assignments to before deletion.\nMutually exclusive with \u0060force\u0060.\n",
            "schema": {
              "type": "string",
              "description": "A universally unique identifier (UUID).\n",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The request was successful and no content is returned.",
            "$ref": "#/components/responses/NoContentResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "fields:write"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ResourceReferenceAssign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "A universally unique identifier (UUID).\n",
            "format": "uuid"
          }
        },
        "description": "Entity reference assignment using unique identifier for Entities.\n\n## Behavior\n- Simple ID-only assignment for referencing other entities\n- Used for establishing relationships between entities (parent, child, link)\n- UUID must match an existing entity in the workspace\n- Commonly used in relationship creation and updates\n"
      },
      "ResourceReference": {
        "required": [
          "id",
          "type"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "A universally unique identifier (UUID).\n",
            "format": "uuid"
          },
          "type": {
            "pattern": "[a-zA-Z]\u002B",
            "type": "string",
            "description": "The type of an entity.\n\nEntity types are configured per workspace: which ones exist depends on the workspace\u0027s plan,\npremium features and settings, so this is deliberately an open string rather than a fixed set.\n\nCall \u0060GET /entities/configurations\u0060 for the authoritative list of types available to you. A value\nthat is not one of them is rejected with a \u0060request.invalid\u0060 error naming the types that are.\n\nNew entity types become usable here as soon as they are enabled for a workspace, with no change\nto this specification.\n"
          },
          "links": {
            "$ref": "#/components/schemas/EntityLinks"
          }
        },
        "description": "# Description\nA common response object of entity reference.\n\n# Validation\n\n# Filtering\n"
      },
      "Entity": {
        "required": [
          "id",
          "type"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "A universally unique identifier (UUID).\n",
            "format": "uuid"
          },
          "type": {
            "pattern": "[a-zA-Z]\u002B",
            "type": "string",
            "description": "The type of an entity.\n\nEntity types are configured per workspace: which ones exist depends on the workspace\u0027s plan,\npremium features and settings, so this is deliberately an open string rather than a fixed set.\n\nCall \u0060GET /entities/configurations\u0060 for the authoritative list of types available to you. A value\nthat is not one of them is rejected with a \u0060request.invalid\u0060 error naming the types that are.\n\nNew entity types become usable here as soon as they are enabled for a workspace, with no change\nto this specification.\n"
          },
          "links": {
            "$ref": "#/components/schemas/EntityLinks"
          },
          "fields": {
            "$ref": "#/components/schemas/EntityFieldsProperty"
          },
          "relationships": {
            "description": "A collection of relationships between this entity and other entities.\nThe list is paginated, to see the rest of the relationships follow the URL contained in the\n\u0060links.next\u0060 attribute.\n",
            "$ref": "#/components/schemas/EntityRelationships"
          },
          "metadata": {
            "description": "Metadata associated with an entity, including its source.\n",
            "$ref": "#/components/schemas/EntityMetadata"
          },
          "createdAt": {
            "type": "string",
            "description": "Date and time in ISO 8601 format for Entities.\n\n## Behavior\n- Must follow ISO 8601 datetime format: YYYY-MM-DDTHH:mm:ss.sssZ\n- Includes both date and time components with timezone information\n- Validates for proper datetime structure and valid values\n- Used for timestamps, creation dates, and precise time tracking\n",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "description": "Date and time in ISO 8601 format for Entities.\n\n## Behavior\n- Must follow ISO 8601 datetime format: YYYY-MM-DDTHH:mm:ss.sssZ\n- Includes both date and time components with timezone information\n- Validates for proper datetime structure and valid values\n- Used for timestamps, creation dates, and precise time tracking\n",
            "format": "date-time"
          }
        },
        "description": "The entity payload containing the resource data and its relationships.\n",
        "example": {
          "id": "195a1cb2-728f-4be8-900f-aebbd84d7944",
          "type": "feature",
          "fields": {
            "name": "Awesome Public API",
            "owner": {
              "id": "56caede9-bae0-4521-9702-d2c553488caf",
              "email": "john@doe.com"
            },
            "tags": [
              {
                "id": "95db5914-36b0-45e9-8f6d-7f11a950ac1d",
                "name": "api"
              },
              {
                "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                "name": "enterprise"
              }
            ],
            "timeframe": {
              "startDate": "2023-10-01",
              "endDate": "2023-10-31"
            }
          },
          "metadata": {
            "source": {
              "system": "Jira",
              "recordId": "API-100"
            }
          },
          "relationships": {
            "data": [
              {
                "type": "parent",
                "target": {
                  "id": "318de52f-4e38-4c94-a550-a0d47a1f212e",
                  "type": "component",
                  "links": {
                    "self": "https://api.productboard.com/v2/entities/318de52f-4e38-4c94-a550-a0d47a1f212e",
                    "html": "https://example.productboard.com/detail/UG1FbnRpdHk6MzE4ZGU1MmYtNGUzOC00Yzk0LWE1NTAtYTBkNDdhMWYyMTJl"
                  }
                }
              }
            ],
            "links": {
              "next": null
            }
          },
          "links": {
            "self": "https://api.productboard.com/v2/entities/195a1cb2-728f-4be8-900f-aebbd84d7944",
            "html": "https://example.productboard.com/detail/UG1FbnRpdHk6MTk1YTFjYjItNzI4Zi00YmU4LTkwMGYtYWViYmQ4NGQ3OTQ0"
          },
          "createdAt": "2023-10-01T00:00:00Z",
          "updatedAt": "2023-10-01T00:00:00Z"
        }
      },
      "EntityFields": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/EntityFieldsAdditionalProperties"
        }
      },
      "EntityFieldValue": {
        "type": "object",
        "anyOf": [
          {
            "$ref": "#/components/schemas/EntityFieldValueBranch1"
          },
          {
            "$ref": "#/components/schemas/EntityFieldValueBranch2"
          },
          {
            "$ref": "#/components/schemas/EntityFieldValueBranch3"
          },
          {
            "$ref": "#/components/schemas/HealthFieldValue"
          },
          {
            "$ref": "#/components/schemas/MemberFieldValue"
          },
          {
            "$ref": "#/components/schemas/MultiSelectFieldValueWrapper"
          },
          {
            "$ref": "#/components/schemas/EntityFieldValueBranch7"
          },
          {
            "$ref": "#/components/schemas/EntityFieldValueBranch8"
          },
          {
            "$ref": "#/components/schemas/NumberFieldValueWithMode"
          },
          {
            "$ref": "#/components/schemas/ProgressFieldValue"
          },
          {
            "$ref": "#/components/schemas/EntityFieldValueBranch11"
          },
          {
            "$ref": "#/components/schemas/DocumentReferenceFieldValue"
          },
          {
            "$ref": "#/components/schemas/SingleSelectFieldValue"
          },
          {
            "$ref": "#/components/schemas/StatusFieldValue"
          },
          {
            "$ref": "#/components/schemas/TeamsFieldValueWrapper"
          },
          {
            "$ref": "#/components/schemas/EntityFieldValueBranch16"
          },
          {
            "$ref": "#/components/schemas/TimeframeFieldValue"
          },
          {
            "$ref": "#/components/schemas/EntityFieldValueBranch18"
          },
          {
            "$ref": "#/components/schemas/EntityFieldValueBranch19"
          },
          {
            "$ref": "#/components/schemas/WorkProgressFieldValue"
          }
        ],
        "properties": {
          "status": {
            "description": "The health status of the work item. \u0060notSet\u0060 is read-only \u2014 it is returned on read for entities with\ncalculated or uninitialized health and cannot be assigned in a manual update.\n",
            "$ref": "#/components/schemas/HealthStatusEnum"
          },
          "previousStatus": {
            "description": "The health status of the work item. \u0060notSet\u0060 is read-only \u2014 it is returned on read for entities with\ncalculated or uninitialized health and cannot be assigned in a manual update.\n",
            "$ref": "#/components/schemas/HealthStatusEnum"
          },
          "lastUpdatedAt": {
            "type": "string",
            "description": "Date and time in ISO 8601 format for Entities.\n\n## Behavior\n- Must follow ISO 8601 datetime format: YYYY-MM-DDTHH:mm:ss.sssZ\n- Includes both date and time components with timezone information\n- Validates for proper datetime structure and valid values\n- Used for timestamps, creation dates, and precise time tracking\n",
            "format": "date-time"
          },
          "comment": {
            "maxLength": 524288,
            "type": "string",
            "description": "HTML-formatted text content for Entities.\n\n## Behavior\n- Accepts HTML-formatted strings up to 524KB (524,288 characters)\n- Can be empty string (minLength: 0)\n- Supports rich formatting including bold, italic, links, lists\n  - Follow [Rich Text Formatting guidelines](https://developer.productboard.com/reference/richtext)\n- Used for detailed descriptions, specifications, documentation, and formatted comments\n"
          },
          "createdBy": {
            "description": "Workspace member information.\n\n## Behavior\n- Contains both unique \u0060id\u0060 (UUID) and \u0060email\u0060 for member identification\n- Used for ownership, assignment, and team member references\n- Both fields are required for complete member representation\n- Email serves as human-readable identifier\n",
            "$ref": "#/components/schemas/MemberFieldValue"
          },
          "email": {
            "maxLength": 255,
            "type": "string",
            "description": "Entity names and titles for Entities with a 255 character limit.\n\n## Behavior\n- Accepts any string content up to 255 characters\n- Can be empty string, though typically entity names are required\n- Supports UTF-8 encoding for international characters\n- Used for entity titles, display labels, and primary identifiers\n"
          },
          "startValue": {
            "type": "number",
            "description": "The starting baseline value for progress measurement.\n",
            "format": "float",
            "example": 0
          },
          "targetValue": {
            "type": "number",
            "description": "The target goal value to achieve.\n",
            "format": "float",
            "example": 100
          },
          "currentValue": {
            "type": "number",
            "description": "The current progress value being tracked.\n",
            "format": "float",
            "example": 90.5
          },
          "links": {
            "$ref": "#/components/schemas/DocumentReferenceFieldValueLinks"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "description": "Calendar date in ISO 8601 format (YYYY-MM-DD) for Entities.\n\n## Behavior\n- Must follow ISO 8601 date format: YYYY-MM-DD\n- Date-only format without time component\n- Validates for proper date structure and valid calendar dates\n- Used for due dates, milestones, release dates, and timeframe boundaries\n- Timezone-independent (date only)\n",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "description": "Calendar date in ISO 8601 format (YYYY-MM-DD) for Entities.\n\n## Behavior\n- Must follow ISO 8601 date format: YYYY-MM-DD\n- Date-only format without time component\n- Validates for proper date structure and valid calendar dates\n- Used for due dates, milestones, release dates, and timeframe boundaries\n- Timezone-independent (date only)\n",
            "format": "date"
          },
          "granularity": {
            "description": "Time granularity level for timeframe display and interpretation.\n\n## Behavior\n- Must be one of: \u0060year\u0060, \u0060quarter\u0060, \u0060month\u0060, \u0060day\u0060\n- Affects how timeframe dates are displayed and interpreted in the UI\n- Used in conjunction with TimeframeFieldValue to specify precision level\n- Supports different planning scales from daily sprints to annual strategies\n- Exact string matching for filtering\n",
            "$ref": "#/components/schemas/GranularityFieldValue"
          }
        },
        "description": "A list of possible value types of PM entity fields.\nThis should cover all possible fields of all PM entity types.\n"
      },
      "EntityCreateOrUpdateFields": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/EntityCreateOrUpdateFieldsAdditionalProperties"
        },
        "description": "A collection of fields that can be used to create or update a PM entity.\nIt is a subset of \u0060EntityFields\u0060 that is used for creation or update operations.\n\n## Dual Format Support\nMost field types support two input formats:\n- **Simple format**: Direct value (e.g., \u0060\u0022text\u0022\u0060, \u0060123\u0060, \u0060true\u0060)\n- **Object format**: Value with metadata (e.g., \u0060{\u0022value\u0022: \u0022text\u0022, \u0022metadata\u0022: {...}}\u0060)\n\n## Metadata Support\nCustom fields (identified by UUID) and specific field types (\u0060domain\u0060, \u0060email\u0060, \u0060effort\u0060) support \noptional metadata that allows tracking the external source of field values:\n- \u0060source.system\u0060: Name of the external system that provided the value\n- \u0060source.recordId\u0060: Identifier of the record in the external system\n- \u0060isViewableOnly\u0060: Whether the value is read-only from external source\n\nMetadata sent for other fields is ignored.\n"
      },
      "EntityCreateOrUpdateFieldValue": {
        "type": "object",
        "anyOf": [
          {
            "$ref": "#/components/schemas/EntityCreateOrUpdateFieldValueBranch1"
          },
          {
            "$ref": "#/components/schemas/BooleanFieldValueWithMetadata"
          },
          {
            "$ref": "#/components/schemas/EntityCreateOrUpdateFieldValueBranch3"
          },
          {
            "$ref": "#/components/schemas/DateFieldValueWithMetadata"
          },
          {
            "$ref": "#/components/schemas/EntityCreateOrUpdateFieldValueBranch5"
          },
          {
            "$ref": "#/components/schemas/HealthUpdateFieldValue"
          },
          {
            "$ref": "#/components/schemas/HealthUpdateFieldValueWithMetadata"
          },
          {
            "$ref": "#/components/schemas/MemberFieldAssign"
          },
          {
            "$ref": "#/components/schemas/MultiSelectFieldAssignWrapper"
          },
          {
            "$ref": "#/components/schemas/EntityCreateOrUpdateFieldValueBranch10"
          },
          {
            "$ref": "#/components/schemas/EntityCreateOrUpdateFieldValueBranch11"
          },
          {
            "$ref": "#/components/schemas/NumberFieldValueWithMetadata"
          },
          {
            "$ref": "#/components/schemas/NumberValueModeUpdate"
          },
          {
            "$ref": "#/components/schemas/ProgressFieldValue"
          },
          {
            "$ref": "#/components/schemas/ProgressFieldValueWithMetadata"
          },
          {
            "$ref": "#/components/schemas/EntityCreateOrUpdateFieldValueBranch16"
          },
          {
            "$ref": "#/components/schemas/RichTextFieldValueWithMetadata"
          },
          {
            "$ref": "#/components/schemas/SingleSelectFieldAssign"
          },
          {
            "$ref": "#/components/schemas/StatusFieldAssign"
          },
          {
            "$ref": "#/components/schemas/TeamFieldAssign"
          },
          {
            "$ref": "#/components/schemas/EntityCreateOrUpdateFieldValueBranch21"
          },
          {
            "$ref": "#/components/schemas/TextFieldValueWithMetadata"
          },
          {
            "$ref": "#/components/schemas/TimeframeFieldValue"
          },
          {
            "$ref": "#/components/schemas/TimeframeFieldValueWithMetadata"
          },
          {
            "$ref": "#/components/schemas/EntityCreateOrUpdateFieldValueBranch25"
          },
          {
            "$ref": "#/components/schemas/UrlFieldValueWithMetadata"
          },
          {
            "$ref": "#/components/schemas/EntityCreateOrUpdateFieldValueBranch27"
          },
          {
            "$ref": "#/components/schemas/UuidFieldValueWithMetadata"
          },
          {
            "$ref": "#/components/schemas/WorkProgressFieldValue"
          },
          {
            "$ref": "#/components/schemas/WorkProgressFieldValueWithMetadata"
          }
        ],
        "properties": {
          "metadata": {
            "description": "Metadata associated with a field value, including its source and visibility settings.\n\n## Behavior\n- \u0060source\u0060: Origin of the value from external API\n- \u0060isViewableOnly\u0060: If true, value cannot be edited through the API (read-only)\n",
            "$ref": "#/components/schemas/ValueMetadata"
          },
          "status": {
            "description": "The health status of the work item. \u0060notSet\u0060 is read-only \u2014 it is returned on read for entities with\ncalculated or uninitialized health and cannot be assigned in a manual update.\n",
            "$ref": "#/components/schemas/HealthStatusEnum"
          },
          "comment": {
            "maxLength": 524288,
            "type": "string",
            "description": "HTML-formatted text content for Entities.\n\n## Behavior\n- Accepts HTML-formatted strings up to 524KB (524,288 characters)\n- Can be empty string (minLength: 0)\n- Supports rich formatting including bold, italic, links, lists\n  - Follow [Rich Text Formatting guidelines](https://developer.productboard.com/reference/richtext)\n- Used for detailed descriptions, specifications, documentation, and formatted comments\n"
          },
          "createdBy": {
            "description": "Member assignment allowing identification by ID or email address.\n\n## Behavior\n- Supports two identification methods: unique ID (UUID) or email address\n- Use ID for precision and consistency across API calls\n- Use email for convenience when ID is unknown\n- Email must match existing member in workspace\n- Provide either \u0060id\u0060 or \u0060email\u0060; providing both is rejected with a validation error\n",
            "$ref": "#/components/schemas/MemberFieldAssign"
          },
          "valueMode": {
            "description": "Whether the number field value is calculated automatically or entered manually.\n- \u0060manual\u0060: The field displays and uses the manually entered value\n- \u0060calculated\u0060: The field displays and uses an automatically calculated value (e.g., from child entities)\n",
            "$ref": "#/components/schemas/NumberFieldValueMode"
          },
          "startValue": {
            "type": "number",
            "description": "The starting baseline value for progress measurement.\n",
            "format": "float",
            "example": 0
          },
          "targetValue": {
            "type": "number",
            "description": "The target goal value to achieve.\n",
            "format": "float",
            "example": 100
          },
          "currentValue": {
            "type": "number",
            "description": "The current progress value being tracked.\n",
            "format": "float",
            "example": 90.5
          },
          "startDate": {
            "type": "string",
            "description": "Calendar date in ISO 8601 format (YYYY-MM-DD) for Entities.\n\n## Behavior\n- Must follow ISO 8601 date format: YYYY-MM-DD\n- Date-only format without time component\n- Validates for proper date structure and valid calendar dates\n- Used for due dates, milestones, release dates, and timeframe boundaries\n- Timezone-independent (date only)\n",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "description": "Calendar date in ISO 8601 format (YYYY-MM-DD) for Entities.\n\n## Behavior\n- Must follow ISO 8601 date format: YYYY-MM-DD\n- Date-only format without time component\n- Validates for proper date structure and valid calendar dates\n- Used for due dates, milestones, release dates, and timeframe boundaries\n- Timezone-independent (date only)\n",
            "format": "date"
          },
          "granularity": {
            "description": "Time granularity level for timeframe display and interpretation.\n\n## Behavior\n- Must be one of: \u0060year\u0060, \u0060quarter\u0060, \u0060month\u0060, \u0060day\u0060\n- Affects how timeframe dates are displayed and interpreted in the UI\n- Used in conjunction with TimeframeFieldValue to specify precision level\n- Supports different planning scales from daily sprints to annual strategies\n- Exact string matching for filtering\n",
            "$ref": "#/components/schemas/GranularityFieldValue"
          },
          "id": {
            "type": "string",
            "description": "A universally unique identifier (UUID).\n",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "john@doe.com"
          },
          "name": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "example": "Example Option"
          }
        },
        "description": "A list of create/update payloads for possible value types of a resource fields.\n"
      },
      "EntityPatch": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/EntityPatchItem"
        },
        "description": "A list of patch operations to perform on a PM entity field.\nEach operation can be one of \u0060set\u0060, \u0060addItems\u0060, \u0060removeItems\u0060, or \u0060clear\u0060.\n"
      },
      "EntityPatchOperation": {
        "required": [
          "op",
          "path",
          "value"
        ],
        "type": "object",
        "properties": {
          "op": {
            "$ref": "#/components/schemas/EntityPatchOperationOp"
          },
          "path": {
            "type": "string",
            "description": "The path to the field to be modified.\nIt is usually a field id (eg. \u0022tags\u0022, \u0022owner\u0022, \u002200000000-0000-0000-0000-000000000000\u0022).\n"
          },
          "value": {
            "description": "A list of create/update payloads for possible value types of a resource fields.\n",
            "$ref": "#/components/schemas/EntityCreateOrUpdateFieldValue"
          }
        },
        "additionalProperties": false,
        "description": "This patch operation replaces the value of a field, or adds/removes values from it.\n"
      },
      "EntityPatchOperationClear": {
        "required": [
          "op",
          "path"
        ],
        "type": "object",
        "properties": {
          "op": {
            "$ref": "#/components/schemas/ClearOp"
          },
          "path": {
            "type": "string",
            "description": "The path to the field to be modified.\nIt is usually a field id (eg. \u0022tags\u0022, \u0022owner\u0022, \u002200000000-0000-0000-0000-000000000000\u0022).\n"
          }
        },
        "additionalProperties": false,
        "description": "This patch operation clears the value of a field.\n"
      },
      "EntitySearch": {
        "type": "object",
        "properties": {
          "filter": {
            "description": "Filter criteria for the entity search.\n",
            "$ref": "#/components/schemas/EntitySearchFilter"
          },
          "return": {
            "description": "Controls which fields are returned in the response.\n",
            "$ref": "#/components/schemas/EntitySearchReturn"
          }
        },
        "additionalProperties": false,
        "description": "Request body for searching entities. Uses a structured \u0060filter\u0060 object with nested field groups,\nand an optional \u0060return\u0060 object to control the response shape.\n"
      },
      "EntitySearchFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "array",
            "items": {
              "pattern": "[a-zA-Z]\u002B",
              "type": "string",
              "description": "The type of an entity.\n\nEntity types are configured per workspace: which ones exist depends on the workspace\u0027s plan,\npremium features and settings, so this is deliberately an open string rather than a fixed set.\n\nCall \u0060GET /entities/configurations\u0060 for the authoritative list of types available to you. A value\nthat is not one of them is rejected with a \u0060request.invalid\u0060 error naming the types that are.\n\nNew entity types become usable here as soon as they are enabled for a workspace, with no change\nto this specification.\n"
            },
            "description": "Filter by one or more entity types. If empty or not provided, searches across all entity types.\n"
          },
          "id": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "A universally unique identifier (UUID).\n",
              "format": "uuid"
            },
            "description": "Filter by entity IDs."
          },
          "createdAt": {
            "description": "Filter by a date range.\n",
            "$ref": "#/components/schemas/DateRangeFilter"
          },
          "updatedAt": {
            "description": "Filter by a date range.\n",
            "$ref": "#/components/schemas/DateRangeFilter"
          },
          "fields": {
            "description": "Filters applied to entity field values.\n\nIn addition to the standard fields listed below, you can filter by any custom field using its field ID\n(e.g., \u0060\u0022domain\u0022\u0060 for predefined fields or a UUID for user-created custom fields). Custom field filter\nvalues must be objects conforming to \u0060EntitySearchCustomFieldFilterValue\u0060.\n\nPer field-type rules:\n\n- **Text fields**: matches entities whose field value contains the given string (case-insensitive).\n  - \u0060\u0022notes\u0022: { \u0022contains\u0022: \u0022quarterly\u0022 }\u0060\n- **Number fields**: matches entities whose field value equals the given number.\n  - \u0060\u0022budget\u0022: { \u0022eq\u0022: 100 }\u0060\n- **Date fields**: matches entities whose field value equals the given date (ISO format: yyyy-MM-dd).\n  - \u0060\u0022due\u0022: { \u0022eq\u0022: \u00222025-12-31\u0022 }\u0060\n- **Single-select fields**: matches by option ID (UUID) or option name (string). Exactly one of \u0060id\u0060 or \u0060name\u0060 must be provided.\n  - By ID: \u0060\u0022priority\u0022: { \u0022id\u0022: \u0022123e4567-e89b-12d3-a456-426614174000\u0022 }\u0060\n  - By name: \u0060\u0022priority\u0022: { \u0022name\u0022: \u0022High Priority\u0022 }\u0060\n- **Multi-select fields**: match entities whose field value contains any or all of the specified options.\n  - \u0060any\u0060 (OR semantics across options):\n    \u0060\u0022tags\u0022: { \u0022any\u0022: [ { \u0022name\u0022: \u0022Important\u0022 }, { \u0022id\u0022: \u0022\u2026\u0022 } ] }\u0060\n  - \u0060all\u0060 (AND semantics across options):\n    \u0060\u0022tags\u0022: { \u0022all\u0022: [ { \u0022name\u0022: \u0022Important\u0022 }, { \u0022name\u0022: \u0022Urgent\u0022 } ] }\u0060\n  - \u0060any\u0060 and \u0060all\u0060 are mutually exclusive.\n\nCustom field filtering requires \u0060filter.type\u0060 to be specified.\nMultiple custom field entries are combined with AND semantics \u2014 all must match.\nA request can include at most 25 custom field filters.\n",
            "$ref": "#/components/schemas/EntitySearchFieldFilters"
          },
          "relationships": {
            "description": "Filters applied to entity relationships.\n",
            "$ref": "#/components/schemas/EntitySearchRelationshipFilters"
          },
          "metadata": {
            "description": "Filters applied to entity metadata.\n",
            "$ref": "#/components/schemas/EntitySearchMetadataFilter"
          }
        },
        "description": "Filter criteria for the entity search.\n"
      },
      "EntitySearchFieldFilters": {
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 255,
            "type": "string",
            "description": "Entity names and titles for Entities with a 255 character limit.\n\n## Behavior\n- Accepts any string content up to 255 characters\n- Can be empty string, though typically entity names are required\n- Supports UTF-8 encoding for international characters\n- Used for entity titles, display labels, and primary identifiers\n"
          },
          "archived": {
            "type": "boolean",
            "description": "True/false flag for binary state tracking in Entities.\n\n## Behavior\n- Accepts only \u0060true\u0060 or \u0060false\u0060 boolean values\n- Used for binary states like archived status, feature toggles, completion flags\n- Displayed as checkboxes or toggle switches in UI\n"
          },
          "owner": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MemberFieldAssign"
            }
          },
          "status": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatusFieldAssign"
            }
          },
          "creator": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MemberFieldAssign"
            },
            "description": "Filter by creator (not yet active)."
          },
          "teams": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TeamFieldAssign"
            },
            "description": "Filter by team. Each item identifies a team by \u0060id\u0060 or \u0060name\u0060. Multiple teams use OR semantics:\nentities assigned to any of the given teams match.\n"
          }
        },
        "additionalProperties": {
          "$ref": "#/components/schemas/EntitySearchCustomFieldFilterValue"
        },
        "description": "Filters applied to entity field values.\n\nIn addition to the standard fields listed below, you can filter by any custom field using its field ID\n(e.g., \u0060\u0022domain\u0022\u0060 for predefined fields or a UUID for user-created custom fields). Custom field filter\nvalues must be objects conforming to \u0060EntitySearchCustomFieldFilterValue\u0060.\n\nPer field-type rules:\n\n- **Text fields**: matches entities whose field value contains the given string (case-insensitive).\n  - \u0060\u0022notes\u0022: { \u0022contains\u0022: \u0022quarterly\u0022 }\u0060\n- **Number fields**: matches entities whose field value equals the given number.\n  - \u0060\u0022budget\u0022: { \u0022eq\u0022: 100 }\u0060\n- **Date fields**: matches entities whose field value equals the given date (ISO format: yyyy-MM-dd).\n  - \u0060\u0022due\u0022: { \u0022eq\u0022: \u00222025-12-31\u0022 }\u0060\n- **Single-select fields**: matches by option ID (UUID) or option name (string). Exactly one of \u0060id\u0060 or \u0060name\u0060 must be provided.\n  - By ID: \u0060\u0022priority\u0022: { \u0022id\u0022: \u0022123e4567-e89b-12d3-a456-426614174000\u0022 }\u0060\n  - By name: \u0060\u0022priority\u0022: { \u0022name\u0022: \u0022High Priority\u0022 }\u0060\n- **Multi-select fields**: match entities whose field value contains any or all of the specified options.\n  - \u0060any\u0060 (OR semantics across options):\n    \u0060\u0022tags\u0022: { \u0022any\u0022: [ { \u0022name\u0022: \u0022Important\u0022 }, { \u0022id\u0022: \u0022\u2026\u0022 } ] }\u0060\n  - \u0060all\u0060 (AND semantics across options):\n    \u0060\u0022tags\u0022: { \u0022all\u0022: [ { \u0022name\u0022: \u0022Important\u0022 }, { \u0022name\u0022: \u0022Urgent\u0022 } ] }\u0060\n  - \u0060any\u0060 and \u0060all\u0060 are mutually exclusive.\n\nCustom field filtering requires \u0060filter.type\u0060 to be specified.\nMultiple custom field entries are combined with AND semantics \u2014 all must match.\nA request can include at most 25 custom field filters.\n"
      },
      "EntitySearchCustomFieldFilterValue": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Single-select option ID.",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "Single-select option name."
          },
          "contains": {
            "maxLength": 2000,
            "type": "string",
            "description": "Substring to match against TEXT field values (case-insensitive)."
          },
          "eq": {
            "$ref": "#/components/schemas/EntitySearchCustomFieldFilterValueEq"
          },
          "any": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EntitySearchCustomFieldFilterRef"
            },
            "description": "MULTI_SELECT OR-semantics \u2014 match entities whose field contains any of these options."
          },
          "all": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EntitySearchCustomFieldFilterRef"
            },
            "description": "MULTI_SELECT AND-semantics \u2014 match entities whose field contains all of these options."
          },
          "isSet": {
            "type": "boolean",
            "description": "Presence filter, must be the only key. \u0060true\u0060 matches entities whose field has a non-empty value; \u0060false\u0060 matches entities whose field has no value (unset or empty)."
          }
        },
        "additionalProperties": false,
[...]
