{"openapi":"3.1.1","info":{"version":"2.0.0","title":"Entities","termsOfService":"https://www.productboard.com/msa/","license":{"name":"proprietary","identifier":"unlicensed"},"contact":{"name":"Productboard Support","url":"https://support.productboard.com","email":"support@productboard.com"},"description":"Productboard API v2 for managing the following Entities: \n  - product\n  - component\n  - feature\n  - subfeature\n  - initiative\n  - objective\n  - keyResult\n  - release\n  - releaseGroup\n  - user\n  - company\n\n## Configuration-Driven API\n\nThis API is universal and respects the configuration of your Productboard workspace. \nThe available fields, their types, and capabilities are determined by your workspace \nconfiguration, permissions, and business logic.\n\n## Field Discovery\n\nTo discover what fields are available for each entity type and their capabilities, \nuse the \u0060/v2/entities/configuration\u0060 endpoint. This introspection endpoint returns:\n- Available fields (both standard and custom)\n- Field types and validation rules\n- Supported operations (read, create, update)\n- Available patch operations (set, addItems, removeItems, clear)\n- Required vs optional fields\n\n## Universal Entity Support\n\nThe API provides a unified interface for all listed entities. Each entity type \nsupports the same core operations (create, read, update, delete, search) while respecting \nthe specific configuration and field definitions for that entity type in your workspace.\n\n## Dynamic Field System\n\nCustom fields are identified by UUIDs and can be of various types (text, number, \nboolean, status, member, teams, tags, single_select, multi_select, rich_text, \ncalculated, date, health, work_progress). The exact fields available depend on \nyour workspace configuration.\n"},"servers":[{"url":"https://api.productboard.com/v2","description":"Production server"}],"security":[{"BearerAuth":[]},{"OAuth2":["entities:read","write:entities","entities:delete"]}],"tags":[{"name":"entities","description":"A resource for managing PM entities.\n"}],"paths":{"/entities/configuration":{"get":{"tags":["entities"],"summary":"Get configuration (deprecated)","description":"Note: this endpoint is deprecated, use \u0060/v2/entities/configurations/{type}\u0060 instead.\n\nReturns metadata for a specific Entities type, including supported fields, patch operations, and validation rules.  \nUse this to programmatically discover which fields are required, what types are available, and how your workspace is configured.\n","operationId":"getEntityConfigurationOld","security":[{"BearerAuth":["entities:read"]}],"parameters":[{"$ref":"#/components/parameters/Type"}],"responses":{"200":{"$ref":"#/components/responses/ConfigurationResponse"},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}}},"/entities/configurations":{"get":{"tags":["entities"],"summary":"List configurations","description":"Returns metadata for all available Entities type, including supported fields, patch operations, and validation rules.  \nUse this to programmatically discover what entity types are available for your workspace, which fields are required,\nwhat types are available, and how your workspace is configured.\n","operationId":"listEntityConfigurations","security":[{"BearerAuth":["entities:read"]}],"parameters":[{"name":"type[]","in":"query","required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/EntityType"}},"description":"You can specify multiple entity types for filtering."}],"responses":{"200":{"$ref":"#/components/responses/ConfigurationListResponse"},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}}},"/entities/configurations/{type}":{"get":{"tags":["entities"],"summary":"Get configuration","description":"Returns metadata for a specific Entities type, including supported fields, patch operations, and validation rules.  \nUse this to programmatically discover which fields are required, what types are available, and how your workspace is configured.\n","operationId":"getEntityConfiguration","security":[{"BearerAuth":["entities:read"]}],"parameters":[{"name":"type","in":"path","required":true,"schema":{"$ref":"#/components/schemas/EntityType"},"description":"The type of the entity"}],"responses":{"200":{"$ref":"#/components/responses/ConfigurationResponse"},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}}},"/entities":{"post":{"tags":["entities"],"summary":"Create entity","description":"Creates a new Entities of the specified type.  \nYou must specify the \u0060type\u0060 (e.g. \u0060feature\u0060, \u0060initiative\u0060) and provide required fields based on your workspace configuration.\n\nUse the \u0060/configuration\u0060 endpoint to discover what fields are available and required.\n\n## Limitations\n- The field names and availability depend on your workspace setup.\n","operationId":"createEntity","security":[{"BearerAuth":["entities:write"]}],"requestBody":{"$ref":"#/components/requestBodies/EntityCreateRequestBody"},"responses":{"201":{"$ref":"#/components/responses/ReferenceResponse"},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"422":{"$ref":"#/components/responses/UnprocessableEntityResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}},"get":{"tags":["entities"],"summary":"List entities","description":"Retrieves a paginated list of Entities.\nYou can filter results, sort them, and control which fields are returned.\n\n\u003E Without the \u0060members:pii:read\u0060 scope, owner email fields are returned as \u0060[redacted]\u0060. Filtering by \u0060owner[email]\u0060 requires the \u0060members:pii:read\u0060 scope. Without the \u0060users:pii:read\u0060 scope, user entity name and email fields are returned as \u0060[redacted]\u0060.\n\nUse the \u0060type[]\u0060 query parameter to filter by one or more entity types (e.g. \u0060type[]=feature\u0026type[]=initiative\u0060).\nUse the \u0060fields\u0060 parameter to request only the fields you need.\n\n## Filter availability\nNot all filters apply to all entity types. For example, \u0060status\u0060 filtering is only available\nfor types that have a status field (e.g. \u0060feature\u0060, \u0060initiative\u0060), and \u0060parent[id]\u0060 only works\nfor types that have a parent relationship.\n\nUse \u0060GET /v2/entities/configurations/{type}\u0060 to check which filters are supported for a specific type.\nThe \u0060filters\u0060 array in the configuration response lists all available filter parameters,\ntheir exact query parameter names, and value schemas.\n\n## Limitations\n- Only the \u0060AND\u0060 operator is supported when applying multiple filters. \u0060OR\u0060, \u0060NOT\u0060, or nested conditions are not supported.\n","operationId":"listEntities","security":[{"BearerAuth":["entities:read"]}],"parameters":[{"$ref":"#/components/parameters/PageCursor"},{"name":"type[]","in":"query","required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/EntityType"}},"description":"Filter by one or more entity types. Use array notation: \u0060type[]=feature\u0026type[]=initiative\u0060.\nCurrently supported PM entity types:\n  - product\n  - component\n  - feature\n  - subfeature\n  - initiative\n  - objective\n  - keyResult\n  - release\n  - releaseGroup\n  - user\n  - company\n\nThe exact types available may vary based on the configuration of the workspace.\n"},{"$ref":"#/components/parameters/Fields"},{"name":"name","in":"query","description":"Filter by entity name","schema":{"type":"string"}},{"name":"owner[id]","in":"query","description":"Filter by owner ID","schema":{"$ref":"#/components/schemas/UUID"}},{"name":"owner[email]","in":"query","description":"Filter by owner email","schema":{"type":"string","format":"email"}},{"name":"status[id]","in":"query","description":"Filter by status ID","schema":{"$ref":"#/components/schemas/UUID"}},{"name":"status[name]","in":"query","description":"Filter by status name","schema":{"type":"string"}},{"name":"archived","in":"query","description":"Filter by archived status (true/false)","schema":{"type":"boolean"}},{"name":"parent[id]","in":"query","description":"Filter by parent PM entity ID","schema":{"$ref":"#/components/schemas/UUID"}}],"responses":{"200":{"$ref":"#/components/responses/EntityListResponse"},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}}},"/entities/{id}":{"get":{"tags":["entities"],"summary":"Get entity","description":"Retrieves all configured fields and values for the specified Entities.\nUse this endpoint to load complete data for a single entity.\n\n\u003E Without the \u0060members:pii:read\u0060 scope, owner email is returned as \u0060[redacted]\u0060. Without the \u0060users:pii:read\u0060 scope, user entity name and email fields are returned as \u0060[redacted]\u0060.\n\nYou can limit the fields returned using the \u0060fields\u0060 query parameter.\n","operationId":"getEntity","security":[{"BearerAuth":["entities:read"]}],"parameters":[{"$ref":"#/components/parameters/Id"},{"$ref":"#/components/parameters/Fields"}],"responses":{"200":{"$ref":"#/components/responses/EntityResponse"},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}},"patch":{"tags":["entities"],"summary":"Update entity","description":"Updates one or more fields of a Entities.  \nUse \u0060fields\u0060 for full replacement of values, or \u0060patch\u0060 for granular changes like adding/removing items in list-type fields.  \nYou must use either \u0060fields\u0060 or \u0060patch\u0060 \u2013 not both.\n\nThe \u0060patch\u0060 property supports these operations:\n- \u0060set\u0060 \u2013 same as setting a value via \u0060fields\u0060\n- \u0060addItems\u0060 \u2013 add one or more values to a list field\n- \u0060removeItems\u0060 \u2013 remove values from a list field\n- \u0060clear\u0060 \u2013 erase the value of the field\n\n## Limitations\n- Providing both \u0060fields\u0060 and \u0060patch\u0060 in the same request will return an error.\n","operationId":"updateEntity","security":[{"BearerAuth":["entities:write"]}],"parameters":[{"$ref":"#/components/parameters/Id"}],"requestBody":{"$ref":"#/components/requestBodies/EntityPatchRequestBody"},"responses":{"200":{"$ref":"#/components/responses/EntityUpdateResponse"},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"422":{"$ref":"#/components/responses/UnprocessableEntityResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}},"delete":{"tags":["entities"],"summary":"Delete entity","description":"Deletes a Product Management entity by ID. This operation permanently removes the specified entity from your workspace.\n\nIf the entity has any child entities (e.g. a product with components, or a feature with subfeatures), those children will be **deleted automatically** as part of a cascading delete.\n\n**Use this endpoint with caution \u2014 deletion is irreversible.**\n","operationId":"deleteEntity","security":[{"BearerAuth":["entities:delete"]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/UUID"},"description":"The ID of the PM entity to delete."}],"responses":{"204":{"$ref":"#/components/responses/NoContentResponse"},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"422":{"$ref":"#/components/responses/UnprocessableEntityResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}}},"/entities/search":{"post":{"tags":["entities"],"summary":"Search entities","description":"Performs a filtered search over Entities using a POST request.\nThis endpoint supports the same filtering capabilities as \u0060GET /v2/entities\u0060, but allows a larger and more complex payload.\nIt\u0027s useful when filtering by a long list of foreign key IDs or when URL length limits become a problem.\n\n## Filter availability\nNot all filters apply to all entity types. For example, \u0060status\u0060 filtering is only available\nfor types that have a status field (e.g. \u0060feature\u0060, \u0060initiative\u0060), and \u0060parent\u0060 filtering only works\nfor types that have a parent relationship.\n\nUse \u0060GET /v2/entities/configurations/{type}\u0060 to check which filters are supported for a specific type.\nThe \u0060filters\u0060 array in the configuration response lists all available filter parameters,\ntheir exact query parameter names, and value schemas.\n\n\u003E Filtering by \u0060owner[email]\u0060 requires the \u0060members:pii:read\u0060 scope.\n\n## Limitations\n- Only the \u0060AND\u0060 operator is supported when applying multiple filters. \u0060OR\u0060, \u0060NOT\u0060, or nested conditions are not supported.\n- You can search only within one entity type at a time.\n","operationId":"performEntitiesSearch","security":[{"BearerAuth":["entities:read"]}],"parameters":[{"$ref":"#/components/parameters/PageCursor"}],"requestBody":{"$ref":"#/components/requestBodies/EntitySearchRequestBody"},"responses":{"200":{"$ref":"#/components/responses/EntityListResponse"},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"422":{"$ref":"#/components/responses/UnprocessableEntityResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}}},"/entities/{id}/relationships":{"get":{"tags":["entities"],"summary":"List relationships","description":"Retrieves all relationships associated with a specific Entities.\nThis includes parent, child, and linked entities.\nUse this endpoint to understand how an entity is connected within the product hierarchy or planning structure.\n\nThe source entity is implicit (this entity).\n","operationId":"listEntityRelationships","security":[{"BearerAuth":["entities:read"]}],"parameters":[{"$ref":"#/components/parameters/Id"},{"in":"query","name":"type","schema":{"$ref":"#/components/schemas/EntityRelationshipType"},"required":false,"description":"The type of the relationship to filter by (optional)"},{"in":"query","name":"target[type]","schema":{"$ref":"#/components/schemas/EntityType"},"required":false,"description":"The entity type of the target to filter relationships by (optional)"},{"in":"query","name":"target[id]","schema":{"$ref":"#/components/schemas/UUID"},"required":false,"description":"The ID of the target entity to filter the relationships by (optional)"},{"$ref":"#/components/parameters/PageCursor"}],"responses":{"200":{"$ref":"#/components/responses/EntityRelationshipListResponse"},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}},"post":{"tags":["entities"],"summary":"Create relationship","description":"Creates a relationship between two Entities.  \nSpecify the source entity via the URL path (\u0060{id}\u0060), and the target entity and relationship type in the request body.\n\nThe \u0060type\u0060 field determines the direction and nature of the relationship.  \nSupported values:\n- \u0060parent\u0060 \u2013 declare the target as the parent of the source\n- \u0060child\u0060 \u2013 declare the target as the child of the source\n- \u0060link\u0060 \u2013 create a non-hierarchical connection between entities\n- \u0060isBlockedBy\u0060 \u2013 create a dependency between entities\n- \u0060isBlocking\u0060 \u2013 create a dependency between entities\n\n## Limitations\n- Only valid combinations of source and target entities are allowed for each relationship type.\n- The target entity must exist and be accessible.\n","operationId":"createEntityRelationship","security":[{"BearerAuth":["entities:write"]}],"parameters":[{"$ref":"#/components/parameters/Id"}],"requestBody":{"$ref":"#/components/requestBodies/EntityRelationshipCreateRequestBody"},"responses":{"201":{"$ref":"#/components/responses/EntityRelationshipResponse"},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"409":{"$ref":"#/components/responses/ConflictResponse"},"422":{"$ref":"#/components/responses/UnprocessableEntityResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}}},"/entities/{id}/relationships/parent":{"put":{"tags":["entities"],"summary":"Set parent relationship","description":"Replaces the parent of a specific Entities.  \nSome entity types (such as features and subfeatures) are required to have a parent.  \nThis endpoint allows you to update the parent entity when the relationship changes.\n\nThe new parent is specified in the request body using the \u0060target.id\u0060 field.\n\n## Limitations\n- Only valid parent relationships are allowed (e.g. feature \u2192 component, subfeature \u2192 feature).\n- The target entity must exist and be a valid parent type.\n- This will overwrite any existing parent relationship.\n","operationId":"replaceEntityRelationship","security":[{"BearerAuth":["entities:write"]}],"parameters":[{"$ref":"#/components/parameters/Id"}],"requestBody":{"$ref":"#/components/requestBodies/EntityParentRelationshipReplaceRequestBody"},"responses":{"200":{"$ref":"#/components/responses/EntityRelationshipReplaceResponse"},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"422":{"$ref":"#/components/responses/UnprocessableEntityResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}}},"/entities/{id}/relationships/{type}/{targetId}":{"delete":{"tags":["entities"],"summary":"Delete relationship","description":"Removes a relationship between two Entities.  \nUse the \u0060type\u0060 query parameter to indicate which kind of relationship you want to remove.\n","operationId":"deleteEntityRelationship","security":[{"BearerAuth":["entities:write"]}],"parameters":[{"$ref":"#/components/parameters/Id"},{"name":"type","in":"path","required":true,"schema":{"$ref":"#/components/schemas/EntityRelationshipType"}},{"name":"targetId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/UUID"},"description":"The ID of the target entity to delete the relationship with."}],"responses":{"204":{"$ref":"#/components/responses/NoContentResponse"},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"422":{"$ref":"#/components/responses/UnprocessableEntityResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}}},"/entities/fields/{id}/values":{"get":{"tags":["fields"],"summary":"List field values","description":"Returns a paginated list of allowed values for select-type and status fields (SINGLE_SELECT, MULTI_SELECT, STATUS).\nUse this endpoint to retrieve all available options for fields with many values, or when you need\nto paginate through all values.\n\nFor fields with fewer values (\u22641000), the values are returned inline in the field response.\nFor fields with more values, the field response contains a reference to this endpoint.\n","operationId":"listEntityFieldValues","security":[{"BearerAuth":["entities:read"]}],"parameters":[{"name":"id","in":"path","required":true,"description":"Field identifier (UUID for custom fields, API name for default fields).","schema":{"type":"string"}},{"name":"assignedEntityType[]","in":"query","required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/EntityType"}},"style":"form","description":"Filter values by assigned entity type. Useful for status fields where different entity types have different status sets."},{"$ref":"#/components/parameters/PageCursor"}],"responses":{"200":{"$ref":"#/components/responses/FieldValuesListResponse"},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"408":{"$ref":"#/components/responses/RequestTimeoutResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"}}}}},"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"API token authentication. Use your API token as the value of the Authorization header"},"OAuth2":{"type":"oauth2","description":"OAuth 2.0 authentication. Use this for user-authorized access to Productboard API.","flows":{"authorizationCode":{"authorizationUrl":"https://app.productboard.com/oauth/authorize","tokenUrl":"https://app.productboard.com/oauth/token","scopes":{"entities:read":"Read access to entities (features, components, initiatives, etc.)","write:entities":"Write access to create and modify entities","entities:delete":"Delete entities"}}}}},"schemas":{"ResourceReferenceAssign":{"type":"object","description":"Entity reference assignment using unique identifier for Entities.\n\n## Behavior\n- Simple ID-only assignment for referencing other entities\n- Used for establishing relationships between entities (parent, child, link)\n- UUID must match an existing entity in the workspace\n- Commonly used in relationship creation and updates\n","properties":{"id":{"$ref":"#/components/schemas/UUID"}}},"ResourceReference":{"type":"object","description":"# Description\nA common response object of entity reference.\n\n# Validation\n\n# Filtering\n","required":["id","type"],"properties":{"id":{"$ref":"#/components/schemas/UUID"},"type":{"$ref":"#/components/schemas/EntityType"},"links":{"$ref":"#/components/schemas/ResourceLinks"}}},"Entity":{"description":"The entity payload containing the resource data and its relationships.\n","allOf":[{"$ref":"#/components/schemas/ResourceReference"},{"type":"object","properties":{"fields":{"$ref":"#/components/schemas/EntityFields"},"relationships":{"$ref":"#/components/schemas/EntityRelationships"},"metadata":{"$ref":"#/components/schemas/EntityMetadata"},"createdAt":{"$ref":"#/components/schemas/DateTimeFieldValue"},"updatedAt":{"$ref":"#/components/schemas/DateTimeFieldValue"}}}],"example":{"id":"195a1cb2-728f-4be8-900f-aebbd84d7944","type":"feature","fields":{"title":"Awesome Public API","owner":{"email":"john@doe.com"},"tags":["api","enterprise"],"timeframe":{"startDate":"2023-10-01","endDate":"2023-10-31"}},"relationships":{"data":[{"type":"parent","target":{"id":"318de52f-4e38-4c94-a550-a0d47a1f212e","type":"component","links":{"self":"https://api.productboard.com/v2/entities/318de52f-4e38-4c94-a550-a0d47a1f212e"}}}],"links":{"next":null}},"links":{"self":"https://api.productboard.com/v2/entities/195a1cb2-728f-4be8-900f-aebbd84d7944"},"createdAt":"2023-10-01T00:00:00Z","updatedAt":"2023-10-01T00:00:00Z"}},"EntityFields":{"type":"object","additionalProperties":{"anyOf":[{"$ref":"#/components/schemas/EntityFieldValue"},{"type":null}]}},"EntityFieldValue":{"description":"A list of possible value types of PM entity fields.\nThis should cover all possible fields of all PM entity types.\n","anyOf":[{"$ref":"#/components/schemas/BooleanFieldValue"},{"$ref":"#/components/schemas/DateFieldValue"},{"$ref":"#/components/schemas/DateTimeFieldValue"},{"$ref":"#/components/schemas/HealthFieldValue"},{"$ref":"#/components/schemas/MemberFieldValue"},{"$ref":"#/components/schemas/MultiSelectFieldValue"},{"$ref":"#/components/schemas/NameFieldValue"},{"$ref":"#/components/schemas/NumberFieldValue"},{"$ref":"#/components/schemas/NumberFieldValueWithMode"},{"$ref":"#/components/schemas/ProgressFieldValue"},{"$ref":"#/components/schemas/RichTextFieldValue"},{"$ref":"#/components/schemas/SingleSelectFieldValue"},{"$ref":"#/components/schemas/StatusFieldValue"},{"$ref":"#/components/schemas/TeamsFieldValue"},{"$ref":"#/components/schemas/TextFieldValue"},{"$ref":"#/components/schemas/TimeframeFieldValue"},{"$ref":"#/components/schemas/URLFieldValue"},{"$ref":"#/components/schemas/UUIDFieldValue"},{"$ref":"#/components/schemas/WorkProgressFieldValue"}]},"EntityCreateOrUpdateFields":{"type":"object","description":"A collection of fields that can be used to create or update a PM entity.\nIt is a subset of \u0060EntityFields\u0060 that is used for creation or update operations.\n\n## Dual Format Support\nMost field types support two input formats:\n- **Simple format**: Direct value (e.g., \u0060\u0022text\u0022\u0060, \u0060123\u0060, \u0060true\u0060)\n- **Object format**: Value with metadata (e.g., \u0060{\u0022value\u0022: \u0022text\u0022, \u0022metadata\u0022: {...}}\u0060)\n\n## Metadata Support\nCustom fields (identified by UUID) and specific field types (\u0060domain\u0060, \u0060email\u0060, \u0060effort\u0060) support \noptional metadata that allows tracking the external source of field values:\n- \u0060source.system\u0060: Name of the external system that provided the value\n- \u0060source.recordId\u0060: Identifier of the record in the external system\n- \u0060isViewableOnly\u0060: Whether the value is read-only from external source\n\nMetadata sent for other fields is ignored.\n","additionalProperties":{"anyOf":[{"$ref":"#/components/schemas/EntityCreateOrUpdateFieldValue"},{"type":null}]}},"EntityCreateOrUpdateFieldValue":{"description":"A list of create/update payloads for possible value types of a resource fields.\n","anyOf":[{"$ref":"#/components/schemas/BooleanFieldValue"},{"$ref":"#/components/schemas/BooleanFieldValueWithMetadata"},{"$ref":"#/components/schemas/DateFieldValue"},{"$ref":"#/components/schemas/DateFieldValueWithMetadata"},{"$ref":"#/components/schemas/DateTimeFieldValue"},{"$ref":"#/components/schemas/HealthUpdateFieldValue"},{"$ref":"#/components/schemas/HealthUpdateFieldValueWithMetadata"},{"$ref":"#/components/schemas/MemberFieldAssign"},{"$ref":"#/components/schemas/MultiSelectFieldAssign"},{"$ref":"#/components/schemas/NameFieldValue"},{"$ref":"#/components/schemas/NumberFieldValue"},{"$ref":"#/components/schemas/NumberFieldValueWithMetadata"},{"$ref":"#/components/schemas/NumberValueModeUpdate"},{"$ref":"#/components/schemas/ProgressFieldValue"},{"$ref":"#/components/schemas/ProgressFieldValueWithMetadata"},{"$ref":"#/components/schemas/RichTextFieldValue"},{"$ref":"#/components/schemas/RichTextFieldValueWithMetadata"},{"$ref":"#/components/schemas/SingleSelectFieldAssign"},{"$ref":"#/components/schemas/StatusFieldAssign"},{"$ref":"#/components/schemas/TeamFieldAssign"},{"$ref":"#/components/schemas/TextFieldValue"},{"$ref":"#/components/schemas/TextFieldValueWithMetadata"},{"$ref":"#/components/schemas/TimeframeFieldValue"},{"$ref":"#/components/schemas/TimeframeFieldValueWithMetadata"},{"$ref":"#/components/schemas/URLFieldValue"},{"$ref":"#/components/schemas/URLFieldValueWithMetadata"},{"$ref":"#/components/schemas/UUIDFieldValue"},{"$ref":"#/components/schemas/UUIDFieldValueWithMetadata"},{"$ref":"#/components/schemas/WorkProgressFieldValue"},{"$ref":"#/components/schemas/WorkProgressFieldValueWithMetadata"}]},"EntityPatch":{"type":"array","description":"A list of patch operations to perform on a PM entity field.\nEach operation can be one of \u0060set\u0060, \u0060addItems\u0060, \u0060removeItems\u0060, or \u0060clear\u0060.\n","items":{"oneOf":[{"$ref":"#/components/schemas/EntityPatchOperation"},{"$ref":"#/components/schemas/EntityPatchOperationClear"}]}},"EntityPatchOperation":{"type":"object","description":"This patch operation replaces the value of a field, or adds/removes values from it.\n","required":["op","path","value"],"additionalProperties":false,"properties":{"op":{"type":"string","description":"The operation to perform on the field.\nCan be one of \u0060set\u0060, \u0060addItems\u0060, \u0060removeItems\u0060.\n","enum":["set","addItems","removeItems"]},"path":{"type":"string","description":"The path to the field to be modified.\nIt is usually a field id (eg. \u0022tags\u0022, \u0022owner\u0022, \u002200000000-0000-0000-0000-000000000000\u0022).\n"},"value":{"$ref":"#/components/schemas/EntityCreateOrUpdateFieldValue"}}},"EntityPatchOperationClear":{"type":"object","description":"This patch operation clears the value of a field.\n","required":["op","path"],"additionalProperties":false,"properties":{"op":{"type":"string","description":"The operation to perform on the field.\nCan be one of \u0060clear\u0060.\n","enum":["clear"]},"path":{"type":"string","description":"The path to the field to be modified.\nIt is usually a field id (eg. \u0022tags\u0022, \u0022owner\u0022, \u002200000000-0000-0000-0000-000000000000\u0022).\n"}}},"EntitySearch":{"type":"object","description":"Request body for searching entities. Supports two formats:\n\n**New format** (recommended): Uses a structured \u0060filter\u0060 object with nested field groups.\n**Legacy format** (deprecated): Uses flat properties directly under \u0060data\u0060.\n\nBoth formats are accepted. The legacy format will continue to work but is deprecated\nin favour of the new structured format. Format is detected by the presence of the \u0060filter\u0060 key.\n","additionalProperties":false,"properties":{"filter":{"$ref":"#/components/schemas/EntitySearchFilter"},"return":{"$ref":"#/components/schemas/EntitySearchReturn"},"type":{"$ref":"#/components/schemas/EntityType","deprecated":true,"description":"**(Legacy, deprecated)** Use \u0060filter.type\u0060 instead.\n"},"types":{"type":"array","deprecated":true,"description":"**(Legacy, deprecated)** Use \u0060filter.type\u0060 instead.\n","items":{"$ref":"#/components/schemas/EntityType"}},"ids":{"type":"array","deprecated":true,"description":"**(Legacy, deprecated)** Use \u0060filter.id\u0060 instead.\n","items":{"$ref":"#/components/schemas/UUID"}},"name":{"$ref":"#/components/schemas/NameFieldValue","deprecated":true,"description":"**(Legacy, deprecated)** Use \u0060filter.fields.name\u0060 instead.\n"},"archived":{"$ref":"#/components/schemas/BooleanFieldValue","deprecated":true,"description":"**(Legacy, deprecated)** Use \u0060filter.fields.archived\u0060 instead.\n"},"parent":{"$ref":"#/components/schemas/ResourceReferenceAssign","deprecated":true,"description":"**(Legacy, deprecated)** Use \u0060filter.relationships.parent\u0060 instead.\n"},"statuses":{"type":"array","deprecated":true,"description":"**(Legacy, deprecated)** Use \u0060filter.fields.status\u0060 instead.\n","items":{"$ref":"#/components/schemas/StatusFieldAssign"}},"owners":{"type":"array","deprecated":true,"description":"**(Legacy, deprecated)** Use \u0060filter.fields.owner\u0060 instead.\n","items":{"$ref":"#/components/schemas/MemberFieldAssign"}},"fields":{"deprecated":true,"description":"**(Legacy, deprecated)** Use \u0060return.fields\u0060 instead.\n","anyOf":[{"type":"string","enum":["all","default"]},{"type":"array","items":{"type":"string"}}]}}},"EntitySearchFilter":{"type":"object","description":"Filter criteria for the entity search.\n","properties":{"type":{"type":"array","items":{"$ref":"#/components/schemas/EntityType"},"description":"Filter by one or more entity types. If empty or not provided, searches across all entity types.\n"},"id":{"type":"array","items":{"$ref":"#/components/schemas/UUID"},"description":"Filter by entity IDs."},"createdAt":{"$ref":"#/components/schemas/DateRangeFilter"},"updatedAt":{"$ref":"#/components/schemas/DateRangeFilter"},"fields":{"$ref":"#/components/schemas/EntitySearchFieldFilters"},"relationships":{"$ref":"#/components/schemas/EntitySearchRelationshipFilters"},"metadata":{"$ref":"#/components/schemas/EntitySearchMetadataFilter"}}},"EntitySearchFieldFilters":{"type":"object","description":"Filters applied to entity field values.\n","properties":{"name":{"$ref":"#/components/schemas/NameFieldValue"},"archived":{"$ref":"#/components/schemas/BooleanFieldValue"},"owner":{"type":"array","items":{"$ref":"#/components/schemas/MemberFieldAssign"}},"status":{"type":"array","items":{"$ref":"#/components/schemas/StatusFieldAssign"}},"creator":{"type":"array","description":"Filter by creator (not yet active).","items":{"$ref":"#/components/schemas/MemberFieldAssign"}}}},"EntitySearchRelationshipFilters":{"type":"object","description":"Filters applied to entity relationships.\n","properties":{"parent":{"type":"array","items":{"$ref":"#/components/schemas/ResourceReferenceAssign"}},"customer":{"type":"array","description":"Filter by linked customer (not yet active).","items":{"$ref":"#/components/schemas/ResourceReferenceAssign"}}}},"EntitySearchMetadataFilter":{"type":"object","description":"Filters applied to entity metadata (not yet active).\n","properties":{"source":{"type":"object","properties":{"system":{"type":"string"},"recordId":{"type":"string"}}}}},"DateRangeFilter":{"type":"object","description":"A date range filter with optional \u0060from\u0060 and \u0060to\u0060 bounds.\n","properties":{"from":{"type":"string","format":"date-time"},"to":{"type":"string","format":"date-time"}}},"EntitySearchReturn":{"type":"object","description":"Controls which fields are included in the response.\n","properties":{"fields":{"description":"Controls which fields are returned in the response to optimize bandwidth and tailor data to your needs.\n\n**Options:**\n- Not specified or \u0060null\u0060: Returns only fields with non-empty values\n- \u0060[\u0022all\u0022]\u0060: Returns all fields, including those with \u0060null\u0060 values\n- \u0060[\u0022name\u0022, \u0022status\u0022, ...]\u0060: Returns only the specified fields\n\nFor detailed usage, examples, and field discovery, see [Response Field Control](https://developer.productboard.com/v2.0.0/reference/response-field-control).\n","type":"array","items":{"type":"string"}}}},"Configuration":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/EntityType"},"fields":{"type":"object","description":"A key-value definition fields that are part of the entity.\nKey represents field id (eg. name, description, or UUID)\n","additionalProperties":{"$ref":"#/components/schemas/ConfigurationField"}},"relationships":{"type":"object","description":"A key-value definition of possible relationships to other entities.\nKey represents the relationship type to other entities (child, parent, link)\n","additionalProperties":{"$ref":"#/components/schemas/ConfigurationRelationship"}},"filters":{"type":"array","description":"Available filter parameters for this entity type.\nUse these as query parameters on \u0060GET /v2/entities\u0060 or as keys in \u0060POST /v2/entities/search\u0060 request body.\nNot all entity types support the same filters \u2014 this list is type-specific.\n","items":{"$ref":"#/components/schemas/ConfigurationFilterParameter"}},"links":{"$ref":"#/components/schemas/ResourceLinks"}}},"ConfigurationFilterParameter":{"type":"object","description":"Describes a single filter parameter available for an entity type.\nThe \u0060name\u0060 is the exact query parameter name to use when filtering entities.\n","required":["name","schema"],"properties":{"name":{"type":"string","description":"The query parameter name to use when filtering.\nUse this exact name as a query parameter on \u0060GET /v2/entities\u0060\nor as a key in the \u0060POST /v2/entities/search\u0060 request body.\n","example":"owner[id]"},"field":{"type":"string","description":"The field ID this filter applies to, when the filter is based on a field.\n","example":"owner"},"relationship":{"type":"string","description":"The relationship key this filter applies to, when the filter is based on a relationship.\n","example":"parent"},"schema":{"$ref":"#/components/schemas/ConfigurationFilterSchema"},"requiredScopes":{"type":"array","description":"OAuth2 scopes required to use this filter,\nbeyond the standard entity scopes. Omitted when no additional scopes are needed.\n","items":{"type":"string"},"example":["members:pii:read"]}}},"ConfigurationFilterSchema":{"type":"object","description":"Describes the expected value type and format for a filter parameter.\n","required":["type"],"properties":{"type":{"type":"string","description":"The value type expected for this filter.","enum":["string","boolean","integer","number"]},"format":{"type":"string","description":"Additional format hint for the value.\n","enum":["uuid","email","date","date-time"]}}},"ConfigurationRelationship":{"type":"object","required":["targetType","cardinality","mandatory"],"properties":{"targetType":{"type":"array","items":{"$ref":"#/components/schemas/EntityType"}},"cardinality":{"type":"string","description":"Whether the entity can have single or multiple relationships of a given type\n","enum":["single","multiple"]},"mandatory":{"type":"boolean","description":"Specifies whether the entity must have such relationship to a target entity (e.g. it must have parent).\nIf a relationship is mandatory and can have multiple entity types as targets, then there must exist *at least\none* relationship to an entity that is of any of the specified types.\n\nFor example, a feature must have a parent that is either a component, or a product.\n","default":false}}},"ConfigurationFieldLifecycle":{"type":"object","description":"Defines the available operations for a field during different lifecycle stages.\nPossible lifecycle stages are \u0060create\u0060, \u0060update\u0060 and \u0060patch\u0060.\n  - \u0060create\u0060 defines what operations are allowed when creating an entity\n  - \u0060update\u0060 defines what operations are allowed when using a simple patch via \u0060data.fields\u0060\n  - \u0060patch\u0060 defines what operations are allowed when using a JSON Patch via \u0060data.patch\u0060 array\n","additionalProperties":{"$ref":"#/components/schemas/ConfigurationFieldLifecycleOperation"}},"ConfigurationFieldLifecycleOperation":{"type":"object","description":"Defines the specific operations allowed during a lifecycle stage.\n","properties":{"set":{"type":"boolean","description":"Whether the field value can be set (assigned).\n","default":false},"clear":{"type":"boolean","description":"Whether the field value can be cleared (set to null/empty).\n","default":false},"addItems":{"type":"boolean","description":"Whether items can be added to the field (for list-type fields).\n","default":false},"removeItems":{"type":"boolean","description":"Whether items can be removed from the field (for list-type fields).\n","default":false}}},"ConfigurationFieldConstraints":{"type":"object","description":"Validation constraints and rules for the field.\n","properties":{"maxLength":{"type":"integer","description":"Maximum length for text fields.\n","minimum":0,"example":255},"maxSize":{"type":"integer","description":"Maximum size in bytes for content fields.\n","minimum":0,"example":1048576},"maxItems":{"type":"integer","description":"Maximum number of items for list-type fields.\n","minimum":0,"example":20},"allowEmpty":{"type":"boolean","description":"Whether empty string values are allowed.\n","default":true},"required":{"type":"boolean","description":"Whether the field is required.\n","default":false},"uniqueItems":{"type":"boolean","description":"Whether items in list-type fields must be unique.\n","default":false},"values":{"$ref":"#/components/schemas/ConfigurationFieldConstraintsValues"}}},"ConfigurationFieldConstraintsValues":{"type":"object","description":"Defines constraints on allowed values for the field.\n","properties":{"query":{"$ref":"#/components/schemas/ConfigurationFieldConstraintsQuery"}}},"ConfigurationFieldConstraintsQuery":{"type":"object","description":"Query-based value constraints referencing external endpoints.\n","properties":{"links":{"type":"object","properties":{"list":{"type":"string","format":"uri","description":"URL endpoint that provides the list of allowed values.\n","example":"https://api.productboard.com/v2/members?active=true\u0026role=product_manager"}}}}},"ConfigurationFieldDefaultValue":{"type":"object","description":"Default value configuration for the field.\n","oneOf":[{"$ref":"#/components/schemas/ConfigurationFieldDefaultValueObject"},{"$ref":"#/components/schemas/ConfigurationFieldDefaultValueSource"}]},"ConfigurationFieldDefaultValueObject":{"type":"object","description":"Explicit default value object.\n","properties":{"value":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/UUID"},"name":{"type":"string","example":"New Idea"}}}}},"ConfigurationFieldDefaultValueSource":{"type":"object","description":"Runtime-computed default value (e.g., authenticated user).\n","required":["type","source"],"properties":{"type":{"type":"string","enum":["runtime"],"example":"runtime"},"source":{"type":"string","enum":["authenticatedMember"],"example":"authenticatedMember"}}},"FieldValues":{"type":"object","description":"Configuration for field values. Provides inline data for small sets\nand/or a reference link for large/dynamic sets.\n\nInterpretation:\n- \u0060data\u0060 only \u2192 Complete set inline\n- \u0060data\u0060 \u002B \u0060links.next\u0060 \u2192 Preview in data, full list at link\n- \u0060data\u0060 empty \u002B \u0060links.next\u0060 \u2192 Fully dynamic, fetch from link\n","required":["data"],"properties":{"data":{"type":"array","description":"Inline value options. Can be empty.\nFor small sets: contains all values.\nFor large sets: contains preview or empty.\n","items":{"$ref":"#/components/schemas/FieldValueItem"}},"links":{"type":"object","properties":{"next":{"type":"string","format":"uri","description":"URL to fetch values. Present only when more values exist\nbeyond what\u0027s in \u0060data\u0060. Supports pagination via \u0060pageCursor\u0060.\n"}}}},"example":{"data":[{"id":"a09fccc8-a4ac-4262-84f1-68ad77f82265","name":"High"},{"id":"043d163b-fda2-47fd-82ed-4026ad1965e6","name":"Medium"},{"id":"b2debcbc-5034-4768-aff4-9f52e6c8427e","name":"Low"}]}},"FieldValueItem":{"type":"object","description":"A single allowed value for a select-type or status field.\n","required":["id","name"],"properties":{"id":{"type":"string","format":"uuid","description":"Unique identifier of the value."},"name":{"type":"string","description":"Display name of the value."},"assignedEntityTypes":{"type":"array","description":"Entity types this value is assigned to. Only present for status field values.\n","items":{"$ref":"#/components/schemas/EntityType"}}},"examples":[{"summary":"Status field value with assigned entity types","value":{"id":"a09fccc8-a4ac-4262-84f1-68ad77f82265","name":"In Progress","assignedEntityTypes":["feature","initiative"]}},{"summary":"Simple select field value","value":{"id":"b2debcbc-5034-4768-aff4-9f52e6c8427e","name":"High"}}]},"ConfigurationField":{"type":"object","description":"Field configuration with inline JSON schema and path for API operations.\nThis structure is used for all fields, including nested properties.\n","required":["id","name","path","schema"],"properties":{"id":{"type":"string","description":"The unique identifier of the field. For simple fields like \u0022name\u0022, \nfor nested fields like \u0022timeframe.startDate\u0022, for UUID custom fields.\n","pattern":"^([a-z][a-zA-Z]*(\\.[a-z][a-zA-Z]*)?)|([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})$","example":"name"},"name":{"type":"string","description":"The display name of the field.\n","example":"Name"},"path":{"type":"string","description":"The path used for API operations. Uses \u0022/fields/\u0022 prefix and nested paths for properties.\n","pattern":"^/fields/[a-z][a-zA-Z]*(/[a-z][a-zA-Z]*)?$|^/fields/[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$","example":"/fields/name"},"schema":{"type":"object","description":"Inline JSON Schema that defines this field\u0027s structure.\n","example":{"type":"string"}},"links":{"$ref":"#/components/schemas/ResourceLinks"},"lifecycle":{"$ref":"#/components/schemas/ConfigurationFieldLifecycle"},"constraints":{"$ref":"#/components/schemas/ConfigurationFieldConstraints"},"default":{"$ref":"#/components/schemas/ConfigurationFieldDefaultValue"},"values":{"$ref":"#/components/schemas/FieldValues"}}},"EntityRelationships":{"description":"A collection of relationships between this entity and other entities.\nThe list is paginated, to see the rest of the relationships follow the URL contained in the\n\u0060links.next\u0060 attribute.\n","type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/EntityRelationship"}},"links":{"$ref":"#/components/schemas/ListLinks"}}},"EntityRelationship":{"description":"Represents a relationship between two entities.\nThe source entity is implicit from the request context (the entity being queried).\n","type":"object","required":["type","target"],"properties":{"type":{"$ref":"#/components/schemas/EntityRelationshipType"},"target":{"$ref":"#/components/schemas/ResourceReference"}}},"EntityRelationshipType":{"type":"string","description":"The type of the relationship to be established.\n\n## Relationships\n- \u0060parent\u0060: Hierarchical relationship indicating the entity is a child of the target\n- \u0060child\u0060: Hierarchical relationship indicating the entity contains the target\n- \u0060link\u0060: Generic bidirectional relationship without semantic meaning\n- \u0060isBlockedBy\u0060: Dependency relationship indicating the entity cannot proceed until the target is resolved\n- \u0060isBlocking\u0060: Dependency relationship indicating the entity prevents progress on the target\n","enum":["parent","child","link","isBlockedBy","isBlocking"],"default":"link"},"EntityRelationshipCreate":{"type":"object","description":"Payload representing a new relationship towards target entity.\n","required":["target"],"properties":{"type":{"$ref":"#/components/schemas/EntityRelationshipType"},"target":{"$ref":"#/components/schemas/ResourceReferenceAssign"}}},"EntityType":{"type":"string","description":"Supported Entity types:\n  - product\n  - component\n  - feature\n  - subfeature\n  - initiative\n  - objective\n  - keyResult\n  - release\n  - releaseGroup\n  - company\n  - user\n\nThe exact types available may vary based on the configuration of the workspace.\n","enum":["product","component","feature","subfeature","initiative","objective","keyResult","release","releaseGroup","company","user"]},"Field":{"type":"object","allOf":[{"$ref":"#/components/schemas/FieldReference"},{"type":"object","required":["fields"],"properties":{"fields":{"type":"object","required":["name","assignedEntityTypes"],"properties":{"name":{"type":"string","description":"Name of the field."},"description":{"$ref":"#/components/schemas/RichTextFieldValue","description":"Optional description of the field."},"assignedEntityTypes":{"type":"array","items":{"$ref":"#/components/schemas/EntityType"}},"values":{"$ref":"#/components/schemas/FieldValues"}}}}}],"examples":[{"summary":"Field with inline values (\u22641000 options)","value":{"id":"be0f15ed-7e9c-4815-a974-adced8c55602","type":"MULTI_SELECT","fields":{"name":"Custom multi-select field","description":"","assignedEntityTypes":["feature","subfeature"],"values":{"data":[{"id":"61583659-de77-4c70-9715-c88a8477d7d7","name":"Another"},{"id":"c8735e5c-a1a9-43da-b745-6b3ec51a611f","name":"First"},{"id":"55bf52b4-b725-45a9-9b9a-abc4ace3c1fc","name":"Second"},{"id":"766740e7-5cbd-41d9-a75b-b6b0a2d9da77","name":"Third"}]}}}},{"summary":"Field with referenced values (\u003E1000 options)","value":{"id":"be0f15ed-7e9c-4815-a974-adced8c55602","type":"SINGLE_SELECT","fields":{"name":"Customer Tags","description":"","assignedEntityTypes":["feature"],"values":{"data":[],"links":{"next":"https://api.productboard.com/v2/entities/fields/be0f15ed-7e9c-4815-a974-adced8c55602/values"}}}}}]},"FieldReference":{"type":"object","description":"# Description\nA common response object of field reference.\n","required":["id","type"],"properties":{"id":{"$ref":"#/components/schemas/UUID"},"type":{"$ref":"#/components/schemas/FieldCreateType"},"links":{"$ref":"#/components/schemas/ResourceLinks"}}},"FieldOrigin":{"type":"string","description":"Origin of the field definition.","enum":["default","custom"]},"ApiSource":{"type":"object","description":"Value sourced from an external API or integration.\n\n## Behavior\n- \u0060system\u0060: Optional display name for the external system (e.g., \u0022Salesforce\u0022, \u0022Jira\u0022)\n- \u0060recordId\u0060: Optional combined ID in format \u0060com.organization:recordId\u0060 (e.g., \u0060com.salesforce:acc-12345\u0060)\n- \u0060url\u0060: Optional URL linking to the record in the external system\n","properties":{"system":{"type":"string","example":"Salesforce"},"recordId":{"type":"string","example":"com.salesforce:acc-12345"},"url":{"type":"string","format":"uri","maxLength":1024,"example":"https://salesforce.com/acc-12345"}}},"ValueMetadata":{"type":"object","description":"Metadata associated with a field value, including its source and visibility settings.\n\n## Behavior\n- \u0060source\u0060: Origin of the value from external API\n- \u0060isViewableOnly\u0060: If true, value cannot be edited through the API (read-only)\n","required":["source","isViewableOnly"],"properties":{"source":{"$ref":"#/components/schemas/ApiSource"},"isViewableOnly":{"type":"boolean","description":"If true, this value is read-only and cannot be modified","example":false}}},"EntityMetadata":{"type":"object","description":"Metadata associated with an entity, including its source.\n","properties":{"source":{"$ref":"#/components/schemas/ApiSource"}}},"FieldCreateType":{"type":"string","enum":["text","number"]},"UUIDFieldValue":{"type":"string","format":"uuid","description":"Universally unique identifier (UUID) for Entities.\n\n## Behavior\n- Validates for proper UUID structure and format\n- Used for entity IDs and references to other entities\n- Case-insensitive but typically lowercase\n"},"UUIDFieldValueWithMetadata":{"type":"object","description":"UUID value with optional metadata about its source and visibility.\n","required":["value"],"properties":{"value":{"type":"string","format":"uuid","description":"The UUID value","example":"123e4567-e89b-12d3-a456-426614174000"},"metadata":{"$ref":"#/components/schemas/ValueMetadata"}}},"TextFieldValue":{"type":"string","minLength":0,"maxLength":255,"description":"Short text content for Entities with a 255 character limit.\n\n## Behavior\n- Accepts any string content up to 255 characters\n- Can be empty string (minLength: 0)\n- Supports UTF-8 encoding for international characters\n- Used for short descriptions, labels, identifiers, and status messages\n","example":"Example String"},"TextFieldValueWithMetadata":{"type":"object","description":"Text value with optional metadata about its source and visibility.\n","required":["value"],"properties":{"value":{"type":"string","minLength":0,"maxLength":255,"description":"The actual text content","example":"email.test2"},"metadata":{"$ref":"#/components/schemas/ValueMetadata"}}},"NumberFieldValue":{"type":"number","description":"Numeric values for quantitative data in Entities.\n\n## Behavior\n- Accepts both integers and floating-point numbers\n- Supports positive, negative, and zero values\n- No inherent minimum or maximum constraints (field-specific limits may apply)\n- Used for effort estimation, scores, ratings, budgets, and metrics\n","example":123.45},"NumberFieldValueWithMetadata":{"type":"object","description":"Numeric value with optional metadata about its source and visibility.\n\n## Usage\nNumber fields can be set using either:\n- Simple format: \u0060\u0022effort\u0022: 5\u0060\n- Wrapped value format: \u0060\u0022effort\u0022: {\u0022value\u0022: 5, \u0022metadata\u0022: {...}}\u0060\n\nUse the object format when you need to track the source of the value or mark it as read-only.\n","required":["value"],"properties":{"value":{"type":"number","description":"The numeric value","example":123.45},"metadata":{"$ref":"#/components/schemas/ValueMetadata"}}},"NumberFieldValueMode":{"type":"string","description":"Whether the number field value is calculated automatically or entered manually.\n- \u0060manual\u0060: The field displays and uses the manually entered value\n- \u0060calculated\u0060: The field displays and uses an automatically calculated value (e.g., from child entities)\n","enum":["manual","calculated"],"example":"manual"},"NumberValueModeUpdate":{"type":"object","description":"Update the calculation mode of a number field without changing its value.\n- When switching to \u0060calculated\u0060, the system will compute the value automatically\n- When switching to \u0060manual\u0060, the previously set manual value will be used\n","required":["valueMode"],"properties":{"valueMode":{"$ref":"#/components/schemas/NumberFieldValueMode"},"metadata":{"$ref":"#/components/schemas/ValueMetadata"}}},"NumberFieldValueWithMode":{"type":"object","description":"Numeric value with its calculation mode, returned when reading entities.\n- \u0060value\u0060: The numeric value (can be null)\n- \u0060mode\u0060: Indicates whether the value is \u0060manual\u0060 (entered by user) or \u0060calculated\u0060 (computed automatically)\n\n## When This Is Returned\nThe API returns this format when the number field has mode information available.\nFor simple cases without mode tracking, the API returns a plain number (see \u0060NumberFieldValue\u0060).\n","required":["mode"],"properties":{"value":{"type":"number","description":"The numeric value","example":123.45},"mode":{"$ref":"#/components/schemas/NumberFieldValueMode"}}},"RichTextFieldValue":{"type":"string","minLength":0,"maxLength":524288,"description":"HTML-formatted text content for Entities.\n\n## Behavior\n- Accepts HTML-formatted strings up to 524KB (524,288 characters)\n- Can be empty string (minLength: 0)\n- Supports rich formatting including bold, italic, links, lists\n  - Follow [Rich Text Formatting guidelines](https://developer.productboard.com/reference/rich-text-formatting)\n- Used for detailed descriptions, specifications, documentation, and formatted comments\n","example":"\u003Cp\u003EThis is \u003Cb\u003Erich\u003C/b\u003E text.\u003C/p\u003E"},"RichTextFieldValueWithMetadata":{"type":"object","description":"HTML-formatted text content with optional metadata about its source and visibility.\n","required":["value"],"properties":{"value":{"type":"string","minLength":0,"maxLength":524288,"description":"The HTML-formatted text content","example":"\u003Cp\u003EThis is \u003Cb\u003Erich\u003C/b\u003E text.\u003C/p\u003E"},"metadata":{"$ref":"#/components/schemas/ValueMetadata"}}},"DateFieldValue":{"type":"string","format":"date","description":"Calendar date in ISO 8601 format (YYYY-MM-DD) for Entities.\n\n## Behavior\n- Must follow ISO 8601 date format: YYYY-MM-DD\n- Date-only format without time component\n- Validates for proper date structure and valid calendar dates\n- Used for due dates, milestones, release dates, and timeframe boundaries\n- Timezone-independent (date only)\n","example":"2023-10-01"},"DateFieldValueWithMetadata":{"type":"object","description":"Calendar date with optional metadata about its source and visibility.\n","required":["value"],"properties":{"value":{"type":"string","format":"date","description":"The date in ISO 8601 format (YYYY-MM-DD)","example":"2023-10-01"},"metadata":{"$ref":"#/components/schemas/ValueMetadata"}}},"GranularityFieldValue":{"type":"string","enum":["year","quarter","month","day"],"description":"Time granularity level for timeframe display and interpretation.\n\n## Behavior\n- Must be one of: \u0060year\u0060, \u0060quarter\u0060, \u0060month\u0060, \u0060day\u0060\n- Affects how timeframe dates are displayed and interpreted in the UI\n- Used in conjunction with TimeframeFieldValue to specify precision level\n- Supports different planning scales from daily sprints to annual strategies\n- Exact string matching for filtering\n"},"DateTimeFieldValue":{"type":"string","format":"date-time","description":"Date and time in ISO 8601 format for Entities.\n\n## Behavior\n- Must follow ISO 8601 datetime format: YYYY-MM-DDTHH:mm:ss.sssZ\n- Includes both date and time components with timezone information\n- Validates for proper datetime structure and valid values\n- Used for timestamps, creation dates, and precise time tracking\n","example":"2023-10-01T12:00:00Z"},"URLFieldValue":{"type":"string","format":"uri","description":"Valid URL for Entities.\n\n## Behavior\n- Must be a valid URL following URI format standards\n- Supports various protocols (http, https, ftp, etc.)\n- Validates for proper URL structure and format\n- Used for external links, documentation references, and resource URLs\n","example":"https://example.com"},"URLFieldValueWithMetadata":{"type":"object","description":"URL value with optional metadata about its source and visibility.\n","required":["value"],"properties":{"value":{"type":"string","format":"uri","description":"The URL value","example":"https://example.com"},"metadata":{"$ref":"#/components/schemas/ValueMetadata"}}},"NameFieldValue":{"type":"string","minLength":0,"maxLength":255,"description":"Entity names and titles for Entities with a 255 character limit.\n\n## Behavior\n- Accepts any string content up to 255 characters\n- Can be empty string, though typically entity names are required\n- Supports UTF-8 encoding for international characters\n- Used for entity titles, display labels, and primary identifiers\n","example":"Example Name"},"StatusFieldValue":{"type":"object","description":"Status information for Entities with ID and display name.\n\n## Behavior\n- Contains both unique \u0060id\u0060 (UUID) and human-readable \u0060name\u0060\n- Used for workflow states, progress indicators, and entity classifications\n- Both fields are required for complete status representation\n- Supports filtering by status ID or name\n- Status values are workspace-specific and configurable\n","required":["id","name"],"properties":{"id":{"$ref":"#/components/schemas/UUID"},"name":{"$ref":"#/components/schemas/NameFieldValue"}}},"StatusFieldAssign":{"description":"Status assignment allowing identification by ID or name.\n\n## Behavior\n- Supports two identification methods: unique ID (UUID) or human-readable name\n- Use ID for precision and consistency across API calls\n- Use name for convenience when ID is unknown\n- Names must match existing status values in workspace configuration\n","oneOf":[{"$ref":"#/components/schemas/StatusFieldAssignById"},{"$ref":"#/components/schemas/StatusFieldAssignByName"}]},"StatusFieldAssignById":{"type":"object","description":"Status assignment using unique identifier.\n\n## Behavior\n- Identifies status by UUID for precision and consistency\n- Preferred method for API integrations and automated workflows\n- UUID must match an existing status in workspace configuration\n","required":["id"],"properties":{"id":{"$ref":"#/components/schemas/UUID"},"metadata":{"$ref":"#/components/schemas/ValueMetadata"}}},"StatusFieldAssignByName":{"type":"object","description":"Status assignment using human-readable name.\n\n## Behavior\n- Identifies status by display name for convenience\n- Useful when status ID is unknown or in manual workflows\n- Name must exactly match an existing status in workspace configuration\n- Case-sensitive string matching\n","required":["name"],"properties":{"name":{"$ref":"#/components/schemas/NameFieldValue"},"metadata":{"$ref":"#/components/schemas/ValueMetadata"}}},"MemberFieldValue":{"type":"object","description":"Workspace member information.\n\n## Behavior\n- Contains both unique \u0060id\u0060 (UUID) and \u0060email\u0060 for member identification\n- Used for ownership, assignment, and team member references\n- Both fields are required for complete member representation\n- Email serves as human-readable identifier\n","required":["id","email"],"properties":{"id":{"$ref":"#/components/schemas/UUID"},"email":{"$ref":"#/components/schemas/NameFieldValue"}}},"MemberFieldAssign":{"description":"Member assignment allowing identification by ID or email address.\n\n## Behavior\n- Supports two identification methods: unique ID (UUID) or email address\n- Use ID for precision and consistency across API calls\n- Use email for convenience when ID is unknown\n- Email must match existing member in workspace\n","oneOf":[{"$ref":"#/components/schemas/MemberAssignById"},{"$ref":"#/components/schemas/MemberAssignByEmail"}]},"MemberAssignById":{"type":"object","description":"Member assignment using unique identifier.\n\n## Behavior\n- Identifies member by UUID for precision and consistency\n- Preferred method for API integrations and automated workflows\n- UUID must match an existing member in workspace\n","required":["id"],"properties":{"id":{"$ref":"#/components/schemas/UUID"},"metadata":{"$ref":"#/components/schemas/ValueMetadata"}}},"MemberAssignByEmail":{"type":"object","description":"Member assignment using email address.\n\n## Behavior\n- Identifies member by email address for convenience\n- Useful when member ID is unknown or in manual workflows\n- Email must match an existing member in workspace\n- Must be valid email format\n","required":["email"],"properties":{"email":{"type":"string","format":"email","example":"john@doe.com"},"metadata":{"$ref":"#/components/schemas/ValueMetadata"}}},"TeamsFieldValue":{"type":"array","description":"Collection of teams associated with Entities.\n\n## Behavior\n- Array of TeamFieldValue objects, each containing team ID and name\n- Can be empty array if no teams are assigned\n- Used for multi-team assignments and collaborations\n- Supports adding/removing individual teams via patch operations\n","items":{"$ref":"#/components/schemas/TeamFieldValue"},"example":[{"id":"95db5914-36b0-45e9-8f6d-7f11a950ac1d","name":"Product Team"},{"id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","name":"Engineering Team"}]},"TeamFieldValue":{"type":"object","description":"Individual team information with ID and display name.\n\n## Behavior\n- Contains both unique \u0060id\u0060 (UUID) and human-readable \u0060name\u0060\n- Used within TeamsFieldValue arrays for team assignments\n- Both fields are required for complete team representation\n- Team values are workspace-specific and configurable\n- Supports filtering by team ID or name\n","required":["id","name"],"properties":{"id":{"$ref":"#/components/schemas/UUID"},"name":{"$ref":"#/components/schemas/NameFieldValue"}}},"TeamFieldAssign":{"description":"Team assignment allowing identification by ID or name.\n\n## Behavior\n- Supports two identification methods: unique ID (UUID) or human-readable name\n- Use ID for precision and consistency across API calls\n- Use name for convenience when ID is unknown\n- Names must match existing team values in workspace configuration\n","oneOf":[{"$ref":"#/components/schemas/TeamAssignById"},{"$ref":"#/components/schemas/TeamAssignByName"}]},"TeamAssignById":{"type":"object","description":"Team assignment using unique identifier.\n\n## Behavior\n- Identifies team by UUID for precision and consistency\n- Preferred method for API integrations and automated workflows\n- UUID must match an existing team in workspace configuration\n","required":["id"],"properties":{"id":{"$ref":"#/components/schemas/UUID"},"metadata":{"$ref":"#/components/schemas/ValueMetadata"}}},"TeamAssignByName":{"type":"object","description":"Team assignment using human-readable name.\n\n## Behavior\n- Identifies team by display name for convenience\n- Useful when team ID is unknown or in manual workflows\n- Name must exactly match an existing team in workspace configuration\n- Case-sensitive string matching\n","required":["name"],"properties":{"name":{"type":"string","example":"Product Team"},"metadata":{"$ref":"#/components/schemas/ValueMetadata"}}},"TeamsFieldAssign":{"type":"array","description":"Collection of team assignments allowing identification by ID or name.\n\n## Behavior\n- Array of team assignments, each identified by ID or name\n- Can be empty array if no teams are assigned\n- Each item can use either ID (for precision) or name (for convenience)\n- All referenced teams must exist in workspace configuration\n- Supports adding/removing individual teams via patch operations\n","items":{"oneOf":[{"$ref":"#/components/schemas/TeamAssignById"},{"$ref":"#/components/schemas/TeamAssignByName"}]},"example":[{"id":"95db5914-36b0-45e9-8f6d-7f11a950ac1d"},{"name":"Product Team"}]},"TimeframeFieldValue":{"type":"object","description":"Time period with start and end dates and granularity level for Entities.\n\nThis object contains:\n- A \u0060startDate\u0060 marking the beginning of the timeframe\n- An \u0060endDate\u0060 marking the conclusion of the timeframe\n- A \u0060granularity\u0060 indicating the time precision level (\u0060year\u0060, \u0060quarter\u0060, \u0060month\u0060, \u0060day\u0060)\n\n## Behavior\n- Both \u0060startDate\u0060 and \u0060endDate\u0060 use ISO 8601 date format (YYYY-MM-DD)\n- \u0060endDate\u0060 must be on or after \u0060startDate\u0060\n- \u0060granularity\u0060 affects how dates are displayed and interpreted in the UI\n- All fields are optional, allowing partial timeframe specification\n- Used for planning, scheduling, time-based filtering, and defining work periods for initiatives, features, and releases\n- Supports different planning granularities from daily sprints to quarterly planning\n\n## Examples\n\n**Monthly planning timeframe:**\n\u0060\u0060\u0060json\n{\n  \u0022startDate\u0022: \u00222024-01-01\u0022,\n  \u0022endDate\u0022: \u00222024-01-31\u0022,\n  \u0022granularity\u0022: \u0022month\u0022\n}\n\u0060\u0060\u0060\n\n**Quarterly initiative timeframe:**\n\u0060\u0060\u0060json\n{\n  \u0022startDate\u0022: \u00222024-01-01\u0022,\n  \u0022endDate\u0022: \u00222024-03-31\u0022,\n  \u0022granularity\u0022: \u0022quarter\u0022\n}\n\u0060\u0060\u0060\n\n**Annual strategic timeframe:**\n\u0060\u0060\u0060json\n{\n  \u0022startDate\u0022: \u00222024-01-01\u0022,\n  \u0022endDate\u0022: \u00222024-12-31\u0022,\n  \u0022granularity\u0022: \u0022year\u0022\n}\n\u0060\u0060\u0060\n\n**Sprint timeframe:**\n\u0060\u0060\u0060json\n{\n  \u0022startDate\u0022: \u00222024-01-15\u0022,\n  \u0022endDate\u0022: \u00222024-01-29\u0022,\n  \u0022granularity\u0022: \u0022day\u0022\n}\n\u0060\u0060\u0060\n","properties":{"startDate":{"$ref":"#/components/schemas/DateFieldValue"},"endDate":{"$ref":"#/components/schemas/DateFieldValue"},"granularity":{"$ref":"#/components/schemas/GranularityFieldValue"}},"example":{"startDate":"2023-10-01","endDate":"2023-10-31","granularity":"month"}},"TimeframeFieldValueWithMetadata":{"type":"object","description":"Timeframe value with metadata about its source and visibility.\n","required":["metadata"],"properties":{"startDate":{"$ref":"#/components/schemas/DateFieldValue"},"endDate":{"$ref":"#/components/schemas/DateFieldValue"},"granularity":{"$ref":"#/components/schemas/GranularityFieldValue"},"metadata":{"$ref":"#/components/schemas/ValueMetadata"}},"example":{"startDate":"2023-10-01","endDate":"2023-10-31","granularity":"month","metadata":{"source":{"system":"Jira","recordId":"PROJ-123"},"isViewableOnly":false}}},"SingleSelectFieldValue":{"type":"object","description":"Single selection option with ID, name, and optional color for Entities.\n\n## Behavior\n- Contains unique \u0060id\u0060, human-readable \u0060name\u0060, and optional \u0060color\u0060 for UI display\n- Represents a single selected value from a predefined list of options\n- Values must match field configuration options\n- Used for status fields, priority levels, categories, and other single-choice selections\n","required":["id","name"],"properties":{"id":{"type":"string"},"name":{"type":"string"},"color":{"type":"string"}},"example":{"id":"95db5914-36b0-45e9-8f6d-7f11a950ac1d","name":"Example Option","color":"red"}},"SingleSelectFieldAssign":{"description":"Single select option assignment allowing identification by ID or name.\n\n## Behavior\n- Supports two identification methods: unique ID or human-readable name\n- Use ID for precision and consistency across API calls\n- Use name for convenience when ID is unknown\n- Values must match existing options in field configuration\n","oneOf":[{"$ref":"#/components/schemas/SingleSelectFieldAssignById"},{"$ref":"#/components/schemas/SingleSelectFieldAssignByName"}]},"SingleSelectFieldAssignById":{"type":"object","description":"Single select option assignment using unique identifier.\n\n## Behavior\n- Identifies select option by UUID for precision and consistency\n- Preferred method for API integrations and automated workflows\n- UUID must match an existing option in field configuration\n","required":["id"],"properties":{"id":{"$ref":"#/components/schemas/UUID"},"metadata":{"$ref":"#/components/schemas/ValueMetadata"}}},"SingleSelectFieldAssignByName":{"type":"object","description":"Single select option assignment using human-readable name.\n\n## Behavior\n- Identifies select option by display name for convenience\n- Useful when option ID is unknown or in manual workflows\n- Name must exactly match an existing option in field configuration\n- Case-sensitive string matching with length constraints\n","required":["name"],"properties":{"name":{"type":"string","minLength":1,"maxLength":255,"example":"Example Option"},"metadata":{"$ref":"#/components/schemas/ValueMetadata"}}},"MultiSelectFieldValue":{"type":"array","description":"Collection of multiple selection options for Entities.\n\n## Behavior\n- Array of SingleSelectFieldValue objects, each with ID, name, and optional color\n- Can be empty array if no options are selected\n- All values must match field configuration options\n- Used for multi-category selections, tag-like fields, and multiple choice attributes\n- Supports adding/removing individual options via patch operations\n","items":{"$ref":"#/components/schemas/SingleSelectFieldValue"},"example":[{"id":"95db5914-36b0-45e9-8f6d-7f11a950ac1d","name":"Example Option"}]},"MultiSelectFieldAssign":{"type":"array","description":"Collection of multi-select option assignments allowing identification by ID or name.\n\n## Behavior\n- Array of select option assignments, each identified by ID or name\n- Can be empty array if no options are selected\n- Each item can use either ID (for precision) or name (for convenience)\n- All referenced options must exist in field configuration\n- Supports adding/removing individual options via patch operations\n","items":{"oneOf":[{"$ref":"#/components/schemas/SingleSelectFieldAssignById"},{"$ref":"#/components/schemas/SingleSelectFieldAssignByName"}]}},"BooleanFieldValue":{"type":"boolean","description":"True/false flag for binary state tracking in Entities.\n\n## Behavior\n- Accepts only \u0060true\u0060 or \u0060false\u0060 boolean values\n- Used for binary states like archived status, feature toggles, completion flags\n- Displayed as checkboxes or toggle switches in UI\n","example":true},"BooleanFieldValueWithMetadata":{"type":"object","description":"Boolean value with optional metadata about its source and visibility.\n","required":["value"],"properties":{"value":{"type":"boolean","description":"The boolean value","example":true},"metadata":{"$ref":"#/components/schemas/ValueMetadata"}}},"HealthFieldValue":{"type":"object","description":"Health status of a Entities with tracking metadata and history.\n\nThis object contains:\n- A unique \u0060id\u0060 for the health record\n- The current \u0060status\u0060 (\u0060notSet\u0060, \u0060onTrack\u0060, \u0060atRisk\u0060, \u0060offTrack\u0060)\n- The calculation \u0060mode\u0060 (\u0060manual\u0060 or \u0060calculated\u0060)\n- Timestamp and user tracking information\n- Optional comment providing context\n- Previous status for change tracking\n\n## Behavior\n- The \u0060status\u0060 field indicates current health state\n- The \u0060mode\u0060 field determines how health is set:\n  - \u0060manual\u0060: Status explicitly set by users with optional comments\n  - \u0060calculated\u0060: Status automatically derived from system logic or child entities\n- \u0060lastUpdatedAt\u0060 is automatically maintained by the system\n- \u0060previousStatus\u0060 tracks the last health state for change detection\n- \u0060createdBy\u0060 identifies who set the health status (for manual mode)\n- Read-only field populated by the system after health updates\n- Used to monitor work item health across the product hierarchy and track status changes over time\n\n## Examples\n\n**Manual health with comment:**\n\u0060\u0060\u0060json\n{\n  \u0022id\u0022: \u0022123e4567-e89b-12d3-a456-426614174000\u0022,\n  \u0022status\u0022: \u0022atRisk\u0022,\n  \u0022mode\u0022: \u0022manual\u0022,\n  \u0022lastUpdatedAt\u0022: \u00222024-01-15T10:30:00Z\u0022,\n  \u0022comment\u0022: \u0022Resource constraints affecting timeline\u0022,\n  \u0022createdBy\u0022: {\n    \u0022email\u0022: \u0022manager@company.com\u0022\n  },\n  \u0022previousStatus\u0022: \u0022onTrack\u0022\n}\n\u0060\u0060\u0060\n\n**Calculated health:**\n\u0060\u0060\u0060json\n{\n  \u0022id\u0022: \u0022123e4567-e89b-12d3-a456-426614174001\u0022,\n  \u0022status\u0022: \u0022onTrack\u0022,\n  \u0022mode\u0022: \u0022calculated\u0022,\n  \u0022lastUpdatedAt\u0022: \u00222024-01-15T15:45:00Z\u0022,\n  \u0022previousStatus\u0022: \u0022notSet\u0022\n}\n\u0060\u0060\u0060\n","required":["id","status","lastUpdatedAt","mode"],"properties":{"id":{"$ref":"#/components/schemas/UUID"},"mode":{"$ref":"#/components/schemas/HealthModeEnum"},"status":{"$ref":"#/components/schemas/HealthStatusEnum"},"previousStatus":{"$ref":"#/components/schemas/HealthStatusEnum"},"lastUpdatedAt":{"$ref":"#/components/schemas/DateTimeFieldValue","description":"The date and time when the health status was last updated.\n"},"comment":{"$ref":"#/components/schemas/RichTextFieldValue","description":"An optional comment providing additional context about the health status.\n"},"createdBy":{"$ref":"#/components/schemas/MemberFieldValue"}}},"HealthUpdateFieldValue":{"description":"Represents the health status of a Entities, either manually set or automatically calculated.\n\nThis object contains:\n- The mode of health tracking (\u0060manual\u0060 or \u0060calculated\u0060)\n- The health \u0060status\u0060 (required only when mode is \u0060manual\u0060)\n- An optional \u0060comment\u0060 to provide context\n- Metadata on who created the update (\u0060createdBy\u0060)\n\n### Behavior\n- If \u0060mode\u0060 is \u0060\u0022manual\u0022\u0060, the \u0060status\u0060 field is **required**, and you may include an optional \u0060comment\u0060.\n- If \u0060mode\u0060 is \u0060\u0022calculated\u0022\u0060, **do not provide** the \u0060status\u0060 or \u0060comment\u0060 fields \u2013 they will be ignored or cause validation errors.\n\n### Use cases\n- Set \u0060manual\u0060 mode to explicitly assign a health status with reasoning.\n- Use \u0060calculated\u0060 mode when health is derived from internal logic or automation within Productboard.\n\n### Examples\n\n**Manual mode:**\n\u0060\u0060\u0060json\n{\n  \u0022mode\u0022: \u0022manual\u0022,\n  \u0022status\u0022: \u0022atRisk\u0022,\n  \u0022comment\u0022: \u0022Project timeline at risk due to resource constraints\u0022\n}\n\u0060\u0060\u0060\n\n**Calculated mode:**\n\u0060\u0060\u0060json\n{\n  \u0022mode\u0022: \u0022calculated\u0022\n}\n\u0060\u0060\u0060\n","type":"object","properties":{"mode":{"$ref":"#/components/schemas/HealthModeEnum"},"status":{"$ref":"#/components/schemas/HealthStatusEnum"},"comment":{"$ref":"#/components/schemas/RichTextFieldValue","description":"An optional comment providing additional context about the health status.\n"},"createdBy":{"$ref":"#/components/schemas/MemberFieldAssign"}},"examples":[{"summary":"Manual mode example","value":{"mode":"manual","status":"onTrack","comment":"Project timeline at risk due to resource constraints"}},{"summary":"Calculated mode example","value":{"mode":"calculated"}}]},"HealthUpdateFieldValueWithMetadata":{"type":"object","description":"Health update value with metadata about its source and visibility.\n","required":["metadata"],"properties":{"mode":{"$ref":"#/components/schemas/HealthModeEnum"},"status":{"$ref":"#/components/schemas/HealthStatusEnum"},"comment":{"$ref":"#/components/schemas/RichTextFieldValue"},"createdBy":{"$ref":"#/components/schemas/MemberFieldAssign"},"metadata":{"$ref":"#/components/schemas/ValueMetadata"}}},"HealthStatusEnum":{"type":"string","enum":["notSet","onTrack","atRisk","offTrack"],"description":"The health status of the work item.\n","example":"onTrack"},"HealthModeEnum":{"type":"string","enum":["manual","calculated"],"description":"The mode of health status calculation.\n","example":"calculated"},"ProgressFieldValue":{"type":"object","description":"Measurable progress tracking for key results with start, target, and current values.\n\nThis object contains:\n- A \u0060startValue\u0060 representing the baseline measurement\n- A \u0060targetValue\u0060 representing the goal to achieve\n- A \u0060currentValue\u0060 representing the present measurement\n\n## Behavior\n- All values are floating-point numbers allowing decimal precision\n- Values can represent various metrics (percentages, counts, amounts, etc.)\n- The \u0060currentValue\u0060 is updated to track progress toward the \u0060targetValue\u0060\n- Progress calculation: \u0060(currentValue - startValue) / (targetValue - startValue) * 100\u0060\n- Supports both positive and negative progress directions\n- Currently supported only for key results\n- Used to track quantifiable metrics like revenue, users, and performance indicators\n\n## Examples\n\n**Percentage-based progress:**\n\u0060\u0060\u0060json\n{\n  \u0022startValue\u0022: 0.0,\n  \u0022targetValue\u0022: 100.0,\n  \u0022currentValue\u0022: 75.5\n}\n\u0060\u0060\u0060\n\n**Revenue tracking:**\n\u0060\u0060\u0060json\n{\n  \u0022startValue\u0022: 50000.0,\n  \u0022targetValue\u0022: 100000.0,\n  \u0022currentValue\u0022: 87500.0\n}\n\u0060\u0060\u0060\n\n**User count growth:**\n\u0060\u0060\u0060json\n{\n  \u0022startValue\u0022: 1000.0,\n  \u0022targetValue\u0022: 5000.0,\n  \u0022currentValue\u0022: 3250.0\n}\n\u0060\u0060\u0060\n","properties":{"startValue":{"type":"number","format":"float","description":"The starting baseline value for progress measurement.\n","example":0},"targetValue":{"type":"number","format":"float","description":"The target goal value to achieve.\n","example":100},"currentValue":{"type":"number","format":"float","description":"The current progress value being tracked.\n","example":90.5}}},"ProgressFieldValueWithMetadata":{"type":"object","description":"Progress value with metadata about its source and visibility.\n","required":["metadata"],"properties":{"startValue":{"type":"number","format":"float","description":"The starting baseline value for progress measurement.\n","example":0},"targetValue":{"type":"number","format":"float","description":"The target goal value to achieve.\n","example":100},"currentValue":{"type":"number","format":"float","description":"The current progress value being tracked.\n","example":90.5},"metadata":{"$ref":"#/components/schemas/ValueMetadata"}}},"WorkProgressFieldValue":{"type":"object","description":"Work progress percentage for Entities, tracking completion status from 0-100%.\n\nThis object contains:\n- A numeric \u0060value\u0060 representing completion percentage (0-100)\n- A \u0060mode\u0060 indicating how the progress is calculated (\u0060manual\u0060, \u0060statusBased\u0060, or \u0060calculated\u0060)\n\n## Behavior\n- The \u0060value\u0060 field must be an integer between 0 and 100 (inclusive)\n- The \u0060mode\u0060 field determines how progress is tracked and updated:\n  - \u0060manual\u0060: Progress is set directly by users\n  - \u0060statusBased\u0060: Progress is automatically calculated based on entity status\n  - \u0060calculated\u0060: Progress is derived from child entity relationships (parent/link)\n- Different entity types support different modes:\n  - **subfeature**: \u0060manual\u0060, \u0060statusBased\u0060\n  - **feature**: \u0060manual\u0060, \u0060statusBased\u0060, \u0060calculated\u0060\n  - **initiative**: \u0060manual\u0060, \u0060calculated\u0060\n  - **objective**: \u0060manual\u0060, \u0060calculated\u0060\n- When mode is \u0060calculated\u0060, the system automatically updates the value based on relationships\n- Used to track completion percentage across the product hierarchy and monitor progress aggregation\n\n## Examples\n\n**Manual progress:**\n\u0060\u0060\u0060json\n{\n  \u0022value\u0022: 75,\n  \u0022mode\u0022: \u0022manual\u0022\n}\n\u0060\u0060\u0060\n\n**Status-based progress:**\n\u0060\u0060\u0060json\n{\n  \u0022value\u0022: 50,\n  \u0022mode\u0022: \u0022statusBased\u0022\n}\n\u0060\u0060\u0060\n\n**Calculated progress from relationships:**\n\u0060\u0060\u0060json\n{\n  \u0022value\u0022: 85,\n  \u0022mode\u0022: \u0022calculated\u0022\n}\n\u0060\u0060\u0060\n","required":["value","mode"],"properties":{"value":{"type":"number","minimum":0,"maximum":100,"description":"The work progress percentage value between 0 and 100 (inclusive).\n","example":75},"mode":{"$ref":"#/components/schemas/WorkProgressModeEnum"}}},"WorkProgressFieldValueWithMetadata":{"type":"object","description":"Work progress value with metadata about its source and visibility.\n","required":["value","mode","metadata"],"properties":{"value":{"type":"number","minimum":0,"maximum":100,"description":"The work progress percentage value between 0 and 100 (inclusive).\n","example":75},"mode":{"$ref":"#/components/schemas/WorkProgressModeEnum"},"metadata":{"$ref":"#/components/schemas/ValueMetadata"}}},"WorkProgressModeEnum":{"type":"string","enum":["manual","statusBased","calculated"],"description":"The mode of work progress calculation.\n","example":"statusBased"},"ResourceLinks":{"type":"object","required":["self"],"properties":{"self":{"type":"string"}}},"UUID":{"type":"string","format":"uuid","description":"A universally unique identifier (UUID).\n","example":"123e4567-e89b-12d3-a456-426614174000"},"ErrorSource":{"type":"object","description":"An object containing references to the source of the error. It helps with location of the problematic field or parameter.\n","properties":{"pointer":{"type":"string","description":"JSON Pointer [RFC6901] to the associated entity in the request document.\n","example":"/data/fields/status"},"parameter":{"type":"string","description":"Query parameter causing the error.\nUsed when the error is related to a query parameter rather than request body.\n","example":"pageCursor"}}},"Error":{"type":"object","description":"Individual error object containing the details and context.\n","required":["code","title","detail"],"properties":{"code":{"type":"string","description":"A unique, machine-readable and stable code that identifies this error.\nMust be consistent across all services and provide clear categorization.\nFormat: \u0060category.subcategory.specificError\u0060\n","examples":["auth.accessDenied","resource.notFound"]},"title":{"type":"string","description":"A short, human-readable summary of the problem that doesn\u0027t change\nfrom occurrence to occurrence of the problem. Should provide immediate\nunderstanding of the error type.\n","maxLength":255,"example":"Missing required field"},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.\nMay include suggestions for resolution but should not expose sensitive information.\n","maxLength":1000,"example":"Field \u0027status\u0027 is required."},"source":{"$ref":"#/components/schemas/ErrorSource"}}},"ErrorResponse":{"type":"object","description":"Standard error response structure.\n","required":["id","errors"],"properties":{"id":{"type":"string","description":"A unique identifier for this specific occurrence of the problem.\nIt carries unique request/response ID which allows client\nand server to reference the exact instance of the error\nin logs or support communication.\n"},"errors":{"type":"array","description":"Array of error objects, multiple errors can be returned.","items":{"$ref":"#/components/schemas/Error"},"minItems":1}}},"ListLinks":{"type":"object","required":["next"],"properties":{"next":{"type":["string",null]}}}},"requestBodies":{"FieldCreateRequestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"object","required":["type","fields"],"properties":{"type":{"$ref":"#/components/schemas/FieldCreateType"},"fields":{"type":"object","required":["name"],"properties":{"id":{"$ref":"#/components/schemas/UUID"},"name":{"type":"string","description":"Display name of the new field."},"description":{"$ref":"#/components/schemas/RichTextFieldValue","description":"Optional description of the field."},"assignedEntityTypes":{"type":"array","description":"Entity types the field should be assigned to on creation. Leave empty to keep the field unassigned to any entities.","items":{"$ref":"#/components/schemas/EntityType"}}}}}}}},"examples":{"numberField":{"value":{"data":{"type":"number","fields":{"name":"MD Estimate","assignedEntityTypes":["features","subfeatures"],"description":"This is the description of the given MD Estimate field."}}}},"textField":{"value":{"data":{"type":"text","fields":{"name":"Target Metric","description":"This is the description of the given Target Metric field."}}}}}}}},"FieldUpdateRequestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"object","properties":{"fields":{"type":"object","description":"Attributes that can be updated for a custom field.","properties":{"name":{"type":"string","description":"New display name of the field."},"description":{"$ref":"#/components/schemas/RichTextFieldValue","description":"Updated description of the field."},"assignedEntityTypes":{"type":"array","description":"Complete list of entity types the field should be assigned to after the update. Provide an empty array to remove all assignments.","items":{"$ref":"#/components/schemas/EntityType"}}}}}}}},"examples":{"numberField":{"value":{"data":{"fields":{"name":"MD Estimate","assignedEntityTypes":["features"],"description":"This is the new description of the given MD Estimate field."}}}},"textField":{"value":{"data":{"fields":{"name":"Target Metric","description":"This is the new description of the given Target Metric field."}}}}}}}},"EntityBulkUpdateRequestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","additionalProperties":{"type":"object","properties":{"fields":{"$ref":"#/components/schemas/EntityCreateOrUpdateFields"},"metadata":{"$ref":"#/components/schemas/EntityMetadata"}}}}}},"example":{"data":{"3fa85f64-5717-4562-b3fc-2c963f66afa6":{"fields":{"name":"Q4 2024 Product Launch Initiative","status":{"name":"In Progress"},"073695b4-7c85-491e-8869-7a7ac093ccb3":"2024-12-15","35a28b0d-d520-42a8-bdc6-e22a56947b32":null,"50330d1f-e2cf-4805-b8b9-60aee8d96320":"Final preparations for launch event","9c18319f-3e89-4f66-95af-667d9277601a":95}},"7a26ba09-db99-4041-8864-bcd16e8afc5e":{"fields":{"name":"Align Marketing Campaigns","073695b4-7c85-491e-8869-7a7ac093ccb3":"2024-12-10","50330d1f-e2cf-4805-b8b9-60aee8d96320":"Sync with product launch timeline"}}}}}}},"EntityCreateRequestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/EntityType"},"fields":{"$ref":"#/components/schemas/EntityCreateOrUpdateFields"},"relationships":{"type":"array","items":{"$ref":"#/components/schemas/EntityRelationshipCreate"}},"metadata":{"$ref":"#/components/schemas/EntityMetadata"}}}}},"example":{"data":{"type":"initiative","fields":{"name":"Q4 2024 Product Launch Initiative","status":{"name":"In Progress"},"owner":{"email":"john@doe.com"},"timeframe":{"startDate":"2024-10-01","endDate":"2024-12-31","granularity":"month"},"teams":[{"name":"Product Team"}],"archived":false,"health":{"id":"4bc29fba-257d-483f-842c-36defa1705b7","mode":"manual","status":"onTrack","lastUpdatedAt":"2024-11-15T10:30:00.000000Z","comment":"All milestones are on track for Q4 launch"},"workProgress":{"value":0,"mode":"calculated"},"tags":[{"name":"Q4"},{"name":"Launch"}],"faa1d59a-d55f-4ad2-b1d3-5b888123873b":120,"073695b4-7c85-491e-8869-7a7ac093ccb3":"2024-12-15"},"metadata":{"source":{"system":"Jira","recordId":"PROJ-456","url":"https://jira.example.com/browse/PROJ-456"},"194508f3-f39e-479f-9d38-0b0565ad4ad1":"This initiative focuses on launching our new product features for Q4 2024. **Key highlights:**\n- Mobile app redesign\n- API improvements\n- Performance optimizations","35a28b0d-d520-42a8-bdc6-e22a56947b32":null,"50330d1f-e2cf-4805-b8b9-60aee8d96320":"Final preparations for launch event","e732da31-082c-48e0-b07b-dff0eb2cb6db":8,"9c18319f-3e89-4f66-95af-667d9277601a":95}}}}}},"EntityPatchRequestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"fields":{"$ref":"#/components/schemas/EntityCreateOrUpdateFields"},"patch":{"$ref":"#/components/schemas/EntityPatch"},"metadata":{"$ref":"#/components/schemas/EntityMetadata"}}}}},"examples":{"simple":{"summary":"Simple value update","value":{"data":{"fields":{"name":"Next awesome feature","owner":{"email":"john@doe.com"},"status":{"name":"In Progress"},"faa1d59a-d55f-4ad2-b1d3-5b888123873b":150,"e732da31-082c-48e0-b07b-dff0eb2cb6db":9,"35a28b0d-d520-42a8-bdc6-e22a56947b32":null,"50330d1f-e2cf-4805-b8b9-60aee8d96320":null},"metadata":{"source":{"system":"Asana","recordId":1234567890,"url":"https://app.asana.com/0/1234567890"}}}}},"complex":{"summary":"For complex operations on fields","value":{"data":{"patch":[{"op":"set","path":"name","value":"Improved feature"},{"op":"set","path":"status","value":{"name":"In Progress"}},{"op":"addItems","path":"teams","value":[{"name":"Design Team"}]},{"op":"removeItems","path":"teams","value":[{"name":"Legacy Team"}]},{"op":"addItems","path":"tags","value":[{"name":"Q1 2025"}]},{"op":"removeItems","path":"tags","value":[{"name":"Deprecated"}]},{"op":"clear","path":"timeframe.startDate"},{"op":"set","path":"faa1d59a-d55f-4ad2-b1d3-5b888123873b","value":200},{"op":"addItems","path":"eedbf60e-9927-4f60-a7fb-266744d328c0","value":[{"name":"Frontend"}]},{"op":"clear","path":"35a28b0d-d520-42a8-bdc6-e22a56947b32"}]}}},"combined":{"summary":"You can combine both approaches","value":{"data":{"fields":{"name":"Next awesome feature","owner":{"email":"john@doe.com"},"35a28b0d-d520-42a8-bdc6-e22a56947b32":null},"patch":[{"op":"addItems","path":"teams","value":[{"name":"QA Team"}]},{"op":"removeItems","path":"teams","value":[{"name":"Old Team"}]},{"op":"clear","path":"timeframe.startDate"},{"op":"set","path":"faa1d59a-d55f-4ad2-b1d3-5b888123873b","value":180},{"op":"addItems","path":"eedbf60e-9927-4f60-a7fb-266744d328c0","value":[{"name":"Backend"}]}]}}}}}}},"EntitySearchRequestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/EntitySearch"}}},"examples":{"basic_search":{"summary":"Basic search by type","value":{"data":{"filter":{"type":["initiative"]}}}},"structured_filter":{"summary":"New structured filter format (recommended)","value":{"data":{"filter":{"type":["initiative"],"id":["133275f0-7a57-4c54-bbd6-fa6118313f53","7a26ba09-db99-4041-8864-bcd16e8afc5e"],"fields":{"archived":false,"status":[{"name":"In Progress"},{"name":"At Risk"}],"owner":[{"email":"john@doe.com"},{"email":"jane@doe.com"}]},"relationships":{"parent":[{"id":"318de52f-4e38-4c94-a550-a0d47a1f212e"}]}},"return":{"fields":["name","status","owner"]}}}},"multi_type_search":{"summary":"Search across multiple entity types","value":{"data":{"filter":{"type":["feature","initiative"],"fields":{"archived":false}}}}},"search_by_ids":{"summary":"Search by IDs without specifying type (legacy format)","value":{"data":{"ids":["133275f0-7a57-4c54-bbd6-fa6118313f53","7a26ba09-db99-4041-8864-bcd16e8afc5e"]}}},"advanced_search":{"summary":"Advanced search with multiple filters (legacy format)","value":{"data":{"types":["initiative"],"ids":["133275f0-7a57-4c54-bbd6-fa6118313f53","7a26ba09-db99-4041-8864-bcd16e8afc5e"],"archived":false,"statuses":[{"name":"In Progress"},{"name":"At Risk"}],"owners":[{"email":"john@doe.com"},{"email":"jane@doe.com"}],"parent":{"id":"318de52f-4e38-4c94-a550-a0d47a1f212e"}}}},"status_based_search":{"summary":"Search by status (legacy format)","value":{"data":{"types":["initiative"],"statuses":[{"name":"In Progress"},{"name":"At Risk"}]}}},"owner_based_search":{"summary":"Search by owner and parent entity (legacy format)","value":{"data":{"types":["feature"],"owners":[{"email":"john@doe.com"},{"email":"jane@doe.com"}],"statuses":[{"name":"Upcoming"}],"parent":{"id":"318de52f-4e38-4c94-a550-a0d47a1f212e"}}}}}}}},"EntityRelationshipCreateRequestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/EntityRelationshipCreate"}}},"example":{"data":{"type":"link","target":{"id":"318de52f-4e38-4c94-a550-a0d47a1f212e"}}}}}},"EntityParentRelationshipReplaceRequestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"Payload representing replacing of existing relationship with a new one of the same type\n","required":["target"],"properties":{"type":{"$ref":"#/components/schemas/EntityType"},"target":{"$ref":"#/components/schemas/ResourceReferenceAssign"}}}}},"example":{"data":{"target":{"id":"318de52f-4e38-4c94-a550-a0d47a1f212e"}}}}}}},"responses":{"FieldListResponse":{"description":"A paginated list of fields","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Field"}},"links":{"$ref":"#/components/schemas/ListLinks"}}}}}},"FieldReferenceResponse":{"description":"Field created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/FieldReference"}}},"example":{"data":{"id":"f05b1848-b598-435f-a076-93f41aecdaff","type":"text","links":{"self":null}}}}}},"FieldUpdateResponse":{"description":"Field updated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/FieldReference"}}},"example":{"data":{"id":"f05b1848-b598-435f-a076-93f41aecdaff","type":"text","links":{"self":null}}}}}},"FieldResponse":{"description":"Field details","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Field"}}}}}},"FieldValuesListResponse":{"description":"A paginated list of field values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FieldValues"},"examples":{"selectOptions":{"summary":"Select field values","value":{"data":[{"id":"a09fccc8-a4ac-4262-84f1-68ad77f82265","name":"High"},{"id":"043d163b-fda2-47fd-82ed-4026ad1965e6","name":"Medium"},{"id":"b2debcbc-5034-4768-aff4-9f52e6c8427e","name":"Low"}],"links":{"next":"https://api.productboard.com/v2/entities/fields/be0f15ed-7e9c-4815-a974-adced8c55602/values?pageCursor=eyJpZCI6IjEyMyJ9"}}},"statusValues":{"summary":"Status field values with entity type filter","value":{"data":[{"id":"a09fccc8-a4ac-4262-84f1-68ad77f82265","name":"In Progress","assignedEntityTypes":["feature","subfeature"]},{"id":"043d163b-fda2-47fd-82ed-4026ad1965e6","name":"Done","assignedEntityTypes":["feature"]}],"links":{"next":"https://api.productboard.com/v2/entities/fields/status/values?pageCursor=eyJpZCI6IjEyMyJ9\u0026assignedEntityType[]=feature"}}}}}}},"ReferenceResponse":{"description":"Entity created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Resourc
[...]
