{
  "openapi": "3.0.4",
  "info": {
    "title": "Merged OpenAPI",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.productboard.com/v2",
      "description": "Production server"
    }
  ],
  "paths": {
    "/analytics/member-activities": {
      "get": {
        "tags": [
          "analytics"
        ],
        "summary": "List member activities",
        "description": "Lists member activity data with optional date filtering and pagination.\nReturns a list of member activity records.\n",
        "operationId": "analytics-listMemberActivities",
        "parameters": [
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Start date for filtering activity data (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-10-01"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "End date for filtering activity data (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-10-31"
          },
          {
            "name": "pageCursor",
            "in": "query",
            "description": "Cursor for pagination to get the next page of results",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/MemberActivityListResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "analytics:read"
            ]
          }
        ]
      }
    },
    "/entities/configuration": {
      "get": {
        "tags": [
          "entities"
        ],
        "summary": "Get configuration (deprecated)",
        "description": "\"Note: this endpoint is deprecated, use `/v2/entities/configurations/{type}` instead.\n\nReturns metadata for a specific Entities type, including supported fields, patch operations, and validation rules.  \nUse this to programmatically discover which fields are required, what types are available, and how your workspace is configured.\n\"",
        "operationId": "entities-getEntityConfigurationOld",
        "parameters": [
          {
            "$ref": "#/components/parameters/Type"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConfigurationResponse"
          },
          "400": {
            "$ref": "#/components/responses/entities_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/entities_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/entities_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/entities_RequestTimeoutResponse"
          },
          "429": {
            "$ref": "#/components/responses/entities_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/entities_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "entities_BearerAuth": [
              "entities:read"
            ]
          }
        ]
      }
    },
    "/entities/configurations": {
      "get": {
        "tags": [
          "entities"
        ],
        "summary": "List configurations",
        "description": "Returns metadata for all available Entities type, including supported fields, patch operations, and validation rules.  \nUse this to programmatically discover what entity types are available for your workspace, which fields are required,\nwhat types are available, and how your workspace is configured.\n",
        "operationId": "entities-listEntityConfigurations",
        "parameters": [
          {
            "name": "type[]",
            "in": "query",
            "description": "You can specify multiple entity types for filtering.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/EntityType"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConfigurationListResponse"
          },
          "400": {
            "$ref": "#/components/responses/entities_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/entities_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/entities_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/entities_RequestTimeoutResponse"
          },
          "429": {
            "$ref": "#/components/responses/entities_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/entities_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "entities_BearerAuth": [
              "entities:read"
            ]
          }
        ]
      }
    },
    "/entities/configurations/{type}": {
      "get": {
        "tags": [
          "entities"
        ],
        "summary": "Get configuration",
        "description": "Returns metadata for a specific Entities type, including supported fields, patch operations, and validation rules.  \nUse this to programmatically discover which fields are required, what types are available, and how your workspace is configured.\n",
        "operationId": "entities-getEntityConfiguration",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "The type of the entity",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/EntityType"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConfigurationResponse"
          },
          "400": {
            "$ref": "#/components/responses/entities_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/entities_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/entities_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/entities_RequestTimeoutResponse"
          },
          "429": {
            "$ref": "#/components/responses/entities_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/entities_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "entities_BearerAuth": [
              "entities:read"
            ]
          }
        ]
      }
    },
    "/entities": {
      "post": {
        "tags": [
          "entities"
        ],
        "summary": "Create entity",
        "description": "Creates a new Entities of the specified type.  \nYou must specify the `type` (e.g. `feature`, `initiative`) and provide required fields based on your workspace configuration.\n\nUse the `/configuration` endpoint to discover what fields are available and required.\n\n## Limitations\n- The field names and availability depend on your workspace setup.\n",
        "operationId": "entities-createEntity",
        "requestBody": {
          "$ref": "#/components/requestBodies/EntityCreateRequestBody"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/ReferenceResponse"
          },
          "400": {
            "$ref": "#/components/responses/entities_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/entities_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/entities_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/entities_RequestTimeoutResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "$ref": "#/components/responses/entities_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/entities_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "entities_BearerAuth": [
              "entities:write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "entities"
        ],
        "summary": "List entities",
        "description": "Retrieves a paginated list of Entities.\nYou can filter results, sort them, and control which fields are returned.\n\n> Without the `members:pii:read` scope, owner email fields are returned as `[redacted]`. Filtering by `owner[email]` requires the `members:pii:read` scope. Without the `users:pii:read` scope, user entity name and email fields are returned as `[redacted]`.\n\nUse the `type[]` query parameter to filter by one or more entity types (e.g. `type[]=feature&type[]=initiative`).\nUse the `fields` parameter to request only the fields you need.\n\n## Filter availability\nNot all filters apply to all entity types. For example, `status` filtering is only available\nfor types that have a status field (e.g. `feature`, `initiative`), and `parent[id]` only works\nfor types that have a parent relationship.\n\nUse `GET /v2/entities/configurations/{type}` to check which filters are supported for a specific type.\nThe `filters` array in the configuration response lists all available filter parameters,\ntheir exact query parameter names, and value schemas.\n\n## Limitations\n- Only the `AND` operator is supported when applying multiple filters. `OR`, `NOT`, or nested conditions are not supported.\n",
        "operationId": "entities-listEntities",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageCursor"
          },
          {
            "name": "type[]",
            "in": "query",
            "description": "\"Filter by one or more entity types. Use array notation: `type[]=feature&type[]=initiative`.\nCurrently supported PM entity types:\n  - product\n  - component\n  - feature\n  - subfeature\n  - initiative\n  - objective\n  - keyResult\n  - release\n  - releaseGroup\n  - user\n  - company\n\nThe exact types available may vary based on the configuration of the workspace.\n\"",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/EntityType"
              }
            }
          },
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by entity name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner[id]",
            "in": "query",
            "description": "Filter by owner ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner[email]",
            "in": "query",
            "description": "Filter by owner email",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "status[id]",
            "in": "query",
            "description": "Filter by status ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status[name]",
            "in": "query",
            "description": "Filter by status name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "archived",
            "in": "query",
            "description": "Filter by archived status (true/false)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "parent[id]",
            "in": "query",
            "description": "Filter by parent PM entity ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/EntityListResponse"
          },
          "400": {
            "$ref": "#/components/responses/entities_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/entities_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/entities_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/entities_RequestTimeoutResponse"
          },
          "429": {
            "$ref": "#/components/responses/entities_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/entities_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "entities_BearerAuth": [
              "entities:read"
            ]
          }
        ]
      }
    },
    "/entities/{id}": {
      "get": {
        "tags": [
          "entities"
        ],
        "summary": "Get entity",
        "description": "Retrieves all configured fields and values for the specified Entities.\nUse this endpoint to load complete data for a single entity.\n\n> Without the `members:pii:read` scope, owner email is returned as `[redacted]`. Without the `users:pii:read` scope, user entity name and email fields are returned as `[redacted]`.\n\nYou can limit the fields returned using the `fields` query parameter.\n",
        "operationId": "entities-getEntity",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          },
          {
            "$ref": "#/components/parameters/Fields"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/EntityResponse"
          },
          "400": {
            "$ref": "#/components/responses/entities_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/entities_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/entities_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/entities_RequestTimeoutResponse"
          },
          "429": {
            "$ref": "#/components/responses/entities_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/entities_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "entities_BearerAuth": [
              "entities:read"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "entities"
        ],
        "summary": "Update entity",
        "description": "Updates one or more fields of a Entities.  \nUse `fields` for full replacement of values, or `patch` for granular changes like adding/removing items in list-type fields.  \nYou must use either `fields` or `patch` – not both.\n\nThe `patch` property supports these operations:\n- `set` – same as setting a value via `fields`\n- `addItems` – add one or more values to a list field\n- `removeItems` – remove values from a list field\n- `clear` – erase the value of the field\n\n## Limitations\n- Providing both `fields` and `patch` in the same request will return an error.\n",
        "operationId": "entities-updateEntity",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/EntityPatchRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/EntityUpdateResponse"
          },
          "400": {
            "$ref": "#/components/responses/entities_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/entities_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/entities_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/entities_RequestTimeoutResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "$ref": "#/components/responses/entities_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/entities_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "entities_BearerAuth": [
              "entities:write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "entities"
        ],
        "summary": "Delete entity",
        "description": "Deletes a Product Management entity by ID. This operation permanently removes the specified entity from your workspace.\n\nIf the entity has any child entities (e.g. a product with components, or a feature with subfeatures), those children will be **deleted automatically** as part of a cascading delete.\n\n**Use this endpoint with caution — deletion is irreversible.**\n",
        "operationId": "entities-deleteEntity",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the PM entity to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContentResponse"
          },
          "400": {
            "$ref": "#/components/responses/entities_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/entities_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/entities_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/entities_RequestTimeoutResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "$ref": "#/components/responses/entities_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/entities_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "entities_BearerAuth": [
              "entities:delete"
            ]
          }
        ]
      }
    },
    "/entities/search": {
      "post": {
        "tags": [
          "entities"
        ],
        "summary": "Search entities",
        "description": "Performs a filtered search over Entities using a POST request.\nThis endpoint supports the same filtering capabilities as `GET /v2/entities`, but allows a larger and more complex payload.\nIt's useful when filtering by a long list of foreign key IDs or when URL length limits become a problem.\n\n## Filter availability\nNot all filters apply to all entity types. For example, `status` filtering is only available\nfor types that have a status field (e.g. `feature`, `initiative`), and `parent` filtering only works\nfor types that have a parent relationship.\n\nUse `GET /v2/entities/configurations/{type}` to check which filters are supported for a specific type.\nThe `filters` array in the configuration response lists all available filter parameters,\ntheir exact query parameter names, and value schemas.\n\n> Filtering by `owner[email]` requires the `members:pii:read` scope.\n\n## Limitations\n- Only the `AND` operator is supported when applying multiple filters. `OR`, `NOT`, or nested conditions are not supported.\n- You can search only within one entity type at a time.\n",
        "operationId": "entities-performEntitiesSearch",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageCursor"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/EntitySearchRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/EntityListResponse"
          },
          "400": {
            "$ref": "#/components/responses/entities_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/entities_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/entities_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/entities_RequestTimeoutResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "$ref": "#/components/responses/entities_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/entities_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "entities_BearerAuth": [
              "entities:read"
            ]
          }
        ]
      }
    },
    "/entities/{id}/relationships": {
      "get": {
        "tags": [
          "entities"
        ],
        "summary": "List relationships",
        "description": "Retrieves all relationships associated with a specific Entities.\nThis includes parent, child, and linked entities.\nUse this endpoint to understand how an entity is connected within the product hierarchy or planning structure.\n\nThe source entity is implicit (this entity).\n",
        "operationId": "entities-listEntityRelationships",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type of the relationship to filter by (optional)",
            "schema": {
              "$ref": "#/components/schemas/EntityRelationshipType"
            }
          },
          {
            "name": "target[type]",
            "in": "query",
            "description": "The entity type of the target to filter relationships by (optional)",
            "schema": {
              "$ref": "#/components/schemas/EntityType"
            }
          },
          {
            "name": "target[id]",
            "in": "query",
            "description": "The ID of the target entity to filter the relationships by (optional)",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PageCursor"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/EntityRelationshipListResponse"
          },
          "400": {
            "$ref": "#/components/responses/entities_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/entities_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/entities_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/entities_RequestTimeoutResponse"
          },
          "429": {
            "$ref": "#/components/responses/entities_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/entities_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "entities_BearerAuth": [
              "entities:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "entities"
        ],
        "summary": "Create relationship",
        "description": "Creates a relationship between two Entities.  \nSpecify the source entity via the URL path (`{id}`), and the target entity and relationship type in the request body.\n\nThe `type` field determines the direction and nature of the relationship.  \nSupported values:\n- `parent` – declare the target as the parent of the source\n- `child` – declare the target as the child of the source\n- `link` – create a non-hierarchical connection between entities\n- `isBlockedBy` – create a dependency between entities\n- `isBlocking` – create a dependency between entities\n\n## Limitations\n- Only valid combinations of source and target entities are allowed for each relationship type.\n- The target entity must exist and be accessible.\n",
        "operationId": "entities-createEntityRelationship",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/EntityRelationshipCreateRequestBody"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/EntityRelationshipResponse"
          },
          "400": {
            "$ref": "#/components/responses/entities_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/entities_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/entities_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/entities_RequestTimeoutResponse"
          },
          "409": {
            "$ref": "#/components/responses/ConflictResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "$ref": "#/components/responses/entities_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/entities_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "entities_BearerAuth": [
              "entities:write"
            ]
          }
        ]
      }
    },
    "/entities/{id}/relationships/parent": {
      "put": {
        "tags": [
          "entities"
        ],
        "summary": "Set parent relationship",
        "description": "Replaces the parent of a specific Entities.  \nSome entity types (such as features and subfeatures) are required to have a parent.  \nThis endpoint allows you to update the parent entity when the relationship changes.\n\nThe new parent is specified in the request body using the `target.id` field.\n\n## Limitations\n- Only valid parent relationships are allowed (e.g. feature → component, subfeature → feature).\n- The target entity must exist and be a valid parent type.\n- This will overwrite any existing parent relationship.\n",
        "operationId": "entities-replaceEntityRelationship",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/EntityParentRelationshipReplaceRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/EntityRelationshipReplaceResponse"
          },
          "400": {
            "$ref": "#/components/responses/entities_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/entities_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/entities_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/entities_RequestTimeoutResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "$ref": "#/components/responses/entities_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/entities_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "entities_BearerAuth": [
              "entities:write"
            ]
          }
        ]
      }
    },
    "/entities/{id}/relationships/{type}/{targetId}": {
      "delete": {
        "tags": [
          "entities"
        ],
        "summary": "Delete relationship",
        "description": "Removes a relationship between two Entities.  \nUse the `type` query parameter to indicate which kind of relationship you want to remove.\n",
        "operationId": "entities-deleteEntityRelationship",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/EntityRelationshipType"
            }
          },
          {
            "name": "targetId",
            "in": "path",
            "description": "The ID of the target entity to delete the relationship with.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContentResponse"
          },
          "400": {
            "$ref": "#/components/responses/entities_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/entities_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/entities_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/entities_RequestTimeoutResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "$ref": "#/components/responses/entities_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/entities_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "entities_BearerAuth": [
              "entities:write"
            ]
          }
        ]
      }
    },
    "/entities/fields/{id}/values": {
      "get": {
        "tags": [
          "fields"
        ],
        "summary": "List field values",
        "description": "Returns a paginated list of allowed values for select-type and status fields (SINGLE_SELECT, MULTI_SELECT, STATUS).\nUse this endpoint to retrieve all available options for fields with many values, or when you need\nto paginate through all values.\n\nFor fields with fewer values (≤1000), the values are returned inline in the field response.\nFor fields with more values, the field response contains a reference to this endpoint.\n",
        "operationId": "entities-listEntityFieldValues",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Field identifier (UUID for custom fields, API name for default fields).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assignedEntityType[]",
            "in": "query",
            "description": "Filter values by assigned entity type. Useful for status fields where different entity types have different status sets.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/EntityType"
              }
            }
          },
          {
            "$ref": "#/components/parameters/PageCursor"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/FieldValuesListResponse"
          },
          "400": {
            "$ref": "#/components/responses/entities_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/entities_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/entities_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/entities_RequestTimeoutResponse"
          },
          "429": {
            "$ref": "#/components/responses/entities_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/entities_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "entities_BearerAuth": [
              "entities:read"
            ]
          }
        ]
      }
    },
    "/fixed/analytics/member-activities": {
      "get": {
        "tags": [
          "analytics"
        ],
        "summary": "List member activities",
        "description": "Lists member activity data with optional date filtering and pagination.\nReturns a list of member activity records.\n",
        "operationId": "fixed-analytics-listMemberActivities",
        "parameters": [
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Start date for filtering activity data (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-10-01"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "End date for filtering activity data (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-10-31"
          },
          {
            "name": "pageCursor",
            "in": "query",
            "description": "Cursor for pagination to get the next page of results",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/fixed_MemberActivityListResponse"
          },
          "400": {
            "$ref": "#/components/responses/fixed_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/fixed_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/fixed_ForbiddenResponse"
          },
          "408": {
            "$ref": "#/components/responses/fixed_RequestTimeoutResponse"
          },
          "429": {
            "$ref": "#/components/responses/fixed_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/fixed_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "fixed_BearerAuth": [
              "analytics:read"
            ]
          }
        ]
      }
    },
    "/fixed/entities/configuration": {
      "get": {
        "tags": [
          "entities"
        ],
        "summary": "Get configuration (deprecated)",
        "description": "\"Note: this endpoint is deprecated, use `/v2/entities/configurations/{type}` instead.\n\nReturns metadata for a specific Entities type, including supported fields, patch operations, and validation rules.  \nUse this to programmatically discover which fields are required, what types are available, and how your workspace is configured.\n\"",
        "operationId": "fixed-entities-getEntityConfigurationOld",
        "parameters": [
          {
            "$ref": "#/components/parameters/fixed_Type"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/fixed_ConfigurationResponse"
          },
          "400": {
            "$ref": "#/components/responses/fixed_entities_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/fixed_entities_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/fixed_entities_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/fixed_NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/fixed_entities_RequestTimeoutResponse"
          },
          "429": {
            "$ref": "#/components/responses/fixed_entities_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/fixed_entities_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "fixed_entities_BearerAuth": [
              "entities:read"
            ]
          }
        ]
      }
    },
    "/fixed/entities/configurations": {
      "get": {
        "tags": [
          "entities"
        ],
        "summary": "List configurations",
        "description": "Returns metadata for all available Entities type, including supported fields, patch operations, and validation rules.  \nUse this to programmatically discover what entity types are available for your workspace, which fields are required,\nwhat types are available, and how your workspace is configured.\n",
        "operationId": "fixed-entities-listEntityConfigurations",
        "parameters": [
          {
            "name": "type[]",
            "in": "query",
            "description": "You can specify multiple entity types for filtering.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/fixed_EntityType"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/fixed_ConfigurationListResponse"
          },
          "400": {
            "$ref": "#/components/responses/fixed_entities_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/fixed_entities_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/fixed_entities_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/fixed_NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/fixed_entities_RequestTimeoutResponse"
          },
          "429": {
            "$ref": "#/components/responses/fixed_entities_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/fixed_entities_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "fixed_entities_BearerAuth": [
              "entities:read"
            ]
          }
        ]
      }
    },
    "/fixed/entities/configurations/{type}": {
      "get": {
        "tags": [
          "entities"
        ],
        "summary": "Get configuration",
        "description": "Returns metadata for a specific Entities type, including supported fields, patch operations, and validation rules.  \nUse this to programmatically discover which fields are required, what types are available, and how your workspace is configured.\n",
        "operationId": "fixed-entities-getEntityConfiguration",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "The type of the entity",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/fixed_EntityType"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/fixed_ConfigurationResponse"
          },
          "400": {
            "$ref": "#/components/responses/fixed_entities_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/fixed_entities_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/fixed_entities_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/fixed_NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/fixed_entities_RequestTimeoutResponse"
          },
          "429": {
            "$ref": "#/components/responses/fixed_entities_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/fixed_entities_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "fixed_entities_BearerAuth": [
              "entities:read"
            ]
          }
        ]
      }
    },
    "/fixed/entities": {
      "post": {
        "tags": [
          "entities"
        ],
        "summary": "Create entity",
        "description": "Creates a new Entities of the specified type.  \nYou must specify the `type` (e.g. `feature`, `initiative`) and provide required fields based on your workspace configuration.\n\nUse the `/configuration` endpoint to discover what fields are available and required.\n\n## Limitations\n- The field names and availability depend on your workspace setup.\n",
        "operationId": "fixed-entities-createEntity",
        "requestBody": {
          "$ref": "#/components/requestBodies/fixed_EntityCreateRequestBody"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/fixed_ReferenceResponse"
          },
          "400": {
            "$ref": "#/components/responses/fixed_entities_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/fixed_entities_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/fixed_entities_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/fixed_NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/fixed_entities_RequestTimeoutResponse"
          },
          "422": {
            "$ref": "#/components/responses/fixed_UnprocessableEntityResponse"
          },
          "429": {
            "$ref": "#/components/responses/fixed_entities_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/fixed_entities_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "fixed_entities_BearerAuth": [
              "entities:write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "entities"
        ],
        "summary": "List entities",
        "description": "Retrieves a paginated list of Entities.\nYou can filter results, sort them, and control which fields are returned.\n\n> Without the `members:pii:read` scope, owner email fields are returned as `[redacted]`. Filtering by `owner[email]` requires the `members:pii:read` scope. Without the `users:pii:read` scope, user entity name and email fields are returned as `[redacted]`.\n\nUse the `type[]` query parameter to filter by one or more entity types (e.g. `type[]=feature&type[]=initiative`).\nUse the `fields` parameter to request only the fields you need.\n\n## Filter availability\nNot all filters apply to all entity types. For example, `status` filtering is only available\nfor types that have a status field (e.g. `feature`, `initiative`), and `parent[id]` only works\nfor types that have a parent relationship.\n\nUse `GET /v2/entities/configurations/{type}` to check which filters are supported for a specific type.\nThe `filters` array in the configuration response lists all available filter parameters,\ntheir exact query parameter names, and value schemas.\n\n## Limitations\n- Only the `AND` operator is supported when applying multiple filters. `OR`, `NOT`, or nested conditions are not supported.\n",
        "operationId": "fixed-entities-listEntities",
        "parameters": [
          {
            "$ref": "#/components/parameters/fixed_PageCursor"
          },
          {
            "name": "type[]",
            "in": "query",
            "description": "\"Filter by one or more entity types. Use array notation: `type[]=feature&type[]=initiative`.\nCurrently supported PM entity types:\n  - product\n  - component\n  - feature\n  - subfeature\n  - initiative\n  - objective\n  - keyResult\n  - release\n  - releaseGroup\n  - user\n  - company\n\nThe exact types available may vary based on the configuration of the workspace.\n\"",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/fixed_EntityType"
              }
            }
          },
          {
            "$ref": "#/components/parameters/fixed_Fields"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by entity name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner[id]",
            "in": "query",
            "description": "Filter by owner ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner[email]",
            "in": "query",
            "description": "Filter by owner email",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "status[id]",
            "in": "query",
            "description": "Filter by status ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status[name]",
            "in": "query",
            "description": "Filter by status name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "archived",
            "in": "query",
            "description": "Filter by archived status (true/false)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "parent[id]",
            "in": "query",
            "description": "Filter by parent PM entity ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/fixed_EntityListResponse"
          },
          "400": {
            "$ref": "#/components/responses/fixed_entities_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/fixed_entities_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/fixed_entities_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/fixed_NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/fixed_entities_RequestTimeoutResponse"
          },
          "429": {
            "$ref": "#/components/responses/fixed_entities_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/fixed_entities_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "fixed_entities_BearerAuth": [
              "entities:read"
            ]
          }
        ]
      }
    },
    "/fixed/entities/{id}": {
      "get": {
        "tags": [
          "entities"
        ],
        "summary": "Get entity",
        "description": "Retrieves all configured fields and values for the specified Entities.\nUse this endpoint to load complete data for a single entity.\n\n> Without the `members:pii:read` scope, owner email is returned as `[redacted]`. Without the `users:pii:read` scope, user entity name and email fields are returned as `[redacted]`.\n\nYou can limit the fields returned using the `fields` query parameter.\n",
        "operationId": "fixed-entities-getEntity",
        "parameters": [
          {
            "$ref": "#/components/parameters/fixed_Id"
          },
          {
            "$ref": "#/components/parameters/fixed_Fields"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/fixed_EntityResponse"
          },
          "400": {
            "$ref": "#/components/responses/fixed_entities_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/fixed_entities_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/fixed_entities_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/fixed_NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/fixed_entities_RequestTimeoutResponse"
          },
          "429": {
            "$ref": "#/components/responses/fixed_entities_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/fixed_entities_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "fixed_entities_BearerAuth": [
              "entities:read"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "entities"
        ],
        "summary": "Update entity",
        "description": "Updates one or more fields of a Entities.  \nUse `fields` for full replacement of values, or `patch` for granular changes like adding/removing items in list-type fields.  \nYou must use either `fields` or `patch` – not both.\n\nThe `patch` property supports these operations:\n- `set` – same as setting a value via `fields`\n- `addItems` – add one or more values to a list field\n- `removeItems` – remove values from a list field\n- `clear` – erase the value of the field\n\n## Limitations\n- Providing both `fields` and `patch` in the same request will return an error.\n",
        "operationId": "fixed-entities-updateEntity",
        "parameters": [
          {
            "$ref": "#/components/parameters/fixed_Id"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/fixed_EntityPatchRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/fixed_EntityUpdateResponse"
          },
          "400": {
            "$ref": "#/components/responses/fixed_entities_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/fixed_entities_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/fixed_entities_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/fixed_NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/fixed_entities_RequestTimeoutResponse"
          },
          "422": {
            "$ref": "#/components/responses/fixed_UnprocessableEntityResponse"
          },
          "429": {
            "$ref": "#/components/responses/fixed_entities_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/fixed_entities_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "fixed_entities_BearerAuth": [
              "entities:write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "entities"
        ],
        "summary": "Delete entity",
        "description": "Deletes a Product Management entity by ID. This operation permanently removes the specified entity from your workspace.\n\nIf the entity has any child entities (e.g. a product with components, or a feature with subfeatures), those children will be **deleted automatically** as part of a cascading delete.\n\n**Use this endpoint with caution — deletion is irreversible.**\n",
        "operationId": "fixed-entities-deleteEntity",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the PM entity to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/fixed_NoContentResponse"
          },
          "400": {
            "$ref": "#/components/responses/fixed_entities_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/fixed_entities_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/fixed_entities_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/fixed_NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/fixed_entities_RequestTimeoutResponse"
          },
          "422": {
            "$ref": "#/components/responses/fixed_UnprocessableEntityResponse"
          },
          "429": {
            "$ref": "#/components/responses/fixed_entities_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/fixed_entities_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "fixed_entities_BearerAuth": [
              "entities:delete"
            ]
          }
        ]
      }
    },
    "/fixed/entities/search": {
      "post": {
        "tags": [
          "entities"
        ],
        "summary": "Search entities",
        "description": "Performs a filtered search over Entities using a POST request.\nThis endpoint supports the same filtering capabilities as `GET /v2/entities`, but allows a larger and more complex payload.\nIt's useful when filtering by a long list of foreign key IDs or when URL length limits become a problem.\n\n## Filter availability\nNot all filters apply to all entity types. For example, `status` filtering is only available\nfor types that have a status field (e.g. `feature`, `initiative`), and `parent` filtering only works\nfor types that have a parent relationship.\n\nUse `GET /v2/entities/configurations/{type}` to check which filters are supported for a specific type.\nThe `filters` array in the configuration response lists all available filter parameters,\ntheir exact query parameter names, and value schemas.\n\n> Filtering by `owner[email]` requires the `members:pii:read` scope.\n\n## Limitations\n- Only the `AND` operator is supported when applying multiple filters. `OR`, `NOT`, or nested conditions are not supported.\n- You can search only within one entity type at a time.\n",
        "operationId": "fixed-entities-performEntitiesSearch",
        "parameters": [
          {
            "$ref": "#/components/parameters/fixed_PageCursor"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/fixed_EntitySearchRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/fixed_EntityListResponse"
          },
          "400": {
            "$ref": "#/components/responses/fixed_entities_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/fixed_entities_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/fixed_entities_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/fixed_NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/fixed_entities_RequestTimeoutResponse"
          },
          "422": {
            "$ref": "#/components/responses/fixed_UnprocessableEntityResponse"
          },
          "429": {
            "$ref": "#/components/responses/fixed_entities_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/fixed_entities_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "fixed_entities_BearerAuth": [
              "entities:read"
            ]
          }
        ]
      }
    },
    "/fixed/entities/{id}/relationships": {
      "get": {
        "tags": [
          "entities"
        ],
        "summary": "List relationships",
        "description": "Retrieves all relationships associated with a specific Entities.\nThis includes parent, child, and linked entities.\nUse this endpoint to understand how an entity is connected within the product hierarchy or planning structure.\n\nThe source entity is implicit (this entity).\n",
        "operationId": "fixed-entities-listEntityRelationships",
        "parameters": [
          {
            "$ref": "#/components/parameters/fixed_Id"
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type of the relationship to filter by (optional)",
            "schema": {
              "$ref": "#/components/schemas/fixed_EntityRelationshipType"
            }
          },
          {
            "name": "target[type]",
            "in": "query",
            "description": "The entity type of the target to filter relationships by (optional)",
            "schema": {
              "$ref": "#/components/schemas/fixed_EntityType"
            }
          },
          {
            "name": "target[id]",
            "in": "query",
            "description": "The ID of the target entity to filter the relationships by (optional)",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/fixed_PageCursor"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/fixed_EntityRelationshipListResponse"
          },
          "400": {
            "$ref": "#/components/responses/fixed_entities_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/fixed_entities_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/fixed_entities_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/fixed_NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/fixed_entities_RequestTimeoutResponse"
          },
          "429": {
            "$ref": "#/components/responses/fixed_entities_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/fixed_entities_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "fixed_entities_BearerAuth": [
              "entities:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "entities"
        ],
        "summary": "Create relationship",
        "description": "Creates a relationship between two Entities.  \nSpecify the source entity via the URL path (`{id}`), and the target entity and relationship type in the request body.\n\nThe `type` field determines the direction and nature of the relationship.  \nSupported values:\n- `parent` – declare the target as the parent of the source\n- `child` – declare the target as the child of the source\n- `link` – create a non-hierarchical connection between entities\n- `isBlockedBy` – create a dependency between entities\n- `isBlocking` – create a dependency between entities\n\n## Limitations\n- Only valid combinations of source and target entities are allowed for each relationship type.\n- The target entity must exist and be accessible.\n",
        "operationId": "fixed-entities-createEntityRelationship",
        "parameters": [
          {
            "$ref": "#/components/parameters/fixed_Id"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/fixed_EntityRelationshipCreateRequestBody"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/fixed_EntityRelationshipResponse"
          },
          "400": {
            "$ref": "#/components/responses/fixed_entities_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/fixed_entities_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/fixed_entities_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/fixed_NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/fixed_entities_RequestTimeoutResponse"
          },
          "409": {
            "$ref": "#/components/responses/fixed_ConflictResponse"
          },
          "422": {
            "$ref": "#/components/responses/fixed_UnprocessableEntityResponse"
          },
          "429": {
            "$ref": "#/components/responses/fixed_entities_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/fixed_entities_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "fixed_entities_BearerAuth": [
              "entities:write"
            ]
          }
        ]
      }
    },
    "/fixed/entities/{id}/relationships/parent": {
      "put": {
        "tags": [
          "entities"
        ],
        "summary": "Set parent relationship",
        "description": "Replaces the parent of a specific Entities.  \nSome entity types (such as features and subfeatures) are required to have a parent.  \nThis endpoint allows you to update the parent entity when the relationship changes.\n\nThe new parent is specified in the request body using the `target.id` field.\n\n## Limitations\n- Only valid parent relationships are allowed (e.g. feature → component, subfeature → feature).\n- The target entity must exist and be a valid parent type.\n- This will overwrite any existing parent relationship.\n",
        "operationId": "fixed-entities-replaceEntityRelationship",
        "parameters": [
          {
            "$ref": "#/components/parameters/fixed_Id"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/fixed_EntityParentRelationshipReplaceRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/fixed_EntityRelationshipReplaceResponse"
          },
          "400": {
            "$ref": "#/components/responses/fixed_entities_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/fixed_entities_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/fixed_entities_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/fixed_NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/fixed_entities_RequestTimeoutResponse"
          },
          "422": {
            "$ref": "#/components/responses/fixed_UnprocessableEntityResponse"
          },
          "429": {
            "$ref": "#/components/responses/fixed_entities_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/fixed_entities_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "fixed_entities_BearerAuth": [
              "entities:write"
            ]
          }
        ]
      }
    },
    "/fixed/entities/{id}/relationships/{type}/{targetId}": {
      "delete": {
        "tags": [
          "entities"
        ],
        "summary": "Delete relationship",
        "description": "Removes a relationship between two Entities.  \nUse the `type` query parameter to indicate which kind of relationship you want to remove.\n",
        "operationId": "fixed-entities-deleteEntityRelationship",
        "parameters": [
          {
            "$ref": "#/components/parameters/fixed_Id"
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/fixed_EntityRelationshipType"
            }
          },
          {
            "name": "targetId",
            "in": "path",
            "description": "The ID of the target entity to delete the relationship with.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/fixed_NoContentResponse"
          },
          "400": {
            "$ref": "#/components/responses/fixed_entities_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/fixed_entities_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/fixed_entities_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/fixed_NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/fixed_entities_RequestTimeoutResponse"
          },
          "422": {
            "$ref": "#/components/responses/fixed_UnprocessableEntityResponse"
          },
          "429": {
            "$ref": "#/components/responses/fixed_entities_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/fixed_entities_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "fixed_entities_BearerAuth": [
              "entities:write"
            ]
          }
        ]
      }
    },
    "/fixed/entities/fields/{id}/values": {
      "get": {
        "tags": [
          "fields"
        ],
        "summary": "List field values",
        "description": "Returns a paginated list of allowed values for select-type and status fields (SINGLE_SELECT, MULTI_SELECT, STATUS).\nUse this endpoint to retrieve all available options for fields with many values, or when you need\nto paginate through all values.\n\nFor fields with fewer values (≤1000), the values are returned inline in the field response.\nFor fields with more values, the field response contains a reference to this endpoint.\n",
        "operationId": "fixed-entities-listEntityFieldValues",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Field identifier (UUID for custom fields, API name for default fields).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assignedEntityType[]",
            "in": "query",
            "description": "Filter values by assigned entity type. Useful for status fields where different entity types have different status sets.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/fixed_EntityType"
              }
            }
          },
          {
            "$ref": "#/components/parameters/fixed_PageCursor"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/fixed_FieldValuesListResponse"
          },
          "400": {
            "$ref": "#/components/responses/fixed_entities_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/fixed_entities_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/fixed_entities_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/fixed_NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/fixed_entities_RequestTimeoutResponse"
          },
          "429": {
            "$ref": "#/components/responses/fixed_entities_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/fixed_entities_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "fixed_entities_BearerAuth": [
              "entities:read"
            ]
          }
        ]
      }
    },
    "/fixed/jira-integrations": {
      "get": {
        "tags": [
          "jira-integrations"
        ],
        "summary": "List Jira integrations",
        "description": "Returns detail of all Jira integrations.\n\nThis API is paginated using cursor-based pagination. The client should follow the `links.next` link in the response to fetch the next page.\n",
        "operationId": "fixed-jira-integrations-listJiraIntegrations",
        "parameters": [
          {
            "$ref": "#/components/parameters/jira_integrations_PageCursor"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JiraIntegrationListResponse"
          },
          "400": {
            "$ref": "#/components/responses/jira_integrations_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/jira_integrations_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/jira_integrations_ForbiddenResponse"
          },
          "408": {
            "$ref": "#/components/responses/jira_integrations_RequestTimeoutResponse"
          },
          "429": {
            "$ref": "#/components/responses/jira_integrations_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/jira_integrations_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "jira_integrations_BearerAuth": [
              "jira-integrations:read"
            ]
          }
        ]
      }
    },
    "/fixed/jira-integrations/{integrationId}": {
      "get": {
        "tags": [
          "jira-integrations"
        ],
        "summary": "Get Jira integration",
        "description": "Returns detail of a specific Jira integration identified by its UUID. Use this endpoint to retrieve comprehensive information about a single integration including its name, status, creation timestamp, and related resource links.\n",
        "operationId": "fixed-jira-integrations-getJiraIntegration",
        "parameters": [
          {
            "$ref": "#/components/parameters/IntegrationId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JiraIntegrationResponse"
          },
          "400": {
            "$ref": "#/components/responses/jira_integrations_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/jira_integrations_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/jira_integrations_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/jira_integrations_NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/jira_integrations_RequestTimeoutResponse"
          },
          "429": {
            "$ref": "#/components/responses/jira_integrations_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/jira_integrations_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "jira_integrations_BearerAuth": [
              "jira-integrations:read"
            ]
          }
        ]
      }
    },
    "/fixed/jira-integrations/{integrationId}/connections": {
      "get": {
        "tags": [
          "jira-integrations"
        ],
        "summary": "List Jira integration connections",
        "description": "Returns detail of all Productboard feature - Jira issue connections for given integration. It also allows to find a connection by Jira issue key or ID.\n\nThis API is paginated using cursor-based pagination. The client should follow the `links.next` link in the response to fetch the next page.\n",
        "operationId": "fixed-jira-integrations-listJiraIntegrationConnections",
        "parameters": [
          {
            "$ref": "#/components/parameters/IntegrationId"
          },
          {
            "$ref": "#/components/parameters/jira_integrations_PageCursor"
          },
          {
            "name": "issueKey",
            "in": "query",
            "description": "If specified, the resource returns only connection for given Jira issue (if any).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "issueId",
            "in": "query",
            "description": "If specified, the resource returns only connection for given Jira issue (if any).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JiraIntegrationConnectionListResponse"
          },
          "400": {
            "$ref": "#/components/responses/jira_integrations_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/jira_integrations_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/jira_integrations_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/jira_integrations_NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/jira_integrations_RequestTimeoutResponse"
          },
          "429": {
            "$ref": "#/components/responses/jira_integrations_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/jira_integrations_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "jira_integrations_BearerAuth": [
              "jira-integrations:read"
            ]
          }
        ]
      }
    },
    "/fixed/jira-integrations/{integrationId}/connections/{entityId}": {
      "get": {
        "tags": [
          "jira-integrations"
        ],
        "summary": "Get Jira integration connection",
        "description": "Returns detail of a specific Productboard feature - Jira issue connection identified by integration UUID and entity UUID. Use this endpoint to retrieve information about the link between a Productboard feature and its corresponding Jira issue.\n",
        "operationId": "fixed-jira-integrations-getJiraIntegrationConnection",
        "parameters": [
          {
            "$ref": "#/components/parameters/IntegrationId"
          },
          {
            "$ref": "#/components/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JiraIntegrationConnectionResponse"
          },
          "400": {
            "$ref": "#/components/responses/jira_integrations_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/jira_integrations_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/jira_integrations_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/jira_integrations_NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/jira_integrations_RequestTimeoutResponse"
          },
          "429": {
            "$ref": "#/components/responses/jira_integrations_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/jira_integrations_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "jira_integrations_BearerAuth": [
              "jira-integrations:read"
            ]
          }
        ]
      }
    },
    "/fixed/members": {
      "get": {
        "tags": [
          "members"
        ],
        "summary": "List members",
        "description": "Retrieves a paginated list of members from your workspace.\nMembers represent users who have access to your Productboard workspace.\n\n- Members are sorted by creation date, oldest first.\n- Use the `query` parameter to search by name or email (case-insensitive, partial match).\n- Use the `roles[]` parameter to filter by role(s). Multiple roles use OR logic (e.g., `roles[]=admin&roles[]=maker`).\n- Use the `includeDisabled` parameter to include disabled members in the response.\n- Use the `includeInvited` parameter to include invited members with pending invitations.\n- Use the `pageCursor` parameter to paginate through results.\n\n> Without the `members:pii:read` OAuth scope, PII fields (`name`, `username`, `email`) are returned as `[redacted]`.\n",
        "operationId": "fixed-members-listMembers",
        "parameters": [
          {
            "name": "pageCursor",
            "in": "query",
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Full-text search query. Performs case-insensitive partial match on member name or email.\n",
            "schema": {
              "maxLength": 255,
              "minLength": 1,
              "type": "string"
            },
            "example": "john"
          },
          {
            "name": "roles[]",
            "in": "query",
            "description": "\"Filter members by role(s). Use multiple `roles[]` parameters to match members\nwith any of the specified roles (OR logic).\n\nExamples:\n- Single role: `roles[]=admin`\n- Multiple roles: `roles[]=admin&roles[]=maker`\n\"",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "admin",
                  "maker",
                  "viewer",
                  "contributor"
                ],
                "type": "string",
                "additionalProperties": false
              }
            },
            "examples": {
              "single_role": {
                "summary": "Filter by single role",
                "value": [
                  "admin"
                ]
              },
              "multiple_roles": {
                "summary": "Filter by multiple roles (OR logic)",
                "value": [
                  "admin",
                  "maker"
                ]
              }
            }
          },
          {
            "name": "includeDisabled",
            "in": "query",
            "description": "Include disabled members in the response. By default, disabled members are excluded.\n",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": true
          },
          {
            "name": "includeInvitationPending",
            "in": "query",
            "description": "Include members with pending invitations in the response. By default, members with pending invitations are excluded.\n",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": true
          },
          {
            "name": "includeInvited",
            "in": "query",
            "description": "\"**Deprecated**: Use `includeInvitationPending` instead.\nInclude members with pending invitations in the response. By default, members with pending invitations are excluded.\n\"",
            "deprecated": true,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/MemberListResponse"
          },
          "400": {
            "$ref": "#/components/responses/members_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/members_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/members_ForbiddenResponse"
          },
          "408": {
            "$ref": "#/components/responses/members_RequestTimeoutResponse"
          },
          "429": {
            "$ref": "#/components/responses/members_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/members_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "members_BearerAuth": [
              "members:read"
            ]
          }
        ]
      }
    },
    "/fixed/members/search": {
      "post": {
        "tags": [
          "members"
        ],
        "summary": "Search members",
        "description": "\"## Purpose\nPerforms a filtered search over members using a POST request body.\nSupports batch lookups by IDs or emails, plus all filters from GET /v2/members.\n\n**Structured format** (recommended): Uses `filter`, `search`, and `return` objects under `data`.\n**Legacy format** (deprecated): Uses flat arrays directly under `data`.\n\n## Key Features\n- `filter.id`: Filter by member UUIDs (OR logic, max 100)\n- `filter.fields.email`: Filter by email addresses (OR logic, max 100, requires `members_pii:read` scope)\n- `filter.fields.role`: Filter by roles (OR logic)\n- `filter.fields.disabled`: Exclusive filter for disabled members (true = only disabled)\n- `filter.fields.invitationPending`: Exclusive filter for pending members (true = only pending)\n- `search.query`: Full-text search on name or email (requires `members_pii:read` scope)\n- `return.includeDisabled`: Include disabled members alongside active\n- `return.includeInvitationPending`: Include pending members alongside accepted\n\n## Filter Logic\n- Multiple values within a filter use **OR** logic (e.g., `filter.id` with two UUIDs)\n- Different filters use **AND** logic (e.g., `filter.fields.email` AND `filter.fields.role`)\n- Disabled and invited members are excluded by default\n- Use `filter.fields.disabled: true` to get **only** disabled members\n- Use `return.includeDisabled: true` to include disabled **alongside** active members\n- If both `filter.fields.disabled` and `return.includeDisabled` are set, the filter takes precedence\n\n## Important Notes\n- The `filter.id` and `filter.fields.email` filters accept at most 100 items each; exceeding this returns a 400 error\n- Filtering by email or query requires the `members_pii:read` scope; requests without it return a 400 error\n- Unknown keys in `filter.fields` return a 400 error\n- Pagination uses cursor-based navigation via `pageCursor` query parameter\n\"",
        "operationId": "fixed-members-performMembersSearch",
        "parameters": [
          {
            "name": "pageCursor",
            "in": "query",
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemberSearchRequest"
              },
              "examples": {
                "filter_by_ids": {
                  "summary": "Filter by IDs (new format)",
                  "value": {
                    "data": {
                      "filter": {
                        "id": [
                          "123e4567-e89b-12d3-a456-426614174000"
                        ]
                      }
                    }
                  }
                },
                "filter_by_email": {
                  "summary": "Filter by email (new format)",
                  "value": {
                    "data": {
                      "filter": {
                        "fields": {
                          "email": [
                            "john.doe@example.com",
                            "jane.smith@example.com"
                          ]
                        }
                      }
                    }
                  }
                },
                "filter_by_role_with_disabled": {
                  "summary": "Filter by role and include disabled (new format)",
                  "value": {
                    "data": {
                      "filter": {
                        "fields": {
                          "role": [
                            "admin",
                            "maker"
                          ]
                        }
                      },
                      "return": {
                        "includeDisabled": true
                      }
                    }
                  }
                },
                "filter_only_disabled": {
                  "summary": "Get only disabled members (new format)",
                  "value": {
                    "data": {
                      "filter": {
                        "fields": {
                          "disabled": true
                        }
                      }
                    }
                  }
                },
                "combined_filter_and_search": {
                  "summary": "Combined filter + text search (new format)",
                  "value": {
                    "data": {
                      "filter": {
                        "fields": {
                          "role": "admin"
                        }
                      },
                      "search": {
                        "query": "john"
                      }
                    }
                  }
                },
                "legacy_search_by_ids": {
                  "summary": "Search by IDs (legacy, deprecated)",
                  "value": {
                    "data": {
                      "ids": [
                        "123e4567-e89b-12d3-a456-426614174000"
                      ]
                    }
                  }
                },
                "legacy_search_by_emails": {
                  "summary": "Search by emails (legacy, deprecated)",
                  "value": {
                    "data": {
                      "emails": [
                        "john.doe@example.com"
                      ],
                      "includeDisabled": true
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/MemberListResponse"
          },
          "400": {
            "$ref": "#/components/responses/members_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/members_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/members_ForbiddenResponse"
          },
          "408": {
            "$ref": "#/components/responses/members_RequestTimeoutResponse"
          },
          "422": {
            "$ref": "#/components/responses/members_UnprocessableEntityResponse"
          },
          "429": {
            "$ref": "#/components/responses/members_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/members_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "members_BearerAuth": [
              "members:read"
            ]
          }
        ]
      }
    },
    "/fixed/members/{id}": {
      "get": {
        "tags": [
          "members"
        ],
        "summary": "Get member",
        "description": "Retrieves the full details of a specific member by their unique identifier (UUID).\nReturns the member's profile information including name, username, email address, and workspace role.\n\n> Without the `members:pii:read` OAuth scope, PII fields (`name`, `username`, `email`) are returned as `[redacted]`.\n",
        "operationId": "fixed-members-getMember",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Member identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "123e4567-e89b-12d3-a456-426614174000"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/MemberResponse"
          },
          "401": {
            "$ref": "#/components/responses/members_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/members_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/members_NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/members_RequestTimeoutResponse"
          },
          "429": {
            "$ref": "#/components/responses/members_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/members_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "members_BearerAuth": [
              "members:read"
            ]
          }
        ]
      }
    },
    "/fixed/notes/configurations": {
      "get": {
        "tags": [
          "notes"
        ],
        "summary": "List configurations",
        "description": "Returns configuration metadata for note types, including supported fields, patch operations, and validation rules.\n\nUse this endpoint to programmatically discover which fields are available, what note types are supported,\nand how your workspace is configured.\n\n### Filtering by Type\n\nBy default, this endpoint returns configurations for all available note types (`textNote`, `conversationNote`, `opportunityNote`).\n\nYou can filter results to specific types using the optional `type[]` query parameter:\n\n- `type[]=textNote`\n- `type[]=textNote&type[]=conversationNote`\n\nFor backward compatibility, the API also accepts a single `type` query parameter with one value,\nfor example `type=textNote`.\n\nLegacy aliases (`simple`, `conversation`, `opportunity`) are also accepted and normalized to the canonical values above.\n",
        "operationId": "fixed-notes-listNoteConfigurations",
        "parameters": [
          {
            "name": "type[]",
            "in": "query",
            "description": "\"Optional array of note types to filter results.\nValid values: textNote, conversationNote, opportunityNote.\nLegacy aliases simple, conversation, opportunity are also accepted.\nExample: type[]=textNote&type[]=conversationNote\n\"",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/NoteTypeInput"
              }
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "\"Optional single note type filter for backward compatibility.\nValid values: textNote, conversationNote, opportunityNote.\nLegacy aliases simple, conversation, opportunity are also accepted.\nExample: type=textNote\nNote: Use `type[]` to filter by multiple note types.\n\"",
            "schema": {
              "$ref": "#/components/schemas/NoteTypeInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of entity configurations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/notes_listNoteConfigurations_200"
                },
                "examples": {
                  "all-types": {
                    "summary": "All entity configurations",
                    "value": {
                      "data": [
                        {
                          "type": "textNote",
                          "fields": {
                            "name": {
                              "id": "name",
                              "name": "Name",
                              "path": "/fields/name",
                              "schema": {
                                "type": "string"
                              },
                              "lifecycle": {
                                "create": {
                                  "set": true
                                },
                                "update": {
                                  "set": true
                                },
                                "patch": {
                                  "set": true
                                }
                              },
                              "constraints": {
                                "required": true
                              }
                            }
                          }
                        },
                        {
                          "type": "conversationNote",
                          "fields": {
                            "name": {
                              "id": "name",
                              "name": "Name",
                              "path": "/fields/name",
                              "schema": {
                                "type": "string"
                              },
                              "lifecycle": {
                                "create": {
                                  "set": true
                                },
                                "update": {
                                  "set": true
                                },
                                "patch": {
                                  "set": true
                                }
                              },
                              "constraints": {
                                "required": true
                              }
                            }
                          }
                        },
                        {
                          "type": "opportunityNote",
                          "fields": {
                            "name": {
                              "id": "name",
                              "name": "Name",
                              "path": "/fields/name",
                              "schema": {
                                "type": "string"
                              },
                              "lifecycle": {
                                "create": {
                                  "set": true
                                },
                                "update": {
                                  "set": true
                                },
                                "patch": {
                                  "set": true
                                }
                              },
                              "constraints": {
                                "required": true
                              }
                            }
                          }
                        }
                      ]
                    }
                  },
                  "filtered": {
                    "summary": "Filtered entity configurations",
                    "value": {
                      "data": [
                        {
                          "type": "textNote",
                          "fields": {
                            "name": {
                              "id": "name",
                              "name": "Name",
                              "path": "/fields/name",
                              "schema": {
                                "type": "string"
                              },
                              "lifecycle": {
                                "create": {
                                  "set": true
                                },
                                "update": {
                                  "set": true
                                },
                                "patch": {
                                  "set": true
                                }
                              },
                              "constraints": {
                                "required": true
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/notes_BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/notes_UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/notes_ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/notes_NotFoundResponse"
          },
          "408": {
            "$ref": "#/components/responses/notes_RequestTimeoutResponse"
          },
          "429": {
            "$ref": "#/components/responses/notes_TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/notes_InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "notes_BearerAuth": [
              "notes:read"
            ]
          }
        ]
      }
    },
    "/fixed/notes/configurations/{type}": {
      "get": {
        "tags": [
          "notes"
        ],
        "summary": "Get configuration",
        "description": "Returns configuration metadata for a specific note type, including supported fields, patch operations, and validation rules.\n\nUse this endpoint to programmatically discover the configuration for a specific note type.\n",
        "operationId": "fixed-notes-getNoteConfiguration",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "The note type to retrieve configuration for. Legacy note type aliases are also accepted.\n",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/NoteTypeInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Configuration details",
[...]
