{
  "openapi": "3.1.2",
  "info": {
    "title": "Notes",
    "description": "Productboard API v2 for managing notes and their relationships to other entities. Use these endpoints to create, list, update, and delete notes, and to link them to entities, companies, and other resources.",
    "contact": {
      "name": "Productboard Support",
      "url": "https://support.productboard.com",
      "email": "support@productboard.com"
    },
    "license": {
      "name": "Productboard Proprietary",
      "url": "https://www.productboard.com/"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.productboard.com/v2",
      "description": "Production server"
    }
  ],
  "paths": {
    "/notes/configurations": {
      "get": {
        "tags": [
          "notes"
        ],
        "summary": "List configurations",
        "description": "Returns configuration metadata for note types, including supported fields, patch operations, and validation rules.\n\nUse this endpoint to programmatically discover which fields are available, what note types are supported,\nand how your workspace is configured.\n\n### Filtering by Type\n\nBy default, this endpoint returns configurations for all available note types (\u0060textNote\u0060, \u0060conversationNote\u0060, \u0060opportunityNote\u0060).\n\nYou can filter results to specific types using the optional \u0060type[]\u0060 query parameter:\n\n- \u0060type[]=textNote\u0060\n- \u0060type[]=textNote\u0026type[]=conversationNote\u0060\n\nFor backward compatibility, the API also accepts a single \u0060type\u0060 query parameter with one value,\nfor example \u0060type=textNote\u0060.\n\nLegacy aliases (\u0060simple\u0060, \u0060conversation\u0060, \u0060opportunity\u0060) are also accepted and normalized to the canonical values above.\n",
        "operationId": "ListNoteConfigurations",
        "parameters": [
          {
            "name": "type[]",
            "in": "query",
            "description": "Optional array of note types to filter results.\nValid values: textNote, conversationNote, opportunityNote.\nLegacy aliases simple, conversation, opportunity are also accepted.\nExample: type[]=textNote\u0026type[]=conversationNote\n",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/NoteTypeInput"
              }
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Optional single note type filter for backward compatibility.\nValid values: textNote, conversationNote, opportunityNote.\nLegacy aliases simple, conversation, opportunity are also accepted.\nExample: type=textNote\nNote: Use \u0060type[]\u0060 to filter by multiple note types.\n",
            "schema": {
              "$ref": "#/components/schemas/NoteTypeInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of entity configurations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListNoteConfigurations200Response"
                },
                "examples": {
                  "all-types": {
                    "summary": "All entity configurations",
                    "value": {
                      "data": [
                        {
                          "type": "textNote",
                          "fields": {
                            "name": {
                              "id": "name",
                              "name": "Name",
                              "path": "/fields/name",
                              "schema": {
                                "type": "string"
                              },
                              "lifecycle": {
                                "create": {
                                  "set": true
                                },
                                "update": {
                                  "set": true
                                },
                                "patch": {
                                  "set": true
                                }
                              },
                              "constraints": {
                                "required": true
                              }
                            }
                          }
                        },
                        {
                          "type": "conversationNote",
                          "fields": {
                            "name": {
                              "id": "name",
                              "name": "Name",
                              "path": "/fields/name",
                              "schema": {
                                "type": "string"
                              },
                              "lifecycle": {
                                "create": {
                                  "set": true
                                },
                                "update": {
                                  "set": true
                                },
                                "patch": {
                                  "set": true
                                }
                              },
                              "constraints": {
                                "required": true
                              }
                            }
                          }
                        },
                        {
                          "type": "opportunityNote",
                          "fields": {
                            "name": {
                              "id": "name",
                              "name": "Name",
                              "path": "/fields/name",
                              "schema": {
                                "type": "string"
                              },
                              "lifecycle": {
                                "create": {
                                  "set": true
                                },
                                "update": {
                                  "set": true
                                },
                                "patch": {
                                  "set": true
                                }
                              },
                              "constraints": {
                                "required": true
                              }
                            }
                          }
                        }
                      ]
                    }
                  },
                  "filtered": {
                    "summary": "Filtered entity configurations",
                    "value": {
                      "data": [
                        {
                          "type": "textNote",
                          "fields": {
                            "name": {
                              "id": "name",
                              "name": "Name",
                              "path": "/fields/name",
                              "schema": {
                                "type": "string"
                              },
                              "lifecycle": {
                                "create": {
                                  "set": true
                                },
                                "update": {
                                  "set": true
                                },
                                "patch": {
                                  "set": true
                                }
                              },
                              "constraints": {
                                "required": true
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "notes:read"
            ]
          }
        ]
      }
    },
    "/notes/configurations/{type}": {
      "get": {
        "tags": [
          "notes"
        ],
        "summary": "Get configuration",
        "description": "Returns configuration metadata for a specific note type, including supported fields, patch operations, and validation rules.\n\nUse this endpoint to programmatically discover the configuration for a specific note type.\n",
        "operationId": "GetNoteConfiguration",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "The note type to retrieve configuration for. Legacy note type aliases are also accepted.\n",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/NoteTypeInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Configuration details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNoteConfiguration200Response"
                },
                "examples": {
                  "text-note": {
                    "summary": "Text note configuration",
                    "value": {
                      "data": {
                        "type": "textNote",
                        "fields": {
                          "name": {
                            "id": "name",
                            "name": "Name",
                            "path": "/fields/name",
                            "schema": {
                              "type": "string"
                            },
                            "lifecycle": {
                              "create": {
                                "set": true
                              },
                              "update": {
                                "set": true
                              },
                              "patch": {
                                "set": true
                              }
                            },
                            "constraints": {
                              "required": true
                            }
                          }
                        }
                      }
                    }
                  },
                  "conversation-note": {
                    "summary": "Conversation note configuration",
                    "value": {
                      "data": {
                        "type": "conversationNote",
                        "fields": {
                          "name": {
                            "id": "name",
                            "name": "Name",
                            "path": "/fields/name",
                            "schema": {
                              "type": "string"
                            },
                            "lifecycle": {
                              "create": {
                                "set": true
                              },
                              "update": {
                                "set": true
                              },
                              "patch": {
                                "set": true
                              }
                            },
                            "constraints": {
                              "required": true
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "notes:read"
            ]
          }
        ]
      }
    },
    "/notes": {
      "post": {
        "tags": [
          "notes"
        ],
        "summary": "Create note",
        "description": "Creates a new note in your workspace.\nNotes represent individual pieces of feedback from customers, internal teams, or external systems.\n\nYou must specify the \u0060type\u0060 of note you\u0027re creating:\n- \u0060\u0022textNote\u0022\u0060 - for plain, unstructured notes\n- \u0060\u0022conversationNote\u0022\u0060 - for structured messages (e.g., from chat, email, or support systems)\n\nLegacy aliases (\u0060simple\u0060, \u0060conversation\u0060, \u0060opportunity\u0060) are accepted on input and normalized before business rules are applied.\n\u003E \u26A0\uFE0F Notes of type \u0060opportunityNote\u0060 cannot be created via the API.\n\n## Field Requirements and Configuration\n\nThe \u0060fields.name\u0060 attribute is **required** for all note types.\nOther fields depend on the selected note type and your workspace configuration.\nUse the [\u0060/v2/notes/configurations\u0060](#/paths/~1v2~1notes~1configurations/get) endpoint to discover available fields for each type.\n\nNotes can also be linked to Customers entities or Product links (like features) via relationships.\n",
        "operationId": "CreateNote",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNoteRequest"
              },
              "examples": {
                "text-note-basic-fields": {
                  "summary": "Create a text note with basic fields",
                  "value": {
                    "data": {
                      "type": "textNote",
                      "fields": {
                        "name": "New note",
                        "content": "This is a new note content."
                      }
                    }
                  }
                },
                "text-note-advanced-fields": {
                  "summary": "Create a text note with advanced fields",
                  "value": {
                    "data": {
                      "type": "textNote",
                      "fields": {
                        "name": "New note",
                        "tags": [
                          {
                            "name": "product"
                          },
                          {
                            "name": "q2"
                          }
                        ],
                        "content": "This is a new note content.",
                        "owner": {
                          "email": "jane.doe@example.com"
                        },
                        "creator": {
                          "email": "john.doe@example.com"
                        }
                      }
                    }
                  }
                },
                "text-note-with-metadata-source": {
                  "summary": "Create a text note with metadata source",
                  "value": {
                    "data": {
                      "type": "textNote",
                      "fields": {
                        "name": "Note from external system",
                        "content": "This note was imported from an external system."
                      },
                      "metadata": {
                        "source": {
                          "system": "support",
                          "recordId": "ticket-12345",
                          "url": "https://support.example.com/ticket/12345"
                        }
                      }
                    }
                  }
                },
                "text-note-with-relationships": {
                  "summary": "Create a text note with customer and feature relationships",
                  "value": {
                    "data": {
                      "type": "textNote",
                      "fields": {
                        "name": "Note with relationships",
                        "content": "This note is linked to a customer and features"
                      },
                      "relationships": [
                        {
                          "type": "customer",
                          "target": {
                            "id": "123e4567-e89b-12d3-a456-426614174000",
                            "type": "user"
                          }
                        },
                        {
                          "type": "link",
                          "target": {
                            "id": "223e4567-e89b-12d3-a456-426614174001",
                            "type": "link"
                          }
                        },
                        {
                          "type": "link",
                          "target": {
                            "id": "323e4567-e89b-12d3-a456-426614174002",
                            "type": "link"
                          }
                        }
                      ]
                    }
                  }
                },
                "simple-note-with-customer-by-email": {
                  "summary": "Create a simple note with customer assigned by email",
                  "value": {
                    "data": {
                      "type": "simple",
                      "fields": {
                        "name": "Note with email-based customer",
                        "content": "Customer assigned by email lookup"
                      },
                      "relationships": [
                        {
                          "type": "customer",
                          "target": {
                            "email": "john@acme.com",
                            "type": "user"
                          }
                        }
                      ]
                    }
                  }
                },
                "conversation-note": {
                  "summary": "Create a conversation note",
                  "value": {
                    "data": {
                      "type": "conversationNote",
                      "fields": {
                        "name": "Conversation Note",
                        "content": [
                          {
                            "externalId": "000",
                            "content": "Hello",
                            "timestamp": "2023-10-01T11:00:00Z",
                            "authorType": "agent"
                          },
                          {
                            "externalId": "111",
                            "content": "world",
                            "authorName": "John Doe",
                            "authorType": "customer",
                            "timestamp": "2023-10-01T12:00:00Z"
                          }
                        ],
                        "tags": [
                          {
                            "name": "support"
                          }
                        ],
                        "owner": {
                          "email": "john.doe@example.com"
                        },
                        "creator": {
                          "email": "john.doe@example.com"
                        }
                      }
                    }
                  }
                },
                "conversation-note-with-relationships": {
                  "summary": "Create a conversation note with company customer relationship",
                  "value": {
                    "data": {
                      "type": "conversationNote",
                      "fields": {
                        "name": "Conversation Note with Company",
                        "content": [
                          {
                            "externalId": "000",
                            "content": "Hello from company",
                            "timestamp": "2023-10-01T11:00:00Z",
                            "authorType": "agent"
                          }
                        ]
                      },
                      "relationships": [
                        {
                          "type": "customer",
                          "target": {
                            "id": "123e4567-e89b-12d3-a456-426614174100",
                            "type": "company"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Note created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteReferenceResponse"
                },
                "examples": {
                  "text-note": {
                    "summary": "Text note response",
                    "value": {
                      "data": {
                        "id": "123e4567-e89b-12d3-a456-426614174000",
                        "type": "textNote",
                        "links": {
                          "self": "https://api.productboard.com/v2/notes/123e4567-e89b-12d3-a456-426614174000",
                          "html": "https://example.productboard.com/all-notes/notes/42"
                        }
                      }
                    }
                  },
                  "conversation-note": {
                    "summary": "Conversation note response",
                    "value": {
                      "data": {
                        "id": "223e4567-e89b-12d3-a456-426614174000",
                        "type": "conversationNote",
                        "links": {
                          "self": "https://api.productboard.com/v2/notes/223e4567-e89b-12d3-a456-426614174000",
                          "html": "https://example.productboard.com/all-notes/notes/42"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "notes:write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "notes"
        ],
        "summary": "List notes",
        "description": "Retrieves a list of notes from your workspace.\n\n\u003E Without the \u0060members:pii:read\u0060 scope, owner and creator email fields are returned as \u0060[redacted]\u0060. Filtering by \u0060owner[email]\u0060 or \u0060creator[email]\u0060 requires the \u0060members:pii:read\u0060 scope.\n\n- Notes are sorted by creation date, newest first.\n- You can filter results using query parameters like \u0060archived\u0060, \u0060processed\u0060, \u0060owner[email]\u0060, \u0060creator[email]\u0060, \u0060metadata[source][system]\u0060, \u0060metadata[source][recordId]\u0060, or date/time ranges.\n- Use the \u0060pageCursor\u0060 parameter to paginate through results.\n- Use the \u0060fields\u0060 query parameter to optimize response size (default: all non-null fields, use \u0060fields=all\u0060 to include null values, or \u0060fields=name,tags\u0060 for specific fields).\n\n\u003E To discover available fields\nuse the [\u0060/v2/notes/configurations\u0060](#/paths/~1v2~1notes~1configurations/get) endpoint.\n\n### Date/Time Filtering\n\nYou can filter notes by creation or update timestamps using ISO-8601 date-time format:\n- Use \u0060createdFrom\u0060 and \u0060createdTo\u0060 to filter by creation date (inclusive bounds)\n- Use \u0060updatedFrom\u0060 and \u0060updatedTo\u0060 to filter by update date (inclusive bounds)\n- All date/time filters can be combined with each other and with other filters\n- Date ranges must be valid (From \u003C= To) or a 400 error will be returned\n\n### Filtering combinations\n\nSome combinations of the \u0060archived\u0060 and \u0060processed\u0060 flags result in empty or unexpected results.\nUse the following table to understand which notes are returned based on the filter values:\n\n| \u0060archived\u0060 | \u0060processed\u0060 | Result                    |\n|------------|-------------|---------------------------|\n| \u2013          | \u2013           | All notes                 |\n| \u0060true\u0060     | \u0060true\u0060      | None                      |\n| \u0060true\u0060     | \u0060false\u0060     | Archived                  |\n| \u0060false\u0060    | \u0060true\u0060      | Processed                 |\n| \u0060false\u0060    | \u0060false\u0060     | Unprocessed               |\n| \u0060true\u0060     | \u2013           | Archived                  |\n| \u0060false\u0060    | \u2013           | Processed \u002B unprocessed   |\n| \u2013          | \u0060true\u0060      | Processed                 |\n| \u2013          | \u0060false\u0060     | Archived \u002B unprocessed    |\n\n\u003E **Note**: Archived notes always return \u0060processed: false\u0060 in the API response, regardless of their actual processing state. This is a known limitation of the system.\n",
        "operationId": "ListNotes",
        "parameters": [
          {
            "name": "pageCursor",
            "in": "query",
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "archived",
            "in": "query",
            "description": "Filter notes by archived status.",
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "processed",
            "in": "query",
            "description": "Filter notes by processed status.",
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "type[]",
            "in": "query",
            "description": "Filter notes by one or more note types. Use array notation: \u0060type[]=textNote\u0026type[]=conversationNote\u0060.\nCurrently supported note types:\n  - textNote\n  - conversationNote\n  - opportunityNote\n\nLegacy aliases (simple, conversation, opportunity) are also accepted.\n",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/NoteTypeInput"
              }
            }
          },
          {
            "name": "owner[id]",
            "in": "query",
            "description": "Filter notes by owner UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "e9f642b4-f0f8-4acc-ba0c-acc76453f60e"
          },
          {
            "name": "owner[email]",
            "in": "query",
            "description": "Filter notes by owner email.",
            "schema": {
              "type": "string",
              "example": "jane.doe@example.com"
            }
          },
          {
            "name": "creator[id]",
            "in": "query",
            "description": "Filter notes by creator UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "e9f642b4-f0f8-4acc-ba0c-acc76453f60e"
          },
          {
            "name": "creator[email]",
            "in": "query",
            "description": "Filter notes by creator email.",
            "schema": {
              "type": "string",
              "example": "john.doe@example.com"
            }
          },
          {
            "name": "metadata[source][system]",
            "in": "query",
            "description": "Filter notes by the source system name from metadata.source.\nCan be combined with metadata[source][recordId] and other filters.\n",
            "schema": {
              "type": "string",
              "example": "support"
            }
          },
          {
            "name": "metadata[source][recordId]",
            "in": "query",
            "description": "Filter notes by the source record ID from metadata.source.\nCan be combined with metadata[source][system] and other filters.\n",
            "schema": {
              "type": "string",
              "example": "ticket-12345"
            }
          },
          {
            "name": "createdFrom",
            "in": "query",
            "description": "Filter notes created on or after this date/time (inclusive).\nMust be in ISO-8601 format (e.g., \u00222023-10-01T12:00:00Z\u0022).\nCan be combined with createdTo to define a range.\n",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2023-10-01T00:00:00Z"
            }
          },
          {
            "name": "createdTo",
            "in": "query",
            "description": "Filter notes created on or before this date/time (inclusive).\nMust be in ISO-8601 format (e.g., \u00222023-12-31T23:59:59Z\u0022).\nCan be combined with createdFrom to define a range.\n",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2023-12-31T23:59:59Z"
            }
          },
          {
            "name": "updatedFrom",
            "in": "query",
            "description": "Filter notes updated on or after this date/time (inclusive).\nMust be in ISO-8601 format (e.g., \u00222023-10-01T12:00:00Z\u0022).\nCan be combined with updatedTo to define a range.\n",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2023-10-01T00:00:00Z"
            }
          },
          {
            "name": "updatedTo",
            "in": "query",
            "description": "Filter notes updated on or before this date/time (inclusive).\nMust be in ISO-8601 format (e.g., \u00222023-12-31T23:59:59Z\u0022).\nCan be combined with updatedFrom to define a range.\n",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2023-12-31T23:59:59Z"
            }
          },
          {
            "description": "Controls which fields are returned in the response to optimize bandwidth and tailor data to your needs.\n\n**Options:**\n- Not specified: Returns only fields with non-empty values (default)\n- \u0060fields[]=all\u0060: Returns all fields, including those with \u0060null\u0060 values\n- \u0060fields[]=name\u0026fields[]=tags\u0060: Returns only the specified fields\n\n**Notes:**\n- When specific fields are requested, they are returned even if they have null/empty values\n- Unknown field IDs result in a 400 Bad Request error\n- Combining \u0060all\u0060 with specific field IDs results in a 400 Bad Request error\n\nFor detailed usage, examples, and field discovery, see [Response Field Control](https://developer.productboard.com/v2.0.0/reference/response-field-control).\n",
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of notes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListNotes200Response"
                },
                "examples": {
                  "success": {
                    "summary": "List of notes",
                    "value": {
                      "data": [
                        {
                          "id": "123e4567-e89b-12d3-a456-426614174000",
                          "type": "textNote",
                          "fields": {
                            "name": "Customer feedback",
                            "tags": [
                              {
                                "name": "feedback"
                              },
                              {
                                "name": "q1"
                              }
                            ],
                            "content": "Customer reported slow loading times on mobile app",
                            "owner": {
                              "id": "923e4567-e89b-12d3-a456-426614174008",
                              "email": "john.doe@example.com"
                            },
                            "creator": {
                              "id": "e23e4567-e89b-12d3-a456-426614174013",
                              "email": "creator@example.com"
                            },
                            "processed": true,
                            "archived": false,
                            "createdAt": "2023-10-01T09:00:00Z",
                            "updatedAt": "2023-10-02T14:00:00Z"
                          },
                          "relationships": [
                            {
                              "type": "customer",
                              "target": {
                                "id": "f23e4567-e89b-12d3-a456-426614174014",
                                "type": "user",
                                "links": {
                                  "self": "https://api.productboard.com/v2/users/f23e4567-e89b-12d3-a456-426614174014"
                                }
                              }
                            },
                            {
                              "type": "link",
                              "target": {
                                "id": "g23e4567-e89b-12d3-a456-426614174015",
                                "type": "feature",
                                "links": {
                                  "self": "https://api.productboard.com/v2/entities/g23e4567-e89b-12d3-a456-426614174015"
                                }
                              }
                            }
                          ],
                          "links": {
                            "self": "https://api.productboard.com/v2/notes/123e4567-e89b-12d3-a456-426614174000",
                            "html": "https://example.productboard.com/all-notes/notes/42"
                          }
                        },
                        {
                          "id": "223e4567-e89b-12d3-a456-426614174001",
                          "type": "conversationNote",
                          "fields": {
                            "name": "Support conversation",
                            "content": [
                              {
                                "externalId": "b23e4567-e89b-12d3-a456-426614174010",
                                "content": "Hello, I need help with the app",
                                "authorName": "John Customer",
                                "authorType": "customer",
                                "timestamp": "2023-10-01T10:00:00Z"
                              },
                              {
                                "externalId": "c23e4567-e89b-12d3-a456-426614174011",
                                "content": "Hi John, how can I help you today?",
                                "authorName": "Support Agent",
                                "authorType": "agent",
                                "timestamp": "2023-10-01T10:05:00Z"
                              }
                            ],
                            "tags": [
                              {
                                "name": "support"
                              }
                            ],
                            "owner": {
                              "id": "d23e4567-e89b-12d3-a456-426614174012",
                              "email": "support@example.com"
                            },
                            "creator": {
                              "id": "e23e4567-e89b-12d3-a456-426614174013",
                              "email": "creator@example.com"
                            },
                            "processed": true,
                            "archived": false,
                            "createdAt": "2023-10-01T10:00:00Z",
                            "updatedAt": "2023-10-01T10:05:00Z"
                          },
                          "relationships": [
                            {
                              "type": "customer",
                              "target": {
                                "id": "h23e4567-e89b-12d3-a456-426614174016",
                                "type": "company",
                                "links": {
                                  "self": "https://api.productboard.com/v2/companies/h23e4567-e89b-12d3-a456-426614174016"
                                }
                              }
                            }
                          ],
                          "links": {
                            "self": "https://api.productboard.com/v2/notes/223e4567-e89b-12d3-a456-426614174001",
                            "html": "https://example.productboard.com/all-notes/notes/43"
                          }
                        }
                      ],
                      "links": {
                        "next": "https://api.productboard.com/v2/notes?pageCursor=next_cursor_value"
                      }
                    }
                  },
                  "filterByOwnerEmail": {
                    "summary": "List unarchived notes owned by a specific user (filter by owner email)",
                    "description": "Example using query parameters: \u0060?archived=false\u0026owner[email]=john.doe@example.com\u0060",
                    "value": {
                      "data": [
                        {
                          "id": "123e4567-e89b-12d3-a456-426614174000",
                          "type": "textNote",
                          "fields": {
                            "name": "Customer feedback",
                            "content": "Customer reported slow loading times on mobile app",
                            "owner": {
                              "id": "923e4567-e89b-12d3-a456-426614174008",
                              "email": "john.doe@example.com"
                            },
                            "creator": {
                              "id": "e23e4567-e89b-12d3-a456-426614174013",
                              "email": "creator@example.com"
                            },
                            "processed": false,
                            "archived": false
                          },
                          "links": {
                            "self": "https://api.productboard.com/v2/notes/123e4567-e89b-12d3-a456-426614174000",
                            "html": "https://example.productboard.com/all-notes/notes/42"
                          }
                        }
                      ],
                      "links": {
                        "next": null
                      }
                    }
                  },
                  "filterByDateRange": {
                    "summary": "List notes created within a specific date range",
                    "description": "Example using query parameters: \u0060?createdFrom=2023-10-01T00:00:00Z\u0026createdTo=2023-12-31T23:59:59Z\u0060",
                    "value": {
                      "data": [
                        {
                          "id": "123e4567-e89b-12d3-a456-426614174000",
                          "type": "textNote",
                          "fields": {
                            "name": "Q4 feedback",
                            "content": "Feedback collected during Q4",
                            "processed": false,
                            "archived": false
                          },
                          "links": {
                            "self": "https://api.productboard.com/v2/notes/123e4567-e89b-12d3-a456-426614174000",
                            "html": "https://example.productboard.com/all-notes/notes/42"
                          }
                        },
                        {
                          "id": "223e4567-e89b-12d3-a456-426614174001",
                          "type": "textNote",
                          "fields": {
                            "name": "Another Q4 note",
                            "content": "More Q4 feedback",
                            "processed": true,
                            "archived": false
                          },
                          "links": {
                            "self": "https://api.productboard.com/v2/notes/223e4567-e89b-12d3-a456-426614174001",
                            "html": "https://example.productboard.com/all-notes/notes/43"
                          }
                        }
                      ],
                      "links": {
                        "next": null
                      }
                    }
                  },
                  "filterByUpdateTime": {
                    "summary": "List notes updated after a specific time (for incremental sync)",
                    "description": "Example using query parameter: \u0060?updatedFrom=2024-01-01T00:00:00Z\u0060",
                    "value": {
                      "data": [
                        {
                          "id": "123e4567-e89b-12d3-a456-426614174000",
                          "type": "textNote",
                          "fields": {
                            "name": "Recently updated note",
                            "content": "This note was recently modified",
                            "processed": false,
                            "archived": false
                          },
                          "links": {
                            "self": "https://api.productboard.com/v2/notes/123e4567-e89b-12d3-a456-426614174000",
                            "html": "https://example.productboard.com/all-notes/notes/42"
                          }
                        }
                      ],
                      "links": {
                        "next": null
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "notes:read"
            ]
          }
        ]
      }
    },
    "/notes/search": {
      "post": {
        "tags": [
          "notes"
        ],
        "summary": "Search notes",
        "description": "Performs a filtered search over notes using a POST request.\nThis endpoint supports the same filtering capabilities as \u0060GET /v2/notes\u0060, but allows more complex filtering through relationships.\n\n\u003E Filtering by owner or creator email requires the \u0060members:pii:read\u0060 scope.\n\n### Filter Logic\n\n- Multiple values within a filter use **OR** logic (e.g., customer with id1 OR id2)\n- Different filter types use **AND** logic (e.g., customer AND link filters)\n\n### Relationships\n\nFilter notes by their relationships to customers (users or companies) and links (features):\n\n- \u0060filter.relationships.customer[].id\u0060 - Filter by customer or company UUIDs (OR logic within)\n- \u0060filter.relationships.link[].id\u0060 - Filter by linked feature UUIDs (OR logic within)\n",
        "operationId": "PerformNotesSearch",
        "parameters": [
          {
            "name": "pageCursor",
            "in": "query",
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[]",
            "in": "query",
            "description": "**Deprecated**: Use \u0060return.fields\u0060 in the request body instead.\n\nControls which fields are returned in the response.\n",
            "deprecated": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteSearchRequest"
              },
              "examples": {
                "structured_filter": {
                  "summary": "Structured filter format",
                  "value": {
                    "data": {
                      "filter": {
                        "type": "textNote",
                        "id": [
                          "123e4567-e89b-12d3-a456-426614174000"
                        ],
                        "createdAt": {
                          "from": "2024-01-01T00:00:00Z",
                          "to": "2024-12-31T23:59:59Z"
                        },
                        "fields": {
                          "owner": [
                            {
                              "id": "223e4567-e89b-12d3-a456-426614174001"
                            }
                          ],
                          "tag": [
                            {
                              "name": "important"
                            }
                          ],
                          "archived": false,
                          "processed": true
                        },
                        "metadata": {
                          "source": [
                            {
                              "system": "intercom"
                            }
                          ]
                        },
                        "relationships": {
                          "customer": [
                            {
                              "id": "323e4567-e89b-12d3-a456-426614174002"
                            }
                          ],
                          "link": [
                            {
                              "id": "423e4567-e89b-12d3-a456-426614174003"
                            }
                          ]
                        }
                      },
                      "return": {
                        "fields": [
                          "name",
                          "content",
                          "owner",
                          "tags"
                        ]
                      }
                    }
                  }
                },
                "search_only": {
                  "summary": "Fulltext search",
                  "value": {
                    "data": {
                      "search": {
                        "query": "onboarding"
                      }
                    }
                  }
                },
                "search_with_filter": {
                  "summary": "Fulltext search with filters",
                  "value": {
                    "data": {
                      "search": {
                        "query": "onboarding"
                      },
                      "filter": {
                        "fields": {
                          "tag": [
                            {
                              "name": "important"
                            }
                          ],
                          "processed": true
                        },
                        "relationships": {
                          "customer": [
                            {
                              "id": "323e4567-e89b-12d3-a456-426614174002"
                            }
                          ]
                        }
                      },
                      "return": {
                        "fields": [
                          "name",
                          "content",
                          "tags"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A paginated list of notes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformNotesSearch200Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "notes:read"
            ]
          }
        ]
      }
    },
    "/notes/{id}": {
      "get": {
        "tags": [
          "notes"
        ],
        "summary": "Get note",
        "description": "Retrieves the full details of a specific note by its ID.\n\n\u003E Without the \u0060members:pii:read\u0060 scope, owner and creator email fields are returned as \u0060[redacted]\u0060.\n\nBy default, the response includes all non-null fields available in your workspace for that note type\n(e.g. \u0060textNote\u0060, \u0060conversationNote\u0060). You can optimize the response size by using the \u0060fields\u0060 query parameter:\n- Use \u0060fields=name,tags,content\u0060 to retrieve only specific fields\n- Use \u0060fields=all\u0060 to include all fields, even those with null values\n\nYou can use this endpoint to display the entire note content, including metadata such as owner, tags, and relationships.\n\n\u003E Use the [\u0060/v2/notes/configurations\u0060](#/paths/~1v2~1notes~1configurations/get) endpoint\nto discover which fields are available for your workspace.\n",
        "operationId": "GetNote",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Note identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "123e4567-e89b-12d3-a456-426614174000"
            }
          },
          {
            "description": "Controls which fields are returned in the response to optimize bandwidth and tailor data to your needs.\n\n**Options:**\n- Not specified: Returns only fields with non-empty values (default)\n- \u0060fields[]=all\u0060: Returns all fields, including those with \u0060null\u0060 values\n- \u0060fields[]=name\u0026fields[]=tags\u0060: Returns only the specified fields\n\n**Notes:**\n- When specific fields are requested, they are returned even if they have null/empty values\n- Unknown field IDs result in a 400 Bad Request error\n- Combining \u0060all\u0060 with specific field IDs results in a 400 Bad Request error\n\nFor detailed usage, examples, and field discovery, see [Response Field Control](https://developer.productboard.com/v2.0.0/reference/response-field-control).\n",
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Note details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNote200Response"
                },
                "examples": {
                  "text-note": {
                    "summary": "Text note response",
                    "value": {
                      "data": {
                        "id": "123e4567-e89b-12d3-a456-426614174000",
                        "type": "textNote",
                        "createdAt": "2023-10-01T10:00:00Z",
                        "updatedAt": "2023-10-15T14:30:00Z",
                        "fields": {
                          "name": "My note",
                          "tags": [
                            {
                              "name": "sales"
                            },
                            {
                              "name": "q1"
                            }
                          ],
                          "content": "This is a sample note content.",
                          "owner": {
                            "id": "e23e4567-e89b-12d3-a456-426614174013",
                            "email": "owner@example.com"
                          },
                          "creator": {
                            "id": "e23e4567-e89b-12d3-a456-426614174013",
                            "email": "creator@example.com"
                          },
                          "processed": true,
                          "archived": false
                        },
                        "relationships": [
                          {
                            "type": "customer",
                            "target": {
                              "id": "923e4567-e89b-12d3-a456-426614174008",
                              "type": "user",
                              "links": {
                                "self": "https://api.productboard.com/v2/users/923e4567-e89b-12d3-a456-426614174008"
                              }
                            }
                          },
                          {
                            "type": "link",
                            "target": {
                              "id": "a23e4567-e89b-12d3-a456-426614174009",
                              "type": "feature",
                              "links": {
                                "self": "https://api.productboard.com/v2/entities/a23e4567-e89b-12d3-a456-426614174009"
                              }
                            }
                          }
                        ],
                        "links": {
                          "self": "https://api.productboard.com/v2/notes/123e4567-e89b-12d3-a456-426614174000",
                          "html": "https://example.productboard.com/all-notes/notes/42"
                        }
                      }
                    }
                  },
                  "conversation-note": {
                    "summary": "Conversation note response",
                    "value": {
                      "data": {
                        "id": "223e4567-e89b-12d3-a456-426614174001",
                        "type": "conversationNote",
                        "fields": {
                          "name": "Conversation Note",
                          "content": [
                            {
                              "externalId": "323e4567-e89b-12d3-a456-426614174002",
                              "content": "hello",
                              "authorName": "",
                              "authorType": "agent",
                              "timestamp": "2023-10-01T11:00:00Z"
                            },
                            {
                              "externalId": "423e4567-e89b-12d3-a456-426614174003",
                              "content": "world",
                              "authorName": "John Doe",
                              "authorType": "customer",
                              "timestamp": "2023-10-01T12:00:00Z"
                            }
                          ],
                          "tags": [
                            {
                              "name": "support"
                            }
                          ],
                          "owner": {
                            "id": "f23e4567-e89b-12d3-a456-426614174014",
                            "email": "owner2@example.com"
                          },
                          "creator": {
                            "id": "e23e4567-e89b-12d3-a456-426614174013",
                            "email": "creator@example.com"
                          },
                          "processed": false,
                          "archived": false,
                          "createdAt": "2023-10-01T10:00:00Z",
                          "updatedAt": "2023-10-01T12:00:00Z"
                        },
                        "relationships": [
                          {
                            "type": "customer",
                            "target": {
                              "id": "b23e4567-e89b-12d3-a456-426614174010",
                              "type": "company",
                              "links": {
                                "self": "https://api.productboard.com/v2/companies/b23e4567-e89b-12d3-a456-426614174010"
                              }
                            }
                          }
                        ],
                        "links": {
                          "self": "https://api.productboard.com/v2/notes/223e4567-e89b-12d3-a456-426614174001",
                          "html": "https://example.productboard.com/all-notes/notes/43"
                        }
                      }
                    }
                  },
                  "opportunity-note": {
                    "summary": "Opportunity note response",
                    "value": {
                      "data": {
                        "id": "323e4567-e89b-12d3-a456-426614174002",
                        "type": "opportunityNote",
                        "fields": {
                          "name": "Opportunity Note",
                          "tags": [
                            {
                              "name": "sales"
                            }
                          ],
                          "content": [
                            {
                              "id": "523e4567-e89b-12d3-a456-426614174004",
                              "name": "Amount",
                              "value": "1000.1235",
                              "fieldType": "number"
                            },
                            {
                              "id": "623e4567-e89b-12d3-a456-426614174005",
                              "name": "Description",
                              "value": "Test Opportunity",
                              "fieldType": "string"
                            },
                            {
                              "id": "723e4567-e89b-12d3-a456-426614174006",
                              "name": "Close Date",
                              "value": "2023-12-31",
                              "fieldType": "string"
                            }
                          ],
                          "owner": {
                            "id": "123e4567-e89b-12d3-a456-426614174015",
                            "email": "sales.rep@example.com"
                          },
                          "creator": {
                            "id": "e23e4567-e89b-12d3-a456-426614174013",
                            "email": "creator@example.com"
                          },
                          "processed": true,
                          "archived": false,
                          "createdAt": "2023-09-15T08:00:00Z",
                          "updatedAt": "2023-12-01T16:45:00Z"
                        },
                        "relationships": [
                          {
                            "type": "link",
                            "target": {
                              "id": "c23e4567-e89b-12d3-a456-426614174011",
                              "type": "initiative",
                              "links": {
                                "self": "https://api.productboard.com/v2/entities/c23e4567-e89b-12d3-a456-426614174011"
                              }
                            }
                          }
                        ],
                        "links": {
                          "self": "https://api.productboard.com/v2/notes/323e4567-e89b-12d3-a456-426614174002",
                          "html": "https://example.productboard.com/all-notes/notes/44"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "notes:read"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "notes"
        ],
        "summary": "Update note",
        "description": "Updates the values of one or more fields for an existing note.\n\nYou can update fields using either:\n- **Field Updates**: Replace entire field values using the \u0060fields\u0060 object\n- **Patch Operations**: Perform granular updates using the \u0060patch\u0060 array with operations (\u0060set\u0060, \u0060clear\u0060, \u0060addItems\u0060, \u0060removeItems\u0060)\n\nUse this endpoint to update note metadata such as name, owner, tags, or content.\nUse the [\u0060/v2/notes/configurations\u0060](#/paths/~1v2~1notes~1configurations/get) endpoint to discover available fields and possible patch operations.\n\n### Patch Operations\n\nThe following patch operations are supported:\n\n| Operation | Description | Supported Fields |\n|-----------|-------------|------------------|\n| \u0060set\u0060 | Set a field to a specific value | All fields |\n| \u0060clear\u0060 | Clear/reset a field to its default value | \u0060owner\u0060, \u0060tags\u0060 |\n| \u0060addItems\u0060 | Add items to array fields | \u0060tags\u0060, \u0060content\u0060 (conversationNote) |\n| \u0060removeItems\u0060 | Remove items from array fields | \u0060tags\u0060, \u0060content\u0060 (conversationNote) |\n\n**Field-specific patch operation support:**\n- **owner**: \u0060set\u0060, \u0060clear\u0060\n- **tags**: \u0060set\u0060, \u0060clear\u0060, \u0060addItems\u0060, \u0060removeItems\u0060\n- **archived**: \u0060set\u0060\n- **processed**: \u0060set\u0060\n- **name**: \u0060set\u0060\n- **content** (textNote): \u0060set\u0060\n- **content** (conversationNote): \u0060set\u0060, \u0060addItems\u0060, \u0060removeItems\u0060\n\n### Known Limitations\n\n**Content updates for notes with linked features**: Notes that have content linked to features (via highlights/snippets) cannot have their \u0060content\u0060 field updated. Attempting to update the content will return a \u0060422 Unprocessable Entity\u0060 error with code \u0060validation.forbidden\u0060. You can still update other fields such as \u0060name\u0060, \u0060owner\u0060, \u0060tags\u0060, \u0060archived\u0060, and \u0060processed\u0060 on these notes.\n\n**Archive and Processed Field Behavior**: When you set \u0060archived\u0060 to \u0060false\u0060, the note will be set to processed automatically by the system. This is a known limitation where unarchiving a note triggers processing regardless of the previous processed state. The \u0060processed\u0060 field will reflect the actual processing status after the unarchive operation.\n",
        "operationId": "UpdateNote",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Note identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNoteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Note updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteReferenceResponse"
                },
                "examples": {
                  "text-note": {
                    "summary": "Text note updated",
                    "value": {
                      "data": {
                        "id": "123e4567-e89b-12d3-a456-426614174000",
                        "type": "textNote",
                        "links": {
                          "self": "https://api.productboard.com/v2/notes/123e4567-e89b-12d3-a456-426614174000",
                          "html": "https://example.productboard.com/all-notes/notes/42"
                        }
                      }
                    }
                  },
                  "conversation-note": {
                    "summary": "Conversation note updated",
                    "value": {
                      "data": {
                        "id": "223e4567-e89b-12d3-a456-426614174000",
                        "type": "conversationNote",
                        "links": {
                          "self": "https://api.productboard.com/v2/notes/223e4567-e89b-12d3-a456-426614174000",
                          "html": "https://example.productboard.com/all-notes/notes/45"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "notes:write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "notes"
        ],
        "summary": "Delete note",
        "description": "Permanently deletes a note from your workspace. This action is irreversible and should be used with caution.\n\nOnce deleted, the note and all of its content, metadata, and relationships\nwill be removed and cannot be recovered.\n\n\u003E To perform a soft-delete (archiving), use an update call instead to set the \u0060archived\u0060 flag.\n",
        "operationId": "DeleteNote",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Note identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "123e4567-e89b-12d3-a456-426614174000"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The request was successful and no content is returned.",
            "$ref": "#/components/responses/NoContentResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "notes:delete"
            ]
          }
        ]
      }
    },
    "/notes/{id}/relationships": {
      "get": {
        "tags": [
          "notes"
        ],
        "summary": "List relationships",
        "description": "Retrieves all relationships connected to a specific note.\n\nThis includes:\n- Customer relationship (either a User or Company entity)\n- Product link relationships (e.g. linked features)\n\n### Customer relationship rules\n- A note can have a relationship to **exactly one customer entity** (User or Company).\n- If the note has a **User** as the customer, and that User is associated with a Company,\n  only the **User** is returned.\n- If the note has a **User** without a Company, the User is returned.\n- If the note has a **Company**, the Company is returned.\n- If the note has no customer relationship, an empty array is returned.\n\n### Product link relationships\n- Notes can be linked to **multiple Product Management entities** (e.g. features, components).\n- All such relationships are returned in the same response.\n\n\u003E To discover supported relationship types, use the [\u0060/v2/notes/configurations\u0060](#/paths/~1v2~1notes~1configurations/get) endpoint.\n",
        "operationId": "ListNoteRelationships",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Note identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "pageCursor",
            "in": "query",
            "description": "Cursor for pagination through relationships",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of relationships to return per page",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter relationships by type. When provided, only relationships of the specified type are returned.\nIf not provided, all relationship types are returned.\n",
            "schema": {
              "$ref": "#/components/schemas/ListNoteRelationshipsTypeParameter"
            }
          },
          {
            "name": "target[type]",
            "in": "query",
            "description": "Filter relationships by the target entity type. When provided, only relationships\nwhere the target matches the specified entity type are returned.\nIf not provided, all target types are returned.\n\nAvailable values:\n- \u0060user\u0060: Customer relationships where the target is a user\n- \u0060company\u0060: Customer relationships where the target is a company\n- \u0060feature\u0060: Link relationships where the target is a feature\n- \u0060subfeature\u0060: Link relationships where the target is a subfeature\n- \u0060product\u0060: Link relationships where the target is a product\n- \u0060component\u0060: Link relationships where the target is a component\n",
            "schema": {
              "$ref": "#/components/schemas/ListNoteRelationshipsTargetTypeParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of relationships",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListNoteRelationships200Response"
                },
                "examples": {
                  "example": {
                    "summary": "Example relationships response",
                    "value": {
                      "data": [
                        {
                          "type": "customer",
                          "target": {
                            "id": "123e4567-e89b-12d3-a456-426614174000",
                            "type": "user",
                            "links": {
                              "self": "https://api.productboard.com/v2/users/123e4567-e89b-12d3-a456-426614174000"
                            }
                          }
                        },
                        {
                          "type": "link",
                          "target": {
                            "id": "223e4567-e89b-12d3-a456-426614174001",
                            "type": "feature",
                            "links": {
                              "self": "https://api.productboard.com/v2/entities/223e4567-e89b-12d3-a456-426614174001"
                            }
                          }
                        }
                      ],
                      "links": {
                        "next": null
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "notes:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "notes"
        ],
        "summary": "Create relationship",
        "description": "Creates a new relationship between a note and another entity.\n\nYou can link a note to:\n- A Product Management entity (e.g. feature, component, initiative)\n- A customer entity (company or user)\n\nThis is useful for capturing customer feedback and tying it to the right product link,\nor for attributing a note to a specific customer.\n\nNotes can have **one customer** relationship and **multiple product link** relationships.\nIf a Customer relationship already exists (user or company), this endpoint returns a validation error.\nUse \u0060PUT /v2/notes/{id}/relationships/customer\u0060 to replace an existing Customer relationship.\n",
        "operationId": "CreateNoteRelationship",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Note identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipRequest"
              },
              "examples": {
                "customer_relationship": {
                  "summary": "Create customer relationship",
                  "value": {
                    "data": {
                      "type": "customer",
                      "target": {
                        "id": "123e4567-e89b-12d3-a456-426614174000",
                        "type": "user"
                      }
                    }
                  }
                },
                "link_relationship": {
                  "summary": "Create Product link relationship",
                  "value": {
                    "data": {
                      "type": "link",
                      "target": {
                        "id": "223e4567-e89b-12d3-a456-426614174001",
                        "type": "link"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Relationship created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateNoteRelationship201Response"
                },
                "examples": {
                  "customer_relationship_created": {
                    "summary": "Customer relationship created",
                    "value": {
                      "data": {
                        "type": "customer",
                        "target": {
                          "id": "123e4567-e89b-12d3-a456-426614174000",
                          "type": "user",
                          "links": {
                            "self": "https://api.productboard.com/v2/users/123e4567-e89b-12d3-a456-426614174000"
                          }
                        }
                      }
                    }
                  },
                  "link_relationship_created": {
                    "summary": "Product link relationship created",
                    "value": {
                      "data": {
                        "type": "link",
                        "target": {
                          "id": "223e4567-e89b-12d3-a456-426614174001",
                          "type": "feature",
                          "links": {
                            "self": "https://api.productboard.com/v2/entities/223e4567-e89b-12d3-a456-426614174001"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "notes:write"
            ]
          }
        ]
      }
    },
    "/notes/{id}/relationships/customer": {
      "put": {
        "tags": [
          "notes"
        ],
        "summary": "Set customer relationship",
        "description": "Sets or replaces the customer relationship of a note.\n\n* A note can be linked to **one customer only** \u2014 either a User or a Company.\n* If a customer relationship already exists, it will be **replaced** with the new one provided.\n\nThis is useful for attributing feedback to the correct user or company, especially when syncing notes from support systems or CRMs.\n\n\u003E To remove the customer relationship completely, use the \u0060DELETE /v2/notes/{id}/relationships/customer/{targetId}\u0060 endpoint.\n",
        "operationId": "ReplaceNoteCustomerRelationship",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Note identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerRelationshipReplaceRequest"
              },
              "examples": {
                "link_user": {
                  "summary": "Link a user to a note",
                  "value": {
                    "data": {
                      "target": {
                        "type": "user",
                        "id": "123e4567-e89b-12d3-a456-426614174000"
                      }
                    }
                  }
                },
                "link_company": {
                  "summary": "Link a company to a note",
                  "value": {
                    "data": {
                      "target": {
                        "type": "company",
                        "id": "223e4567-e89b-12d3-a456-426614174001"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Customer relationship replaced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceNoteCustomerRelationship200Response"
                },
                "examples": {
                  "customer_relationship_replaced": {
                    "summary": "Customer relationship replaced",
                    "value": {
                      "data": {
                        "type": "customer",
                        "target": {
                          "id": "123e4567-e89b-12d3-a456-426614174000",
                          "type": "user",
                          "links": {
                            "self": "https://api.productboard.com/v2/users/123e4567-e89b-12d3-a456-426614174000"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "notes:write"
            ]
          }
        ]
      }
    },
    "/notes/{id}/relationships/{targetType}/{targetId}": {
      "delete": {
        "tags": [
          "notes"
        ],
        "summary": "Delete relationship",
        "description": "Deletes a relationship between a note and a target entity (customer or link).\n\nThis is used to unlink a note from:\n* **customer**: A user or company associated with the note\n* **link**: A specific feature, component, or other product\n\nFor customer relationships, the targetId should be the UUID of the customer or organization.\nFor link relationships, the targetId should be the UUID of the feature, component or product entity.\n\n\u003E **Note**: For customer relationships, the targetId parameter can be any UUID as it is ignored during deletion.\nThe endpoint will remove all customer relationships from the note regardless of the targetId value provided.\n",
        "operationId": "DeleteNoteRelationship",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Note identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "123e4567-e89b-12d3-a456-426614174000"
            }
          },
          {
            "name": "targetType",
            "in": "path",
            "description": "Relationship type to delete.\n* \u0060customer\u0060: Delete customer relationship (user or company)\n* \u0060link\u0060: Delete link relationship (feature, component or product entity)\n",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DeleteNoteRelationshipTargetTypeParameter"
            }
          },
          {
            "name": "targetId",
            "in": "path",
            "description": "UUID of the target entity (customer, organization, or link). For customer relationships, this is optional for backward compatibility.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "223e4567-e89b-12d3-a456-426614174001"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The request was successful and no content is returned.",
            "$ref": "#/components/responses/NoContentResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "notes:write"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "NoteReference": {
        "required": [
          "id",
          "type",
          "links"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "$ref": "#/components/schemas/NoteType"
          },
          "links": {
            "description": "Links for navigating note resources.",
            "$ref": "#/components/schemas/NoteLinks"
          }
        },
        "description": "Minimal reference to a note resource containing only identifying information.\n"
      },
      "NoteLinks": {
        "required": [
          "self",
          "html"
        ],
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "description": "URL of the note resource.",
[...]
