{
  "openapi": "3.1.2",
  "info": {
    "title": "Plugin Integrations",
    "description": "Manages plugin integrations and their connections.\n\nA **plugin integration** defines how Productboard communicates with your system when\na user interacts with a push button on an entity. When the button is clicked, Productboard\nsends an **action notification** (POST) to your configured endpoint. Your endpoint responds\nwith a connection state, which controls how the button is rendered.\n\nA **plugin integration connection** represents the relationship between a Productboard\nentity and an entity in the third-party system for a given integration.\n\n**Probe verification**: on integration creation (and on update when enabled), Productboard\nsends a GET probe to your action URL to verify it is reachable. See the \u0060callbacks\u0060 section.\n\n**\u0060action\u0060 is write-only**: action configuration (including any \u0060headers.authorization\u0060\nsecret) is never returned in API responses.\n",
    "contact": {
      "name": "Productboard Support",
      "url": "https://support.productboard.com",
      "email": "support@productboard.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://www.productboard.com/terms"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.productboard.com/v2",
      "description": "Production server"
    }
  ],
  "paths": {
    "/plugin-integrations": {
      "post": {
        "tags": [
          "plugin-integrations"
        ],
        "summary": "Create plugin integration",
        "description": "Creates a new plugin integration. As part of creation, Productboard sends a\n**probe request** (GET) to your configured action URL to verify it is reachable\nand intends to receive action notifications. See the \u0060callbacks\u0060 section below.\n\nThe integration is created in the \u0060enabled\u0060 state by default. Set\n\u0060fields.integrationStatus\u0060 to \u0060disabled\u0060 to skip the probe (useful for staged setup).\n\n**\u0060action\u0060 is write-only**: the action configuration, including any\n\u0060headers.authorization\u0060 secret, is never returned in responses.\n",
        "operationId": "CreatePluginIntegration",
        "requestBody": {
          "description": "Plugin integration to create.",
          "$ref": "#/components/requestBodies/PluginIntegrationCreateRequestBody"
        },
        "responses": {
          "201": {
            "description": "Plugin integration created successfully",
            "$ref": "#/components/responses/PluginIntegrationCreateResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "callbacks": {
          "actionCallback": {
            "{$request.body#/data/fields/action/url}": {
              "get": {
                "summary": "Action endpoint probe",
                "description": "Sent during integration creation (and on PATCH when \u0060enabled\u0060 and \u0060action.url\u0060\nchanges) to verify your endpoint is reachable and intends to receive action\nnotifications.\n\n- Response must be \u0060200 OK\u0060 with \u0060Content-Type: text/plain\u0060\n- Response body must echo the \u0060validationToken\u0060 query parameter **exactly**\n- Timeout: **5 seconds**\n- TLS certificate must be valid and signed by a public authority\n- Failure immediately fails the create/update request with \u0060callback.probeFailed\u0060\n\nThis request is sent with \u0060Accept: text/plain\u0060.\n\n**Security**: set \u0060data.fields.action.headers.authorization\u0060 to have\nProductboard include it in every outgoing request to your endpoint.\n",
                "operationId": "pluginIntegrationProbe",
                "parameters": [
                  {
                    "name": "validationToken",
                    "in": "query",
                    "description": "Token to echo verbatim in the response body.",
                    "required": true,
                    "schema": {
                      "type": "string",
                      "example": "a-unique-token-for-this-request"
                    }
                  }
                ],
                "responses": {
                  "200": {
                    "description": "Echo the \u0060validationToken\u0060 value as plain text.",
                    "content": {
                      "text/plain": {
                        "schema": {
                          "type": "string",
                          "example": "a-unique-token-for-this-request"
                        }
                      }
                    }
                  },
                  "400": {
                    "$ref": "#/components/responses/BadRequestResponse"
                  },
                  "401": {
                    "$ref": "#/components/responses/UnauthorizedResponse"
                  },
                  "403": {
                    "$ref": "#/components/responses/ForbiddenResponse"
                  },
                  "408": {
                    "$ref": "#/components/responses/RequestTimeoutResponse"
                  },
                  "429": {
                    "$ref": "#/components/responses/TooManyRequestsResponse"
                  },
                  "500": {
                    "$ref": "#/components/responses/InternalServerErrorResponse"
                  }
                },
                "security": [
                  {},
                  {}
                ]
              },
              "post": {
                "summary": "Action notification",
                "description": "Sent when a user clicks a plugin integration button in the Productboard UI.\n\n**Trigger types** (from \u0060data.trigger\u0060):\n- \u0060button.push\u0060 \u2014 user clicked to connect / push the entity\n- \u0060button.unlink\u0060 \u2014 user clicked to unlink the connected entity\n- \u0060button.dismiss\u0060 \u2014 user dismissed an error popup\n\nRespond with a \u0060ConnectionState\u0060 to indicate the outcome. This is equivalent\nto calling the Configure Connection endpoint with the same state.\n\n**Recommended behavior:**\n- \u0060button.push\u0060 \u2192 respond with \u0060connected\u0060, or \u0060progress\u0060 for async processing\n- \u0060button.unlink\u0060 \u2192 respond with \u0060initial\u0060 to reset the connection\n- \u0060button.dismiss\u0060 \u2192 respond with \u0060initial\u0060 to clear the error\n\n**Timeout: 5 seconds.** For async processing, respond with \u0060progress\u0060\nimmediately and update the connection later via the Configure Connection\nendpoint (\u0060data.links.connection\u0060 in the payload).\n\n**Security**: set \u0060data.fields.action.headers.authorization\u0060 to authenticate\nincoming requests from Productboard.\n",
                "operationId": "pluginIntegrationActionNotification",
                "requestBody": {
                  "description": "Action notification payload.",
                  "content": {
                    "application/json": {
                      "schema": {
                        "required": [
                          "data"
                        ],
                        "type": "object",
                        "properties": {
                          "data": {
                            "$ref": "#/components/schemas/ActionPayload"
                          }
                        }
                      }
                    }
                  },
                  "required": true
                },
                "responses": {
                  "200": {
                    "description": "Respond with the resulting connection state. Any valid \u0060ConnectionState\u0060\nis accepted. Setting \u0060state: initial\u0060 resets the connection (equivalent\nto deleting it).\n",
                    "content": {
                      "application/json": {
                        "schema": {
                          "required": [
                            "data"
                          ],
                          "type": "object",
                          "properties": {
                            "data": {
                              "required": [
                                "fields"
                              ],
                              "type": "object",
                              "properties": {
                                "fields": {
                                  "required": [
                                    "connection"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "connection": {
                                      "$ref": "#/components/schemas/ConnectionState"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "400": {
                    "$ref": "#/components/responses/BadRequestResponse"
                  },
                  "401": {
                    "$ref": "#/components/responses/UnauthorizedResponse"
                  },
                  "403": {
                    "$ref": "#/components/responses/ForbiddenResponse"
                  },
                  "408": {
                    "$ref": "#/components/responses/RequestTimeoutResponse"
                  },
                  "422": {
                    "$ref": "#/components/responses/UnprocessableEntityResponse"
                  },
                  "429": {
                    "$ref": "#/components/responses/TooManyRequestsResponse"
                  },
                  "500": {
                    "$ref": "#/components/responses/InternalServerErrorResponse"
                  }
                },
                "security": [
                  {},
                  {}
                ]
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "plugin-integrations:write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "plugin-integrations"
        ],
        "summary": "List plugin integrations",
        "description": "Returns all plugin integrations for the workspace.\n\nPaginated using cursor-based pagination. Follow \u0060links.next\u0060 to fetch the next page.\nWhen \u0060links.next\u0060 is \u0060null\u0060, you have reached the last page.\n\n**OAuth2 isolation**: OAuth2 access tokens only see integrations created by the same\nOAuth2 application. Public API access tokens see all workspace integrations.\n",
        "operationId": "ListPluginIntegrations",
        "parameters": [
          {
            "description": "Cursor for pagination. Use the value from \u0060links.next\u0060 to fetch the next page.",
            "$ref": "#/components/parameters/PageCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of plugin integrations",
            "$ref": "#/components/responses/PluginIntegrationsListResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "plugin-integrations:read"
            ]
          }
        ]
      }
    },
    "/plugin-integrations/{integrationId}": {
      "get": {
        "tags": [
          "plugin-integrations"
        ],
        "summary": "Get plugin integration",
        "description": "Returns a single plugin integration by ID.\n\n**OAuth2 isolation**: returns \u0060404\u0060 if the integration was created by a different\nOAuth2 application or by a public API access token (existence is masked for security).\n",
        "operationId": "GetPluginIntegration",
        "parameters": [
          {
            "description": "UUID of the plugin integration.",
            "$ref": "#/components/parameters/IntegrationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Plugin integration details",
            "$ref": "#/components/responses/PluginIntegrationResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "plugin-integrations:read"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "plugin-integrations"
        ],
        "summary": "Update plugin integration",
        "description": "Partially updates a plugin integration. Fields not included in the request preserve\ntheir current value.\n\nIf the integration is \u0060enabled\u0060 and \u0060fields.action.url\u0060 is updated, Productboard\nsends a new probe to verify the updated endpoint. No probe is sent when \u0060disabled\u0060.\n\n**\u0060action\u0060 is write-only**: never returned in responses.\n",
        "operationId": "UpdatePluginIntegration",
        "parameters": [
          {
            "description": "UUID of the plugin integration.",
            "$ref": "#/components/parameters/IntegrationId"
          }
        ],
        "requestBody": {
          "description": "Plugin integration fields to update.",
          "$ref": "#/components/requestBodies/PluginIntegrationPatchRequestBody"
        },
        "responses": {
          "200": {
            "description": "Plugin integration updated successfully",
            "$ref": "#/components/responses/PluginIntegrationPatchResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "plugin-integrations:write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "plugin-integrations"
        ],
        "summary": "Delete plugin integration",
        "description": "Permanently deletes a plugin integration and all its associated connections.\nEntities that previously had connections to this integration will have their\npush buttons removed. This action cannot be undone.\n\n**OAuth2 isolation**: returns \u0060404\u0060 if the integration was created by a different\nOAuth2 application or by a public API access token.\n",
        "operationId": "DeletePluginIntegration",
        "parameters": [
          {
            "description": "UUID of the plugin integration.",
            "$ref": "#/components/parameters/IntegrationId"
          }
        ],
        "responses": {
          "204": {
            "description": "Plugin integration deleted successfully. No content."
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "plugin-integrations:delete"
            ]
          }
        ]
      }
    },
    "/plugin-integrations/{integrationId}/connections": {
      "get": {
        "tags": [
          "plugin-integration-connections"
        ],
        "summary": "List plugin integration connections",
        "description": "Returns all connections for a plugin integration, **excluding** those in the\n\u0060initial\u0060 state. The \u0060initial\u0060 state is the default \u2014 it means no connection has\nbeen established for that entity yet.\n\nPaginated using cursor-based pagination. Follow \u0060links.next\u0060 to fetch the next page.\nWhen \u0060links.next\u0060 is \u0060null\u0060, you have reached the last page.\n",
        "operationId": "ListPluginIntegrationConnections",
        "parameters": [
          {
            "description": "UUID of the plugin integration.",
            "$ref": "#/components/parameters/IntegrationId"
          },
          {
            "description": "Cursor for pagination. Use the value from \u0060links.next\u0060 to fetch the next page.",
            "$ref": "#/components/parameters/PageCursor"
          },
          {
            "description": "Filter by connection state. Can be specified multiple times to match any of the given states.",
            "$ref": "#/components/parameters/ConnectionStateFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of plugin integration connections",
            "$ref": "#/components/responses/PluginIntegrationConnectionsListResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "plugin-integrations:read"
            ]
          }
        ]
      }
    },
    "/plugin-integrations/{integrationId}/connections/search": {
      "post": {
        "tags": [
          "plugin-integration-connections"
        ],
        "summary": "Search plugin integration connections",
        "description": "Performs a filtered search over plugin integration connections using a POST request.\nThis endpoint supports the same filtering capabilities as \u0060GET /v2/plugin-integrations/{integrationId}/connections\u0060,\nbut accepts filters in the request body instead of query parameters.\nIt\u0027s useful when filtering by a long list of entity IDs or when URL length limits become a problem.\n",
        "operationId": "SearchPluginIntegrationConnections",
        "parameters": [
          {
            "description": "UUID of the plugin integration.",
            "$ref": "#/components/parameters/IntegrationId"
          },
          {
            "description": "Cursor for pagination. Use the value from \u0060links.next\u0060 to fetch the next page.",
            "$ref": "#/components/parameters/PageCursor"
          }
        ],
        "requestBody": {
          "description": "Filter criteria for searching plugin integration connections.",
          "$ref": "#/components/requestBodies/PluginIntegrationConnectionsSearchRequestBody"
        },
        "responses": {
          "200": {
            "description": "A paginated list of plugin integration connections",
            "$ref": "#/components/responses/PluginIntegrationConnectionsListResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "plugin-integrations:read"
            ]
          }
        ]
      }
    },
    "/plugin-integrations/{integrationId}/connections/{entityId}": {
      "get": {
        "tags": [
          "plugin-integration-connections"
        ],
        "summary": "Get plugin integration connection",
        "description": "Returns the connection for a specific entity within a plugin integration.\n\n**Important**: if no connection exists for the entity, this endpoint returns\na connection with \u0060state: initial\u0060 rather than a \u0060404\u0060. The \u0060initial\u0060 state\nindicates the entity has not yet been pushed to the third-party system.\n",
        "operationId": "GetPluginIntegrationConnection",
        "parameters": [
          {
            "description": "UUID of the plugin integration.",
            "$ref": "#/components/parameters/IntegrationId"
          },
          {
            "description": "Entity identifier.",
            "$ref": "#/components/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Plugin integration connection details",
            "$ref": "#/components/responses/GetPluginIntegrationConnectionResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "plugin-integrations:read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "plugin-integration-connections"
        ],
        "summary": "Update plugin integration connection state",
        "description": "Creates or replaces the connection state for a specific entity within a plugin\nintegration. This is an **upsert** \u2014 if no connection exists it is created; if one\nexists it is replaced.\n\n**Connection states:**\n\n| State | Effect |\n|---|---|\n| \u0060connected\u0060 | Entity is linked; push button shows connection details |\n| \u0060error\u0060 | Connection failed; push button shows error state |\n| \u0060progress\u0060 | Processing asynchronously; push button shows loading indicator |\n| \u0060initial\u0060 | Equivalent to deleting the connection; push button resets |\n\n**Async processing flow:**\n1. User clicks push button \u2192 your endpoint receives an action notification\n2. Respond immediately with \u0060state: progress\u0060 to show a loading indicator\n3. Process the action asynchronously\n4. Call this endpoint with the final state (\u0060connected\u0060 or \u0060error\u0060)\n",
        "operationId": "UpdatePluginIntegrationConnectionState",
        "parameters": [
          {
            "description": "UUID of the plugin integration.",
            "$ref": "#/components/parameters/IntegrationId"
          },
          {
            "description": "Entity identifier.",
            "$ref": "#/components/parameters/EntityId"
          }
        ],
        "requestBody": {
          "description": "Connection state to set for this entity.",
          "$ref": "#/components/requestBodies/PluginIntegrationConnectionUpdateStateRequestBody"
        },
        "responses": {
          "200": {
            "description": "Connection state set successfully",
            "$ref": "#/components/responses/PluginIntegrationConnectionUpdateStateResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "plugin-integrations:write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "plugin-integration-connections"
        ],
        "summary": "Delete plugin integration connection",
        "description": "Permanently deletes the connection between an entity and the third-party system,\nresetting the push button to its initial unconnected state.\n\nThis is equivalent to calling the Configure Connection endpoint with \u0060state: initial\u0060.\n",
        "operationId": "DeletePluginIntegrationConnection",
        "parameters": [
          {
            "description": "UUID of the plugin integration.",
            "$ref": "#/components/parameters/IntegrationId"
          },
          {
            "description": "Entity identifier.",
            "$ref": "#/components/parameters/EntityId"
          }
        ],
        "responses": {
          "204": {
            "description": "Connection deleted successfully. No content."
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "plugin-integrations:write"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "PluginIntegration": {
        "required": [
          "id",
          "type",
          "createdAt",
          "fields",
          "links"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for this plugin integration.",
            "format": "uuid",
            "readOnly": true,
            "example": "00000000-0000-0000-0000-000000000001"
          },
          "type": {
            "$ref": "#/components/schemas/PluginIntegrationTypeEnum"
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 timestamp when the integration was created.",
            "format": "date-time",
            "readOnly": true,
            "example": "2024-01-15T10:30:00.000Z"
          },
          "fields": {
            "description": "Domain attributes returned in plugin integration responses.\n\nNote: \u0060action\u0060 is intentionally absent \u2014 it contains a write-only authorization\nsecret that is never returned by the API.\n",
            "$ref": "#/components/schemas/PluginIntegrationResponseFields"
          },
          "links": {
            "description": "Links for this plugin integration resource.",
            "$ref": "#/components/schemas/PluginIntegrationLinks"
          }
        },
        "description": "A plugin integration resource."
      },
      "PluginIntegrationCreateFields": {
        "required": [
          "type",
          "name",
          "initialState",
          "action"
        ],
        "type": "object",
        "properties": {
          "type": {
            "maxLength": 255,
            "type": "string",
            "description": "Type identifier for the integration. Use your reversed domain name as a prefix to\nensure global uniqueness (e.g., \u0060com.example.myservice\u0060). Integrations of the same\ntype share the same icon and settings grouping in Productboard.\n"
          },
          "name": {
            "maxLength": 255,
            "type": "string",
            "description": "Human-readable name shown as the column name on the Features board and in Productboard settings."
          },
          "integrationStatus": {
            "description": "Controls whether the integration is active:\n- \u0060enabled\u0060 \u2014 integration column is visible and the push button is active\n- \u0060disabled\u0060 \u2014 integration column is hidden from the Features board\n",
            "$ref": "#/components/schemas/PluginIntegrationStatus"
          },
          "initialState": {
            "description": "Configuration of the push button before an entity has been connected to the third-party system.",
            "$ref": "#/components/schemas/PluginIntegrationInitialState"
          },
          "action": {
            "description": "Configuration for the action endpoint Productboard calls when a user interacts\nwith a push button (push, unlink, or dismiss).\n",
            "$ref": "#/components/schemas/Action"
          }
        },
        "description": "Domain attributes for creating a plugin integration.\n\nNote: \u0060action.headers.authorization\u0060 is write-only and never returned in responses.\n"
      },
      "PluginIntegrationUpdateFields": {
        "type": "object",
        "properties": {
          "integrationStatus": {
            "description": "Controls whether the integration is active:\n- \u0060enabled\u0060 \u2014 integration column is visible and the push button is active\n- \u0060disabled\u0060 \u2014 integration column is hidden from the Features board\n",
            "$ref": "#/components/schemas/PluginIntegrationStatus"
          },
          "name": {
            "maxLength": 255,
            "type": "string",
            "description": "Human-readable name shown as the column name on the Features board and in Productboard settings."
          },
          "initialState": {
            "description": "Configuration of the push button before an entity has been connected to the third-party system.",
            "$ref": "#/components/schemas/PluginIntegrationInitialState"
          },
          "action": {
            "description": "Configuration for the action endpoint Productboard calls when a user interacts\nwith a push button (push, unlink, or dismiss).\n",
            "$ref": "#/components/schemas/Action"
          }
        },
        "description": "Domain attributes for partially updating a plugin integration. All fields are\noptional \u2014 fields not included preserve their current value.\n\nNote: \u0060action.headers.authorization\u0060 is write-only and never returned in responses.\nIf \u0060action\u0060 is updated while the integration is \u0060enabled\u0060, a new probe is sent.\n"
      },
      "PluginIntegrationResponseFields": {
        "required": [
          "type",
          "name",
          "integrationStatus",
          "initialState"
        ],
        "type": "object",
        "properties": {
          "type": {
            "maxLength": 255,
            "type": "string",
            "description": "Type identifier for the integration. Use your reversed domain name as a prefix to\nensure global uniqueness (e.g., \u0060com.example.myservice\u0060). Integrations of the same\ntype share the same icon and settings grouping in Productboard.\n"
          },
          "name": {
            "maxLength": 255,
            "type": "string",
            "description": "Human-readable name shown as the column name on the Features board and in Productboard settings."
          },
          "integrationStatus": {
            "description": "Controls whether the integration is active:\n- \u0060enabled\u0060 \u2014 integration column is visible and the push button is active\n- \u0060disabled\u0060 \u2014 integration column is hidden from the Features board\n",
            "$ref": "#/components/schemas/PluginIntegrationStatus"
          },
          "initialState": {
            "description": "Configuration of the push button before an entity has been connected to the third-party system.",
            "$ref": "#/components/schemas/PluginIntegrationInitialState"
          }
        },
        "description": "Domain attributes returned in plugin integration responses.\n\nNote: \u0060action\u0060 is intentionally absent \u2014 it contains a write-only authorization\nsecret that is never returned by the API.\n"
      },
      "PluginIntegrationLinks": {
        "required": [
          "self",
          "connections"
        ],
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "description": "URL to retrieve this plugin integration.",
            "format": "uri",
            "example": "https://api.productboard.com/v2/plugin-integrations/00000000-0000-0000-0000-000000000001"
          },
          "connections": {
            "type": "string",
            "description": "URL to list all connections for this plugin integration.",
            "format": "uri",
            "example": "https://api.productboard.com/v2/plugin-integrations/00000000-0000-0000-0000-000000000001/connections"
          }
        },
        "description": "Links for this plugin integration resource."
      },
      "PluginIntegrationReference": {
        "required": [
          "id",
          "links"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for this plugin integration.",
            "format": "uuid",
            "readOnly": true,
            "example": "00000000-0000-0000-0000-000000000001"
          },
          "links": {
            "description": "Links for this plugin integration resource.",
            "$ref": "#/components/schemas/PluginIntegrationLinks"
          }
        },
        "description": "Minimal reference to a plugin integration, returned in mutation responses."
      },
      "PluginIntegrationType": {
        "maxLength": 255,
        "minLength": 1,
        "type": "string",
        "description": "Type identifier for the integration. Use your reversed domain name as a prefix to\nensure global uniqueness (e.g., \u0060com.example.myservice\u0060). Integrations of the same\ntype share the same icon and settings grouping in Productboard.\n",
        "example": "com.example.myservice"
      },
      "PluginIntegrationName": {
        "maxLength": 255,
        "minLength": 1,
        "type": "string",
        "description": "Human-readable name shown as the column name on the Features board and in Productboard settings.",
        "example": "My Service Integration"
      },
      "PluginIntegrationStatus": {
        "enum": [
          "enabled",
          "disabled"
        ],
        "type": "string",
        "additionalProperties": false,
        "description": "Controls whether the integration is active:\n- \u0060enabled\u0060 \u2014 integration column is visible and the push button is active\n- \u0060disabled\u0060 \u2014 integration column is hidden from the Features board\n",
        "example": "enabled",
        "x-ms-enum": {
          "name": "PluginIntegrationStatus",
          "modelAsString": false,
          "values": [
            {
              "value": "enabled",
              "name": "Enabled"
            },
            {
              "value": "disabled",
              "name": "Disabled"
            }
          ]
        }
      },
      "PluginIntegrationInitialState": {
        "required": [
          "label"
        ],
        "type": "object",
        "properties": {
          "label": {
            "maxLength": 10,
            "minLength": 1,
            "type": "string",
            "description": "Label shown on the push button in its initial (unconnected) state.",
            "example": "Push"
          }
        },
        "description": "Configuration of the push button before an entity has been connected to the third-party system."
      },
      "Action": {
        "required": [
          "url",
          "version"
        ],
        "type": "object",
        "properties": {
          "url": {
            "maxLength": 1024,
            "pattern": "https://.\u002B",
            "type": "string",
            "description": "HTTPS endpoint Productboard calls when a user clicks a push button.\n\nRequirements:\n- Must use \u0060https\u0060\n- TLS certificate must be valid and signed by a public authority\n- Must be publicly reachable (no \u0060localhost\u0060, private IPs, or internal addresses)\n",
            "format": "uri",
            "example": "https://example.com/productboard-push"
          },
          "version": {
            "$ref": "#/components/schemas/ActionVersion"
          },
          "headers": {
            "description": "Custom headers included in every outgoing request from Productboard to your action\nendpoint \u2014 both the creation probe and all action notifications.\n",
            "$ref": "#/components/schemas/ActionHeaders"
          }
        },
        "description": "Configuration for the action endpoint Productboard calls when a user interacts\nwith a push button (push, unlink, or dismiss).\n"
      },
      "ActionHeaders": {
        "type": "object",
        "properties": {
          "authorization": {
            "maxLength": 2048,
            "type": "string",
            "description": "Raw value sent in the \u0060Authorization\u0060 header of every outgoing request.\nThis field is **write-only** and never returned in API responses.\n\nSupports any scheme:\n- \u0060Basic aGVsbG86d29ybGQ=\u0060\n- \u0060Bearer \u003Ctoken\u003E\u0060\n- Any custom single-header auth scheme\n",
            "writeOnly": true,
            "example": "Bearer my-action-secret"
          }
        },
        "description": "Custom headers included in every outgoing request from Productboard to your action\nendpoint \u2014 both the creation probe and all action notifications.\n"
      },
      "ActionPayload": {
        "required": [
          "integrationId",
          "trigger",
          "feature"
        ],
        "type": "object",
        "properties": {
          "integrationId": {
            "type": "string",
            "description": "ID of the plugin integration whose button was clicked.",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000001"
          },
          "trigger": {
            "$ref": "#/components/schemas/ActionPayloadTrigger"
          },
          "feature": {
            "$ref": "#/components/schemas/ActionPayloadFeature"
          },
          "triggeredByUser": {
            "$ref": "#/components/schemas/ActionPayloadTriggeredByUser"
          },
          "links": {
            "$ref": "#/components/schemas/ActionPayloadLinks"
          }
        },
        "description": "Payload Productboard sends to your action endpoint when a user clicks a push button."
      },
      "PluginIntegrationConnection": {
        "required": [
          "id",
          "type",
          "fields",
          "links"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The Productboard entity ID this connection belongs to.",
            "format": "uuid",
            "readOnly": true,
            "example": "00000000-0000-0000-0000-000000000002"
          },
          "type": {
            "$ref": "#/components/schemas/PluginIntegrationConnectionType"
          },
          "fields": {
            "description": "Domain attributes of a plugin integration connection.",
            "$ref": "#/components/schemas/PluginIntegrationConnectionFields"
          },
          "links": {
            "description": "Links for this connection resource.",
            "$ref": "#/components/schemas/PluginIntegrationConnectionLinks"
          }
        },
        "description": "A plugin integration connection resource, representing the relationship between\na Productboard entity and an entity in the third-party system.\n\nThe \u0060id\u0060 is the Productboard entity ID. The connection is scoped to a specific\nplugin integration identified in the URL path.\n"
      },
      "PluginIntegrationConnectionFields": {
        "required": [
          "connection"
        ],
        "type": "object",
        "properties": {
          "connection": {
            "description": "The state of a plugin integration connection. Determined by the \u0060state\u0060 property.\n\n| State | Meaning | Push button appearance |\n|---|---|---|\n| \u0060connected\u0060 | Entity linked to third-party entity | Shows \u0060label\u0060; click opens \u0060targetUrl\u0060 |\n| \u0060error\u0060 | Connection attempt failed | Shows error icon with \u0060message\u0060 |\n| \u0060progress\u0060 | Establishing asynchronously | Shows loading indicator |\n| \u0060initial\u0060 | No connection (default) | Shows integration\u0027s \u0060initialState.label\u0060 |\n",
            "$ref": "#/components/schemas/ConnectionState"
          }
        },
        "description": "Domain attributes of a plugin integration connection."
      },
      "PluginIntegrationConnectionLinks": {
        "required": [
          "self"
        ],
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "description": "URL to retrieve this connection.",
            "format": "uri",
            "example": "https://api.productboard.com/v2/plugin-integrations/00000000-0000-0000-0000-000000000001/connections/00000000-0000-0000-0000-000000000002"
          }
        },
        "description": "Links for this connection resource."
      },
      "PluginIntegrationConnectionReference": {
        "required": [
          "id",
          "links"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The Productboard entity ID this connection belongs to.",
            "format": "uuid",
            "readOnly": true,
            "example": "00000000-0000-0000-0000-000000000002"
          },
          "links": {
            "description": "Links for this connection resource.",
            "$ref": "#/components/schemas/PluginIntegrationConnectionLinks"
          }
        },
        "description": "Minimal reference to a plugin integration connection, returned in mutation responses."
      },
      "ConnectionStateName": {
        "enum": [
          "connected",
          "error",
          "progress",
          "initial"
        ],
        "type": "string",
        "additionalProperties": false,
        "description": "Identifies a connection state value.",
        "x-ms-enum": {
          "name": "ConnectionStateName",
          "modelAsString": false,
          "values": [
            {
              "value": "connected",
              "name": "Connected"
            },
            {
              "value": "error",
              "name": "Error"
            },
            {
              "value": "progress",
              "name": "Progress"
            },
            {
              "value": "initial",
              "name": "Initial"
            }
          ]
        }
      },
      "ConnectionsSearchFilter": {
        "type": "object",
        "properties": {
          "state": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConnectionStateName"
            },
            "description": "Filter by connection state."
          },
          "entityId": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter by entity IDs."
          }
        },
        "description": "Filter criteria for searching plugin integration connections."
      },
      "ConnectionState": {
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/ConnectedState"
          },
          {
            "$ref": "#/components/schemas/ErrorState"
          },
          {
            "$ref": "#/components/schemas/ProgressState"
          },
          {
            "$ref": "#/components/schemas/InitialConnectionState"
          }
        ],
        "properties": {
          "label": {
            "maxLength": 20,
            "minLength": 1,
            "type": "string",
            "description": "Text on the push button when connected. Typically the entity\u0027s current status.",
            "example": "Done"
          },
          "hoverLabel": {
            "maxLength": 20,
            "minLength": 1,
            "type": "string",
            "description": "Text on the push button on hover (temporarily replaces \u0060label\u0060). Typically shows the linked entity\u0027s identifier.",
            "example": "Issue 123"
          },
          "tooltip": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Longer tooltip text shown on hover. Ideal for a detailed description of the linked entity.",
            "example": "Issue 123 - Implement XYZ"
          },
          "color": {
            "$ref": "#/components/schemas/ConnectedStateColor"
          },
          "targetUrl": {
            "maxLength": 1000,
            "minLength": 1,
            "type": "string",
            "description": "URL that opens when the user clicks the connected push button. Should link to the connected entity in the third-party system.",
            "format": "uri",
            "example": "https://example.com/issues/123"
          },
          "message": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "Human-readable error message explaining why the connection could not be established. Shown in the error popup in the Productboard UI.",
            "example": "You don\u0027t have permission to create an issue."
          },
          "debugDetail": {
            "maxLength": 8000,
            "type": "string",
            "description": "Additional debugging information set by Productboard when a push fails on\nProductboard\u0027s side. **Not visible in the UI** \u2014 for developer use during\nintegration development only. Never set by the partner.\n",
            "readOnly": true,
            "example": "JSON decoding error: field \u0027targetUrl\u0027 is missing"
          }
        },
        "description": "The state of a plugin integration connection. Determined by the \u0060state\u0060 property.\n\n| State | Meaning | Push button appearance |\n|---|---|---|\n| \u0060connected\u0060 | Entity linked to third-party entity | Shows \u0060label\u0060; click opens \u0060targetUrl\u0060 |\n| \u0060error\u0060 | Connection attempt failed | Shows error icon with \u0060message\u0060 |\n| \u0060progress\u0060 | Establishing asynchronously | Shows loading indicator |\n| \u0060initial\u0060 | No connection (default) | Shows integration\u0027s \u0060initialState.label\u0060 |\n"
      },
      "ConnectedState": {
        "required": [
          "state",
          "label",
          "hoverLabel",
          "tooltip",
          "color",
          "targetUrl"
        ],
        "type": "object",
        "properties": {
          "state": {
            "$ref": "#/components/schemas/ConnectedStateState"
          },
          "label": {
            "maxLength": 20,
            "minLength": 1,
            "type": "string",
            "description": "Text on the push button when connected. Typically the entity\u0027s current status.",
            "example": "Done"
          },
          "hoverLabel": {
            "maxLength": 20,
            "minLength": 1,
            "type": "string",
            "description": "Text on the push button on hover (temporarily replaces \u0060label\u0060). Typically shows the linked entity\u0027s identifier.",
            "example": "Issue 123"
          },
          "tooltip": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Longer tooltip text shown on hover. Ideal for a detailed description of the linked entity.",
            "example": "Issue 123 - Implement XYZ"
          },
          "color": {
            "$ref": "#/components/schemas/ConnectedStateColor"
          },
          "targetUrl": {
            "maxLength": 1000,
            "minLength": 1,
            "type": "string",
            "description": "URL that opens when the user clicks the connected push button. Should link to the connected entity in the third-party system.",
            "format": "uri",
            "example": "https://example.com/issues/123"
          }
        },
        "description": "Represents a successfully established connection. The push button displays custom\nlabel, hover text, tooltip, color, and a link to the connected entity.\n"
      },
      "ErrorState": {
        "required": [
          "state",
          "message"
        ],
        "type": "object",
        "properties": {
          "state": {
            "$ref": "#/components/schemas/ErrorStateState"
          },
          "message": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "Human-readable error message explaining why the connection could not be established. Shown in the error popup in the Productboard UI.",
            "example": "You don\u0027t have permission to create an issue."
          },
          "debugDetail": {
            "maxLength": 8000,
            "type": "string",
            "description": "Additional debugging information set by Productboard when a push fails on\nProductboard\u0027s side. **Not visible in the UI** \u2014 for developer use during\nintegration development only. Never set by the partner.\n",
            "readOnly": true,
            "example": "JSON decoding error: field \u0027targetUrl\u0027 is missing"
          }
        },
        "description": "Represents a failed connection attempt. The push button displays an error icon with the provided message."
      },
      "ProgressState": {
        "required": [
          "state"
        ],
        "type": "object",
        "properties": {
          "state": {
            "$ref": "#/components/schemas/ProgressStateState"
          }
        },
        "description": "Represents an in-progress connection attempt. The push button shows a loading\nindicator.\n\nUse when processing is asynchronous: respond with \u0060progress\u0060 immediately from your\naction endpoint, then call Configure Connection with the final state once done.\n"
      },
      "InitialConnectionState": {
        "required": [
          "state"
        ],
        "type": "object",
        "properties": {
          "state": {
            "$ref": "#/components/schemas/InitialState"
          }
        },
        "description": "Represents the default, unconnected state. The push button shows the integration\u0027s\n\u0060initialState.label\u0060. Setting a connection to \u0060initial\u0060 via Configure Connection\nis equivalent to deleting it.\n"
      },
      "ListLinks": {
        "required": [
          "next"
        ],
        "type": "object",
        "properties": {
          "next": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "ErrorSource": {
        "type": "object",
        "properties": {
          "pointer": {
            "type": "string",
            "description": "JSON Pointer [RFC6901] to the associated entity in the request document.\n",
            "example": "/data/fields/status"
          },
          "parameter": {
            "type": "string",
            "description": "Query parameter causing the error.\nUsed when the error is related to a query parameter rather than request body.\n",
            "example": "pageCursor"
          }
        },
        "description": "An object containing references to the source of the error. It helps with location of the problematic field or parameter.\n"
      },
      "Error": {
        "required": [
          "code",
          "title",
          "detail"
        ],
        "type": "object",
        "properties": {
          "code": {
            "examples": [
              "auth.accessDenied",
              "resource.notFound"
            ],
            "type": "string",
            "description": "A unique, machine-readable and stable code that identifies this error.\nMust be consistent across all services and provide clear categorization.\nFormat: \u0060category.subcategory.specificError\u0060\n"
          },
          "title": {
            "maxLength": 255,
            "type": "string",
            "description": "A short, human-readable summary of the problem that doesn\u0027t change\nfrom occurrence to occurrence of the problem. Should provide immediate\nunderstanding of the error type.\n",
            "example": "Missing required field"
          },
          "detail": {
            "maxLength": 1000,
            "type": "string",
            "description": "A human-readable explanation specific to this occurrence of the problem.\nMay include suggestions for resolution but should not expose sensitive information.\n",
            "example": "Field \u0027status\u0027 is required."
          },
          "source": {
            "description": "An object containing references to the source of the error. It helps with location of the problematic field or parameter.\n",
            "$ref": "#/components/schemas/ErrorSource"
          }
        },
        "description": "Individual error object containing the details and context.\n"
      },
      "ErrorResponse": {
        "required": [
          "id",
          "errors"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique identifier for this specific occurrence of the problem.\nIt carries unique request/response ID which allows client\nand server to reference the exact instance of the error\nin logs or support communication.\n"
          },
          "errors": {
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            },
            "description": "Array of error objects, multiple errors can be returned."
          }
        },
        "description": "Standard error response structure.\n"
      },
      "PluginIntegrationCreateRequestBodyRequest": {
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/PluginIntegrationCreateRequestBodyRequestData"
          }
        }
      },
      "PluginIntegrationPatchRequestBodyRequest": {
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/PluginIntegrationPatchRequestBodyRequestData"
          }
        }
      },
      "PluginIntegrationConnectionUpdateStateRequestBodyRequest": {
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/PluginIntegrationConnectionUpdateStateRequestBodyRequestData"
          }
        }
      },
      "PluginIntegrationConnectionsSearchRequestBodyRequest": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/PluginIntegrationConnectionsSearchRequestBodyRequestData"
          }
        }
      },
      "PluginIntegrationCreateResponseResponse": {
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "data": {
            "description": "Minimal reference to a plugin integration, returned in mutation responses.",
            "$ref": "#/components/schemas/PluginIntegrationReference"
          }
        }
      },
      "PluginIntegrationsListResponseResponse": {
        "required": [
          "data",
          "links"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PluginIntegration"
            }
          },
          "links": {
            "$ref": "#/components/schemas/ListLinks"
          }
        }
      },
      "PluginIntegrationResponseResponse": {
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "data": {
            "description": "A plugin integration resource.",
            "$ref": "#/components/schemas/PluginIntegration"
          }
        }
      },
      "PluginIntegrationPatchResponseResponse": {
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "data": {
            "description": "Minimal reference to a plugin integration, returned in mutation responses.",
            "$ref": "#/components/schemas/PluginIntegrationReference"
          }
        }
      },
      "PluginIntegrationConnectionsListResponseResponse": {
        "required": [
          "data",
          "links"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PluginIntegrationConnection"
            }
          },
          "links": {
            "$ref": "#/components/schemas/ListLinks"
          }
        }
      },
      "GetPluginIntegrationConnectionResponseResponse": {
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "data": {
            "description": "A plugin integration connection resource, representing the relationship between\na Productboard entity and an entity in the third-party system.\n\nThe \u0060id\u0060 is the Productboard entity ID. The connection is scoped to a specific\nplugin integration identified in the URL path.\n",
            "$ref": "#/components/schemas/PluginIntegrationConnection"
          }
        }
      },
      "PluginIntegrationConnectionUpdateStateResponseResponse": {
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "data": {
            "description": "Minimal reference to a plugin integration connection, returned in mutation responses.",
            "$ref": "#/components/schemas/PluginIntegrationConnectionReference"
          }
        }
      },
      "ActionPayloadFeature": {
        "required": [
          "id",
          "links"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the entity.",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000002"
          },
          "links": {
            "$ref": "#/components/schemas/ActionPayloadFeatureLinks"
          }
        },
        "description": "The Productboard entity associated with the clicked button."
      },
      "ActionPayloadTriggeredByUser": {
        "required": [
          "name",
          "email"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Display name of the user.",
            "example": "Jane Doe"
          },
          "email": {
            "type": "string",
            "description": "Email address of the user.",
            "format": "email",
            "example": "jane.doe@example.com"
          }
        },
        "description": "The Productboard user who triggered the action."
      },
      "ActionPayloadLinks": {
        "required": [
          "connection"
        ],
        "type": "object",
        "properties": {
          "connection": {
            "type": "string",
            "description": "URL of the plugin integration connection for this entity. Use this endpoint\nto update the connection state asynchronously after processing the action.\n",
            "format": "uri",
            "example": "https://api.productboard.com/v2/plugin-integrations/00000000-0000-0000-0000-000000000001/connections/00000000-0000-0000-0000-000000000002"
          }
        },
        "description": "Relevant links for this action notification."
      },
      "PluginIntegrationCreateRequestBodyRequestData": {
        "required": [
          "fields"
        ],
        "type": "object",
        "properties": {
          "fields": {
            "description": "Domain attributes for creating a plugin integration.\n\nNote: \u0060action.headers.authorization\u0060 is write-only and never returned in responses.\n",
            "$ref": "#/components/schemas/PluginIntegrationCreateFields"
          }
        }
      },
      "PluginIntegrationPatchRequestBodyRequestData": {
        "required": [
          "fields"
        ],
        "type": "object",
        "properties": {
          "fields": {
            "description": "Domain attributes for partially updating a plugin integration. All fields are\noptional \u2014 fields not included preserve their current value.\n\nNote: \u0060action.headers.authorization\u0060 is write-only and never returned in responses.\nIf \u0060action\u0060 is updated while the integration is \u0060enabled\u0060, a new probe is sent.\n",
            "$ref": "#/components/schemas/PluginIntegrationUpdateFields"
          }
        }
      },
      "PluginIntegrationConnectionUpdateStateRequestBodyRequestData": {
        "required": [
          "fields"
        ],
        "type": "object",
        "properties": {
          "fields": {
            "$ref": "#/components/schemas/PluginIntegrationConnectionUpdateStateRequestBodyRequestDataFields"
          }
        }
      },
      "PluginIntegrationConnectionsSearchRequestBodyRequestData": {
        "type": "object",
        "properties": {
          "filter": {
            "description": "Filter criteria for searching plugin integration connections.",
            "$ref": "#/components/schemas/ConnectionsSearchFilter"
          }
        }
      },
      "ActionPayloadFeatureLinks": {
        "required": [
          "self",
          "html"
        ],
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "description": "API URL to retrieve the entity.",
            "format": "uri",
            "example": "https://api.productboard.com/features/00000000-0000-0000-0000-000000000002"
          },
          "html": {
            "type": "string",
            "description": "URL to the entity detail page in the Productboard web application.",
            "format": "uri",
            "example": "https://app.productboard.com/feature-board/1/features/42/detail"
          }
        }
      },
      "PluginIntegrationConnectionUpdateStateRequestBodyRequestDataFields": {
        "required": [
          "connection"
        ],
        "type": "object",
        "properties": {
          "connection": {
            "description": "The state of a plugin integration connection. Determined by the \u0060state\u0060 property.\n\n| State | Meaning | Push button appearance |\n|---|---|---|\n| \u0060connected\u0060 | Entity linked to third-party entity | Shows \u0060label\u0060; click opens \u0060targetUrl\u0060 |\n| \u0060error\u0060 | Connection attempt failed | Shows error icon with \u0060message\u0060 |\n| \u0060progress\u0060 | Establishing asynchronously | Shows loading indicator |\n| \u0060initial\u0060 | No connection (default) | Shows integration\u0027s \u0060initialState.label\u0060 |\n",
            "$ref": "#/components/schemas/ConnectionState"
          }
        }
      },
      "ExamplePayload": {
        "type": "object",
        "description": "Placeholder schema for path example refs"
      },
      "PluginIntegrationTypeEnum": {
        "const": null,
        "enum": [
          "pluginIntegration"
        ],
        "type": "string",
        "description": "Resource type identifier.",
        "readOnly": true,
        "example": "pluginIntegration",
        "x-ms-enum": {
          "name": "PluginIntegrationTypeEnum",
          "modelAsString": false,
          "values": [
            {
              "value": "pluginIntegration",
              "name": "PluginIntegration"
            }
          ]
        }
      },
      "ActionVersion": {
        "enum": [
          1
        ],
        "type": "integer",
        "additionalProperties": false,
        "description": "Version of the action payload format. Currently only \u00601\u0060 is supported.",
        "example": 1
      },
      "ActionPayloadTrigger": {
        "enum": [
          "button.push",
          "button.unlink",
          "button.dismiss"
        ],
        "type": "string",
        "additionalProperties": false,
        "description": "Identifies which button the user clicked:\n- \u0060button.push\u0060 \u2014 clicked to connect / push the entity\n- \u0060button.unlink\u0060 \u2014 clicked to unlink the connected entity\n- \u0060button.dismiss\u0060 \u2014 dismissed an error popup\n",
        "example": "button.push",
        "x-ms-enum": {
          "name": "ActionPayloadTrigger",
          "modelAsString": false,
          "values": [
            {
              "value": "button.push",
              "name": "ButtonPush"
            },
            {
              "value": "button.unlink",
              "name": "ButtonUnlink"
            },
            {
              "value": "button.dismiss",
              "name": "ButtonDismiss"
            }
          ]
        }
      },
      "PluginIntegrationConnectionType": {
        "const": null,
        "enum": [
          "pluginIntegrationConnection"
        ],
        "type": "string",
        "description": "Resource type identifier.",
        "readOnly": true,
        "example": "pluginIntegrationConnection",
        "x-ms-enum": {
          "name": "PluginIntegrationConnectionType",
          "modelAsString": false,
          "values": [
            {
              "value": "pluginIntegrationConnection",
              "name": "PluginIntegrationConnection"
            }
          ]
        }
      },
      "ConnectedStateState": {
        "enum": [
          "connected"
        ],
        "type": "string",
        "additionalProperties": false,
        "description": "Connection state discriminator.",
        "x-ms-enum": {
          "name": "ConnectedStateState",
          "modelAsString": false,
          "values": [
            {
              "value": "connected",
              "name": "Connected"
            }
          ]
        }
      },
      "ConnectedStateColor": {
        "enum": [
          "gray",
          "blue",
          "green",
          "yellow",
          "orange",
          "red",
          "purple"
        ],
        "type": "string",
        "additionalProperties": false,
        "description": "Background color of the push button.",
        "example": "green",
        "x-ms-enum": {
          "name": "ConnectedStateColor",
          "modelAsString": false,
          "values": [
            {
              "value": "gray",
              "name": "Gray"
            },
            {
              "value": "blue",
              "name": "Blue"
            },
            {
              "value": "green",
              "name": "Green"
            },
            {
              "value": "yellow",
              "name": "Yellow"
            },
            {
              "value": "orange",
              "name": "Orange"
            },
            {
              "value": "red",
              "name": "Red"
            },
            {
              "value": "purple",
              "name": "Purple"
            }
          ]
        }
      },
      "ErrorStateState": {
        "enum": [
          "error"
        ],
        "type": "string",
        "additionalProperties": false,
        "description": "Connection state discriminator.",
        "x-ms-enum": {
          "name": "ErrorStateState",
          "modelAsString": false,
          "values": [
            {
              "value": "error",
              "name": "Error"
            }
          ]
        }
      },
      "ProgressStateState": {
        "enum": [
          "progress"
        ],
        "type": "string",
        "additionalProperties": false,
        "description": "Connection state discriminator.",
        "x-ms-enum": {
          "name": "ProgressStateState",
          "modelAsString": false,
          "values": [
            {
              "value": "progress",
              "name": "Progress"
            }
          ]
        }
      },
      "InitialState": {
        "enum": [
          "initial"
        ],
        "type": "string",
        "additionalProperties": false,
        "description": "Connection state discriminator.",
        "x-ms-enum": {
          "name": "InitialState",
          "modelAsString": false,
          "values": [
            {
              "value": "initial",
              "name": "Initial"
            }
          ]
        }
      }
    },
    "responses": {
      "PluginIntegrationCreateResponse": {
        "description": "Plugin integration created successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PluginIntegrationCreateResponseResponse"
            },
            "examples": {
              "created": {
                "summary": "Integration created",
                "value": {
                  "data": {
                    "id": "00000000-0000-0000-0000-000000000001",
                    "links": {
                      "self": "https://api.productboard.com/v2/plugin-integrations/00000000-0000-0000-0000-000000000001",
                      "connections": "https://api.productboard.com/v2/plugin-integrations/00000000-0000-0000-0000-000000000001/connections"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PluginIntegrationsListResponse": {
        "description": "A paginated list of plugin integrations",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PluginIntegrationsListResponseResponse"
            },
            "example": {
              "data": [
                {
                  "id": "00000000-0000-0000-0000-000000000001",
                  "type": "pluginIntegration",
                  "createdAt": "2024-01-15T10:30:00.000Z",
                  "fields": {
                    "type": "com.example.myservice",
                    "name": "My Service Integration",
                    "integrationStatus": "enabled",
                    "initialState": {
                      "label": "Push"
                    }
                  },
                  "links": {
                    "self": "https://api.productboard.com/v2/plugin-integrations/00000000-0000-0000-0000-000000000001",
                    "connections": "https://api.productboard.com/v2/plugin-integrations/00000000-0000-0000-0000-000000000001/connections"
                  }
                }
              ],
              "links": {
                "next": null
              }
            }
          }
        }
      },
      "PluginIntegrationResponse": {
        "description": "Plugin integration details",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PluginIntegrationResponseResponse"
            }
          }
        }
      },
      "PluginIntegrationPatchResponse": {
        "description": "Plugin integration updated successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PluginIntegrationPatchResponseResponse"
            }
          }
        }
      },
      "PluginIntegrationConnectionsListResponse": {
        "description": "A paginated list of plugin integration connections",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PluginIntegrationConnectionsListResponseResponse"
            },
            "example": {
              "data": [
                {
                  "id": "00000000-0000-0000-0000-000000000002",
                  "type": "pluginIntegrationConnection",
                  "fields": {
                    "connection": {
                      "state": "connected",
                      "label": "Done",
                      "hoverLabel": "Issue 123",
                      "tooltip": "Issue 123 - Implement XYZ",
                      "color": "green",
                      "targetUrl": "https://example.com/issues/123"
                    }
                  },
                  "links": {
                    "self": "https://api.productboard.com/v2/plugin-integrations/00000000-0000-0000-0000-000000000001/connections/00000000-0000-0000-0000-000000000002"
                  }
                }
              ],
              "links": {
                "next": null
              }
            }
          }
        }
      },
      "GetPluginIntegrationConnectionResponse": {
        "description": "Plugin integration connection details",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GetPluginIntegrationConnectionResponseResponse"
            },
            "examples": {
              "connected": {
                "summary": "Entity connected to third-party entity",
                "value": {
                  "data": {
                    "id": "00000000-0000-0000-0000-000000000002",
                    "type": "pluginIntegrationConnection",
                    "fields": {
                      "connection": {
                        "state": "connected",
                        "label": "Done",
                        "hoverLabel": "Issue 123",
                        "tooltip": "Issue 123 - Implement XYZ",
                        "color": "green",
                        "targetUrl": "https://example.com/issues/123"
                      }
                    },
                    "links": {
                      "self": "https://api.productboard.com/v2/plugin-integrations/00000000-0000-0000-0000-000000000001/connections/00000000-0000-0000-0000-000000000002"
                    }
                  }
                }
              },
              "initial": {
                "summary": "No connection established yet",
                "value": {
                  "data": {
                    "id": "00000000-0000-0000-0000-000000000002",
                    "type": "pluginIntegrationConnection",
                    "fields": {
                      "connection": {
                        "state": "initial"
                      }
                    },
                    "links": {
                      "self": "https://api.productboard.com/v2/plugin-integrations/00000000-0000-0000-0000-000000000001/connections/00000000-0000-0000-0000-000000000002"
                    }
                  }
                }
              },
              "error": {
                "summary": "Connection attempt failed",
                "value": {
                  "data": {
                    "id": "00000000-0000-0000-0000-000000000002",
                    "type": "pluginIntegrationConnection",
                    "fields": {
                      "connection": {
                        "state": "error",
                        "message": "You don\u0027t have permission to create an issue."
                      }
                    },
                    "links": {
                      "self": "https://api.productboard.com/v2/plugin-integrations/00000000-0000-0000-0000-000000000001/connections/00000000-0000-0000-0000-000000000002"
                    }
                  }
                }
              },
              "progress": {
                "summary": "Connection being established asynchronously",
                "value": {
                  "data": {
                    "id": "00000000-0000-0000-0000-000000000002",
                    "type": "pluginIntegrationConnection",
                    "fields": {
                      "connection": {
                        "state": "progress"
                      }
                    },
                    "links": {
                      "self": "https://api.productboard.com/v2/plugin-integrations/00000000-0000-0000-0000-000000000001/connections/00000000-0000-0000-0000-000000000002"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PluginIntegrationConnectionUpdateStateResponse": {
        "description": "Connection state set successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PluginIntegrationConnectionUpdateStateResponseResponse"
            }
          }
        }
      },
      "BadRequestResponse": {
        "description": "Bad Request - Invalid input format or malformed request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "schemaInvalid": {
                "summary": "Request does not satisfy schema",
                "value": {
                  "id": "req-1234567890",
                  "errors": [
                    {
                      "code": "request.invalid",
                      "title": "Request schema invalid",
                      "detail": "The request does not satisfy the required schema. Field \u0027type\u0027 is required but was not provided.",
                      "source": {
                        "pointer": "/data/type"
                      }
                    }
                  ]
                }
              },
              "fieldInvalid": {
                "summary": "Invalid field value type",
                "value": {
                  "id": "req-1234567891",
                  "errors": [
                    {
                      "code": "request.invalid",
                      "title": "Request schema invalid",
                      "detail": "Field \u0027fields/name\u0027 must be a string with maximum length of 255 characters, but received a number.",
                      "source": {
                        "pointer": "/data/fields/name"
                      }
                    }
                  ]
                }
              },
              "malformedJson": {
                "summary": "Malformed JSON syntax",
                "value": {
                  "id": "req-1234567892",
                  "errors": [
                    {
                      "code": "request.malformed",
                      "title": "Request malformed",
                      "detail": "The request body contains invalid JSON syntax. Expected \u0027,\u0027 or \u0027}\u0027 at line 5, column 12."
                    }
                  ]
                }
              },
              "invalidContentType": {
                "summary": "Invalid content type",
                "value": {
                  "id": "req-1234567893",
                  "errors": [
                    {
                      "code": "request.malformed",
                      "title": "Request malformed",
                      "detail": "The Content-Type header must be \u0027application/json\u0027. Received \u0027text/plain\u0027."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "UnauthorizedResponse": {
        "description": "Unauthorized - Missing or invalid authentication credentials",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "missingCredentials": {
                "summary": "Missing authentication credentials",
                "value": {
                  "id": "req-2234567890",
                  "errors": [
                    {
                      "code": "auth.invalid",
                      "title": "Invalid authentication",
                      "detail": "Authentication credentials are missing."
                    }
                  ]
                }
              },
              "invalidToken": {
                "summary": "Invalid or expired token",
                "value": {
                  "id": "req-2234567891",
                  "errors": [
                    {
                      "code": "auth.invalid",
                      "title": "Invalid authentication",
                      "detail": "The provided authentication credentials are invalid or have expired. Please obtain new credentials and try again."
                    }
                  ]
                }
              },
              "revokedCredentials": {
                "summary": "Revoked credentials",
                "value": {
                  "id": "req-2234567892",
                  "errors": [
                    {
                      "code": "auth.invalid",
                      "title": "Invalid authentication",
                      "detail": "The authentication credentials have been revoked. Please contact your workspace administrator."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "ForbiddenResponse": {
        "description": "Forbidden - Insufficient permissions",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "permissionDenied": {
                "summary": "Permission denied for resource",
                "value": {
                  "id": "req-3234567890",
                  "errors": [
                    {
                      "code": "auth.accessDenied",
                      "title": "Access denied",
                      "detail": "You do not have permission to perform this operation on the specified resource. Contact your workspace administrator to request access."
                    }
                  ]
                }
              },
              "insufficientScope": {
                "summary": "Insufficient OAuth scopes",
                "value": {
                  "id": "req-3234567891",
                  "errors": [
                    {
                      "code": "auth.accessDenied",
                      "title": "Access denied",
                      "detail": "Your authentication token lacks the required OAuth scopes to perform this operation. Please re-authenticate with the necessary scopes."
                    }
                  ]
                }
              },
              "readOnlyRole": {
                "summary": "Read-only role restriction",
                "value": {
                  "id": "req-3234567892",
                  "errors": [
                    {
                      "code": "auth.accessDenied",
                      "title": "Access denied",
                      "detail": "Your user role does not permit this operation. Please contact your workspace administrator."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "RequestTimeoutResponse": {
        "description": "Request Timeout - The server did not receive a complete request within the allowed time",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "requestTimeout": {
                "summary": "Request timeout",
                "value": {
                  "id": "req-5234567890",
                  "errors": [
                    {
                      "code": "request.timeout",
                      "title": "Request timeout",
                      "detail": "The request took too long to process and was terminated. Try simplifying your request or try again later."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "TooManyRequestsResponse": {
        "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "rateLimitExceeded": {
                "summary": "Rate limit exceeded",
                "value": {
                  "id": "req-7234567890",
                  "errors": [
                    {
                      "code": "rate.limitExceeded",
                      "title": "Rate limit exceeded",
                      "detail": "You have exceeded the allowed number of API requests. Please wait before making additional requests."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "InternalServerErrorResponse": {
        "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "internalServerError": {
                "summary": "Unexpected server error",
                "value": {
                  "id": "req-8234567890",
                  "errors": [
                    {
                      "code": "internal.serverError",
                      "title": "Internal server error",
                      "detail": "An unexpected error occurred while processing your request. Please try again later. If the problem persists, contact support with the correlation ID."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "UnprocessableEntityResponse": {
        "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "validationFailed": {
                "summary": "Validation failed",
                "value": {
                  "id": "req-6234567890",
                  "errors": [
                    {
                      "code": "validation.failed",
                      "title": "Validation failed",
                      "detail": "One or more fields failed validation.",
                      "source": {
                        "pointer": "/data/type"
                      }
                    }
                  ]
                }
              },
              "validationMultipleFields": {
                "summary": "Multiple validation errors",
                "value": {
                  "id": "req-6234567891",
                  "errors": [
                    {
                      "code": "validation.failed",
                      "title": "Validation failed",
                      "detail": "The field \u0027name\u0027 cannot be empty.",
                      "source": {
                        "pointer": "/data/fields/name"
                      }
                    },
                    {
                      "code": "validation.failed",
                      "title": "Validation failed",
[...]
