{
  "openapi": "3.1.2",
  "info": {
    "title": "Teams",
    "description": "Productboard API v2 for managing teams and their member assignments. Use these endpoints to create, list, update, and delete teams, and to manage which members belong to each team.",
    "contact": {
      "name": "Productboard Support",
      "url": "https://support.productboard.com",
      "email": "support@productboard.com"
    },
    "license": {
      "name": "Productboard Proprietary",
      "url": "https://www.productboard.com/"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.productboard.com/v2",
      "description": "Production server"
    }
  ],
  "paths": {
    "/teams": {
      "get": {
        "tags": [
          "teams"
        ],
        "summary": "List teams",
        "description": "Retrieves a paginated list of teams from your workspace.\nTeams represent groups of members that can be used for organizing work and assigning ownership.\n\n- Teams are sorted by creation date, newest first.\n- Use the \u0060name\u0060 parameter to filter by name (case-insensitive exact match).\n- Use the \u0060handle\u0060 parameter to filter by handle (case-insensitive exact match).\n- Use the \u0060query\u0060 parameter to search by partial name or handle (case-insensitive). For example, \u0060query=product\u0060 will match \u0022Product Team\u0022, \u0022My Product\u0022, \u0022production\u0022, etc.\n- Use the \u0060pageCursor\u0060 parameter to paginate through results.\n",
        "operationId": "ListTeams",
        "parameters": [
          {
            "name": "pageCursor",
            "in": "query",
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter teams by name (case-insensitive exact match).\n",
            "schema": {
              "maxLength": 255,
              "minLength": 1,
              "type": "string"
            },
            "example": "Product Team"
          },
          {
            "name": "handle",
            "in": "query",
            "description": "Filter teams by handle (case-insensitive exact match).\n",
            "schema": {
              "maxLength": 255,
              "minLength": 1,
              "type": "string"
            },
            "example": "productteam"
          },
          {
            "name": "query",
            "in": "query",
            "description": "Full-text search query. Performs case-insensitive partial match on team name and handle.\n",
            "schema": {
              "maxLength": 255,
              "minLength": 1,
              "type": "string"
            },
            "example": "Product"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of teams",
            "$ref": "#/components/responses/TeamListResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "teams:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "teams"
        ],
        "summary": "Create team",
        "description": "Creates a new team in your workspace.\nYou must provide the team \u0060name\u0060 and a unique \u0060handle\u0060 for @mentions.\n\n## Required Fields\n\n- \u0060name\u0060: The name of the team (1-255 characters, must be unique per workspace)\n- \u0060handle\u0060: Unique handle for @mentions (lowercase alphanumeric only, 1-255 characters, must be unique per workspace)\n\n## Response\n\nReturns a reference to the created team with its ID and self link.\nUse the GET endpoint to retrieve the full team details.\n",
        "operationId": "CreateTeam",
        "requestBody": {
          "$ref": "#/components/requestBodies/TeamCreateRequestBody"
        },
        "responses": {
          "201": {
            "description": "Team created successfully",
            "$ref": "#/components/responses/TeamReferenceResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "409": {
            "description": "Conflict - Action cannot be performed due to current state or constraint violation",
            "$ref": "#/components/responses/ConflictResponse"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "teams:write"
            ]
          }
        ]
      }
    },
    "/teams/search": {
      "post": {
        "tags": [
          "teams"
        ],
        "summary": "Search teams",
        "description": "## Purpose\nPerforms a filtered search over teams using a POST request.\nUse this endpoint for batch lookups by IDs, names, or handles when query string filters are insufficient.\n\n## Request Format\n\nUses structured \u0060filter\u0060 and \u0060search\u0060 objects.\n\n## Key Features\n- \u0060filter.id\u0060: Filter by team UUIDs (OR logic, max 100)\n- \u0060filter.fields.name\u0060: Filter by team name, case-insensitive (single string or array, OR logic)\n- \u0060filter.fields.handle\u0060: Filter by team handle, case-insensitive (single string or array, OR logic)\n- \u0060search.query\u0060: Full-text search on team name and handle (case-insensitive partial match)\n- Returns the same response format as \u0060GET /v2/teams\u0060\n\n## Filter Logic\n- Multiple values within a single filter use **OR** logic (e.g., \u0060filter.fields.name: [\u0022A\u0022, \u0022B\u0022]\u0060 returns teams named A or B)\n- Different filter types and search use **AND** logic (e.g., \u0060filter\u0060 AND \u0060search\u0060 = intersection)\n- Empty request returns all teams (same as \u0060GET /v2/teams\u0060)\n\n## Important Notes\n- Each filter array accepts at most 100 items; exceeding this returns a 400 error\n- Pagination uses cursor-based navigation via \u0060pageCursor\u0060 query parameter\n",
        "operationId": "PerformTeamsSearch",
        "parameters": [
          {
            "name": "pageCursor",
            "in": "query",
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamSearchRequest"
              },
              "examples": {
                "filter_by_ids": {
                  "summary": "Filter by IDs",
                  "value": {
                    "data": {
                      "filter": {
                        "id": [
                          "123e4567-e89b-12d3-a456-426614174000",
                          "223e4567-e89b-12d3-a456-426614174001"
                        ]
                      }
                    }
                  }
                },
                "filter_by_fields": {
                  "summary": "Filter by name and handle",
                  "value": {
                    "data": {
                      "filter": {
                        "fields": {
                          "name": [
                            "Product Team",
                            "Engineering Team"
                          ],
                          "handle": "product"
                        }
                      }
                    }
                  }
                },
                "fulltext_search": {
                  "summary": "Full-text search",
                  "value": {
                    "data": {
                      "search": {
                        "query": "product"
                      }
                    }
                  }
                },
                "combined_filter_and_search": {
                  "summary": "Combined filter and search (AND logic)",
                  "value": {
                    "data": {
                      "filter": {
                        "fields": {
                          "name": [
                            "Product Team"
                          ]
                        }
                      },
                      "search": {
                        "query": "product"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A paginated list of teams",
            "$ref": "#/components/responses/TeamListResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "teams:read"
            ]
          }
        ]
      }
    },
    "/teams/{id}": {
      "get": {
        "tags": [
          "teams"
        ],
        "summary": "Get team",
        "description": "Retrieves the full details of a specific team by its unique identifier (UUID).\nReturns the team\u0027s name, handle, description, avatar URL, and metadata such as creation and update timestamps.\n\nUse this endpoint to load complete data for a single team.\n",
        "operationId": "GetTeam",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Team identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "123e4567-e89b-12d3-a456-426614174000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team details",
            "$ref": "#/components/responses/TeamResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "teams:read"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "teams"
        ],
        "summary": "Update team",
        "description": "Updates the fields and/or members of an existing team.\nSupports both field updates via \u0060fields\u0060 and member management via \u0060patch\u0060 operations.\nBoth can be combined in a single request.\n\n## Updatable Fields\n\n- \u0060name\u0060: The name of the team (1-255 characters)\n- \u0060handle\u0060: Unique handle for @mentions (lowercase alphanumeric only)\n- \u0060description\u0060: Optional description of the team (max 10,000 characters)\n\n## Patch Operations on Members\n\nUse \u0060patch\u0060 array to manage team members with these operations:\n\n- \u0060addItems\u0060: Add members to the team (idempotent, skips already-present members)\n- \u0060removeItems\u0060: Remove members from the team (idempotent, skips already-absent members)\n- \u0060set\u0060: Replace entire member list atomically\n- \u0060clear\u0060: Remove all members from the team\n\nMaximum 100 member references per operation.\n\n## Response\n\nReturns a reference to the updated team.\nUse the GET endpoint to retrieve the full updated team details.\n",
        "operationId": "UpdateTeam",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Team identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "123e4567-e89b-12d3-a456-426614174000"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/TeamUpdateRequestBody"
        },
        "responses": {
          "200": {
            "description": "Team updated successfully",
            "$ref": "#/components/responses/TeamUpdateResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "409": {
            "description": "Conflict - Action cannot be performed due to current state or constraint violation",
            "$ref": "#/components/responses/ConflictResponse"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "teams:write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "teams"
        ],
        "summary": "Delete team",
        "description": "Permanently deletes a team from your workspace.\nThis operation removes the team and all its membership associations.\n\n**Use this endpoint with caution \u2014 deletion is irreversible.**\n",
        "operationId": "DeleteTeam",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Team identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "123e4567-e89b-12d3-a456-426614174000"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The request was successful and no content is returned.",
            "$ref": "#/components/responses/NoContentResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "teams:delete"
            ]
          }
        ]
      }
    },
    "/teams/{id}/members": {
      "get": {
        "tags": [
          "teams"
        ],
        "summary": "List team members",
        "description": "Returns a paginated list of members belonging to a specific team.\nMembers are sorted by membership creation date, newest first.\n\nMember name and email are redacted to \u0060[redacted]\u0060 without the \u0060members:pii:read\u0060 scope.\n",
        "operationId": "ListTeamMembers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Team identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "123e4567-e89b-12d3-a456-426614174000"
            }
          },
          {
            "name": "pageCursor",
            "in": "query",
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of team members",
            "$ref": "#/components/responses/TeamMembersListResponse"
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "teams:read"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "TeamReference": {
        "required": [
          "id",
          "type",
          "links"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the team",
            "format": "uuid",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "type": {
            "$ref": "#/components/schemas/TeamType"
          },
          "links": {
            "description": "Links for navigating team resources.",
            "$ref": "#/components/schemas/TeamLinks"
          }
        },
        "description": "Minimal reference to a team resource containing only identifying information.\n"
      },
      "TeamLinks": {
        "required": [
          "self",
          "members",
          "html"
        ],
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "description": "URL of the team resource.",
            "format": "uri",
            "example": "https://api.productboard.com/v2/teams/123e4567-e89b-12d3-a456-426614174000"
          },
          "members": {
            "type": "string",
            "description": "URL of the paginated team members sub-resource.",
            "format": "uri",
            "example": "https://api.productboard.com/v2/teams/123e4567-e89b-12d3-a456-426614174000/members"
          },
          "html": {
            "type": "string",
            "description": "URL of the team page in the Productboard UI.",
            "format": "uri",
            "example": "https://example.productboard.com/settings/teams/12"
          }
        },
        "description": "Links for navigating team resources."
      },
      "TeamReferenceResponse": {
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "data": {
            "description": "Minimal reference to a team resource containing only identifying information.\n",
            "$ref": "#/components/schemas/TeamReference"
          }
        },
        "description": "Response wrapper containing a team reference.\n"
      },
      "Team": {
        "required": [
          "id",
          "type",
          "links",
          "fields",
          "createdAt",
          "updatedAt"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the team",
            "format": "uuid",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "type": {
            "$ref": "#/components/schemas/TeamType"
          },
          "links": {
            "description": "Links for navigating team resources.",
            "$ref": "#/components/schemas/TeamLinks"
          },
          "fields": {
            "description": "Fields of a team resource.\n",
            "$ref": "#/components/schemas/TeamFields"
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 timestamp when the team was created",
            "format": "date-time",
            "example": "2025-01-01T10:00:00Z"
          },
          "updatedAt": {
            "type": "string",
            "description": "ISO 8601 timestamp when the team was last updated",
            "format": "date-time",
            "example": "2025-01-15T14:30:00Z"
          }
        },
        "description": "Full team resource with all fields and metadata.\n"
      },
      "TeamFields": {
        "required": [
          "name",
          "handle"
        ],
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The name of the team.\n",
            "example": "Product Team"
          },
          "handle": {
            "type": "string",
            "description": "Unique handle for @mentions. Lowercase alphanumeric only.\n",
            "example": "productteam"
          },
          "description": {
            "type": "string",
            "description": "Optional description of the team.\n",
            "example": "Team responsible for product development"
          },
          "avatarUrl": {
            "type": [
              "null",
              "string"
            ],
            "description": "URL of the team\u0027s avatar image. Read-only.\nReturns \u0060null\u0060 if no avatar is set.\n",
            "format": "uri",
            "readOnly": true,
            "example": "https://cdn.productboard.com/teams/avatars/123/medium.png"
          }
        },
        "description": "Fields of a team resource.\n"
      },
      "TeamMemberResource": {
        "required": [
          "id",
          "type",
          "fields",
          "links"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "UUID of the member (space membership)",
            "format": "uuid",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "type": {
            "$ref": "#/components/schemas/MemberType"
          },
          "fields": {
            "$ref": "#/components/schemas/TeamMemberResourceFields"
          },
          "links": {
            "$ref": "#/components/schemas/ResourceLinks"
          }
        },
        "description": "A team member with fields and links.\nName and email are redacted to [redacted] without the members:pii:read scope.\n"
      },
      "TeamCreateOrUpdateFields": {
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The name of the team.\n\n# Validation\n- Required for creation\n- Must be between 1 and 255 characters\n- Must be unique per workspace\n\n# Filtering\nSupports exact match via \u0060name\u0060 parameter and partial match via \u0060query\u0060 parameter on GET /v2/teams.\n",
            "example": "Product Team"
          },
          "handle": {
            "maxLength": 255,
            "minLength": 1,
            "pattern": "^[a-z0-9]\u002B$",
            "type": "string",
            "description": "Unique handle for @mentions.\n\n# Validation\n- Required for creation\n- Lowercase letters and numbers only (no uppercase, spaces, or special characters)\n- Must be unique per workspace\n",
            "example": "productteam"
          },
          "description": {
            "maxLength": 10000,
            "type": "string",
            "description": "Optional description of the team.\n\n# Validation\n- Optional field\n- Maximum length: 10000 characters\n",
            "example": "Team responsible for product development"
          }
        },
        "description": "Fields for creating or updating a team.\nFor creation, \u0060name\u0060 and \u0060handle\u0060 are required.\nFor updates, the \u0060fields\u0060 object is required but all individual field properties within it are optional.\n\n**Note:** \u0060avatarUrl\u0060 is read-only and cannot be set via API. Avatar management is only available through the UI.\n"
      },
      "TeamPatchOperation": {
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/TeamPatchOperationOneOf1"
          },
          {
            "$ref": "#/components/schemas/TeamPatchOperationOneOf2"
          }
        ],
        "properties": {
          "path": {
            "$ref": "#/components/schemas/MembersPath"
          },
          "value": {
            "maxItems": 100,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TeamPatchOperationOneOf1ValueItem"
            },
            "description": "Member references for the operation.\nEach item must include either \u0060id\u0060 (space membership UUID) or \u0060email\u0060.\n"
          }
        },
        "description": "A patch operation for managing list-type fields on a team.\n"
      },
      "TeamSearchRequest": {
        "type": "object",
        "properties": {
          "data": {
            "description": "Search data with structured filter and search objects.\n",
            "$ref": "#/components/schemas/TeamSearchData"
          }
        },
        "description": "Request body for searching teams with filters.\n"
      },
      "TeamSearchData": {
        "type": "object",
        "properties": {
          "filter": {
            "description": "Structured filters for team search. Different filter groups use AND logic.\nAll filters are optional.\n",
            "$ref": "#/components/schemas/TeamSearchFilter"
          },
          "search": {
            "description": "Full-text search options. Combined with filters using AND logic.\n",
            "$ref": "#/components/schemas/TeamSearchSearch"
          }
        },
        "additionalProperties": false,
        "description": "Search data with structured filter and search objects.\n"
      },
      "TeamSearchFilter": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/TeamSearchFilterId"
          },
          "fields": {
            "description": "Field-level filters. Multiple values within a field use OR logic.\nString matching is case-insensitive.\n",
            "$ref": "#/components/schemas/TeamSearchFilterFields"
          }
        },
        "description": "Structured filters for team search. Different filter groups use AND logic.\nAll filters are optional.\n"
      },
      "TeamSearchFilterFields": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/TeamSearchFilterFieldsName"
          },
          "handle": {
            "$ref": "#/components/schemas/TeamSearchFilterFieldsHandle"
          }
        },
        "description": "Field-level filters. Multiple values within a field use OR logic.\nString matching is case-insensitive.\n"
      },
      "TeamSearchSearch": {
        "type": "object",
        "properties": {
          "query": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "Full-text search query. Performs case-insensitive partial match on team name and handle.\n"
          }
        },
        "description": "Full-text search options. Combined with filters using AND logic.\n"
      },
      "ListLinks": {
        "required": [
          "next"
        ],
        "type": "object",
        "properties": {
          "next": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "ErrorSource": {
        "type": "object",
        "properties": {
          "pointer": {
            "type": "string",
            "description": "JSON Pointer [RFC6901] to the associated entity in the request document.\n",
            "example": "/data/fields/status"
          },
          "parameter": {
            "type": "string",
            "description": "Query parameter causing the error.\nUsed when the error is related to a query parameter rather than request body.\n",
            "example": "pageCursor"
          }
        },
        "description": "An object containing references to the source of the error. It helps with location of the problematic field or parameter.\n"
      },
      "Error": {
        "required": [
          "code",
          "title",
          "detail"
        ],
        "type": "object",
        "properties": {
          "code": {
            "examples": [
              "auth.accessDenied",
              "resource.notFound"
            ],
            "type": "string",
            "description": "A unique, machine-readable and stable code that identifies this error.\nMust be consistent across all services and provide clear categorization.\nFormat: \u0060category.subcategory.specificError\u0060\n"
          },
          "title": {
            "maxLength": 255,
            "type": "string",
            "description": "A short, human-readable summary of the problem that doesn\u0027t change\nfrom occurrence to occurrence of the problem. Should provide immediate\nunderstanding of the error type.\n",
            "example": "Missing required field"
          },
          "detail": {
            "maxLength": 1000,
            "type": "string",
            "description": "A human-readable explanation specific to this occurrence of the problem.\nMay include suggestions for resolution but should not expose sensitive information.\n",
            "example": "Field \u0027status\u0027 is required."
          },
          "source": {
            "description": "An object containing references to the source of the error. It helps with location of the problematic field or parameter.\n",
            "$ref": "#/components/schemas/ErrorSource"
          }
        },
        "description": "Individual error object containing the details and context.\n"
      },
      "ErrorResponse": {
        "required": [
          "id",
          "errors"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique identifier for this specific occurrence of the problem.\nIt carries unique request/response ID which allows client\nand server to reference the exact instance of the error\nin logs or support communication.\n"
          },
          "errors": {
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            },
            "description": "Array of error objects, multiple errors can be returned."
          }
        },
        "description": "Standard error response structure.\n"
      },
      "Uuid": {
        "type": "string",
        "description": "A universally unique identifier (UUID).\n",
        "format": "uuid",
        "example": "123e4567-e89b-12d3-a456-426614174000"
      },
      "ObfuscatedValue": {
        "enum": [
          "[redacted]"
        ],
        "type": "string",
        "additionalProperties": false,
        "description": "The value \u0060[redacted]\u0060. Used to hide personally identifiable information in cases the request doesn\u0027t have the required \u0060members:pii:read\u0060 OAuth2 scope.\n",
        "example": "[redacted]",
        "x-ms-enum": {
          "name": "ObfuscatedValue",
          "modelAsString": false,
          "values": [
            {
              "value": "[redacted]",
              "name": "LeftBracketRedactedRightBracket"
            }
          ]
        }
      },
      "ResourceLinks": {
        "required": [
          "self"
        ],
        "type": "object",
        "properties": {
          "self": {
            "type": "string"
          }
        }
      },
      "TeamCreateRequestBodyRequest": {
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/TeamCreateRequestBodyRequestData"
          }
        }
      },
      "TeamUpdateRequestBodyRequest": {
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/TeamUpdateRequestBodyRequestData"
          }
        }
      },
      "TeamListResponseResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Team"
            }
          },
          "links": {
            "$ref": "#/components/schemas/ListLinks"
          }
        }
      },
      "TeamResponseResponse": {
        "type": "object",
        "properties": {
          "data": {
            "description": "Full team resource with all fields and metadata.\n",
            "$ref": "#/components/schemas/Team"
          }
        }
      },
      "TeamMembersListResponseResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TeamMemberResource"
            }
          },
          "links": {
            "$ref": "#/components/schemas/ListLinks"
          }
        }
      },
      "TeamAllOf2": {
        "required": [
          "fields",
          "createdAt",
          "updatedAt"
        ],
        "type": "object",
        "properties": {
          "fields": {
            "description": "Fields of a team resource.\n",
            "$ref": "#/components/schemas/TeamFields"
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 timestamp when the team was created",
            "format": "date-time",
            "example": "2025-01-01T10:00:00Z"
          },
          "updatedAt": {
            "type": "string",
            "description": "ISO 8601 timestamp when the team was last updated",
            "format": "date-time",
            "example": "2025-01-15T14:30:00Z"
          }
        }
      },
      "TeamMemberResourceFieldsName": {
        "type": "object",
        "anyOf": [
          {
            "$ref": "#/components/schemas/TeamMemberResourceFieldsNameBranch1"
          },
          {
            "$ref": "#/components/schemas/ObfuscatedValueWrapper"
          }
        ]
      },
      "TeamMemberResourceFieldsEmail": {
        "type": "object",
        "anyOf": [
          {
            "$ref": "#/components/schemas/TeamMemberResourceFieldsEmailBranch1"
          },
          {
            "$ref": "#/components/schemas/ObfuscatedValueWrapper2"
          }
        ]
      },
      "TeamPatchOperationOneOf1": {
        "required": [
          "op",
          "path",
          "value"
        ],
        "type": "object",
        "properties": {
          "op": {
            "$ref": "#/components/schemas/TeamPatchOperationOneOf1Op"
          },
          "path": {
            "$ref": "#/components/schemas/MembersPath"
          },
          "value": {
            "maxItems": 100,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TeamPatchOperationOneOf1ValueItem"
            },
            "description": "Member references for the operation.\nEach item must include either \u0060id\u0060 (space membership UUID) or \u0060email\u0060.\n"
          }
        },
        "additionalProperties": false,
        "description": "Operation with a value (addItems, removeItems, set)"
      },
      "TeamPatchOperationOneOf2": {
        "required": [
          "op",
          "path"
        ],
        "type": "object",
        "properties": {
          "op": {
            "$ref": "#/components/schemas/ClearOp"
          },
          "path": {
            "$ref": "#/components/schemas/MembersPath"
          }
        },
        "additionalProperties": false,
        "description": "Clear operation (no value needed)"
      },
      "TeamSearchFilterId": {
        "type": "object",
        "oneOf": [
          {
            "type": "string",
            "description": "A universally unique identifier (UUID).\n",
            "format": "uuid"
          },
          {
            "maxItems": 100,
            "type": "array",
            "items": {
              "type": "string",
              "description": "A universally unique identifier (UUID).\n",
              "format": "uuid"
            }
          }
        ],
        "description": "Filter by team UUIDs (OR logic)."
      },
      "TeamSearchFilterFieldsName": {
        "type": "object",
        "oneOf": [
          {
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          },
          {
            "maxItems": 100,
            "type": "array",
            "items": {
              "maxLength": 255,
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "description": "Filter by team name. Single string or array (OR logic), case-insensitive."
      },
      "TeamSearchFilterFieldsHandle": {
        "type": "object",
        "oneOf": [
          {
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          },
          {
            "maxItems": 100,
            "type": "array",
            "items": {
              "maxLength": 255,
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "description": "Filter by team handle. Single string or array (OR logic), case-insensitive."
      },
      "TeamUpdateRequestBodyRequestData": {
        "type": "object",
        "anyOf": [
          {
            "required": [
              "fields"
            ],
            "type": "object"
          },
          {
            "required": [
              "patch"
            ],
            "type": "object"
          }
        ],
        "properties": {
          "fields": {
            "description": "Fields for creating or updating a team.\nFor creation, \u0060name\u0060 and \u0060handle\u0060 are required.\nFor updates, the \u0060fields\u0060 object is required but all individual field properties within it are optional.\n\n**Note:** \u0060avatarUrl\u0060 is read-only and cannot be set via API. Avatar management is only available through the UI.\n",
            "$ref": "#/components/schemas/TeamCreateOrUpdateFields"
          },
          "patch": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TeamPatchOperation"
            },
            "description": "Array of patch operations for managing list-type fields (currently: \u0060members\u0060).\n"
          }
        }
      },
      "TeamPatchOperationOneOf1ValueItem": {
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/TeamPatchOperationOneOf1ValueItemOneOf1"
          },
          {
            "$ref": "#/components/schemas/TeamPatchOperationOneOf1ValueItemOneOf2"
          }
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "UUID of the member (space membership)",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "description": "Email address of the member",
            "format": "email"
          }
        }
      },
      "TeamPatchOperationOneOf1ValueItemOneOf1": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "UUID of the member (space membership)",
            "format": "uuid"
          }
        }
      },
      "TeamPatchOperationOneOf1ValueItemOneOf2": {
        "required": [
          "email"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address of the member",
            "format": "email"
          }
        }
      },
      "TeamMemberResourceFields": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/TeamMemberResourceFieldsName"
          },
          "email": {
            "$ref": "#/components/schemas/TeamMemberResourceFieldsEmail"
          }
        }
      },
      "TeamCreateRequestBodyRequestData": {
        "required": [
          "fields"
        ],
        "type": "object",
        "properties": {
          "fields": {
            "description": "Fields for creating or updating a team.\nFor creation, \u0060name\u0060 and \u0060handle\u0060 are required.\nFor updates, the \u0060fields\u0060 object is required but all individual field properties within it are optional.\n\n**Note:** \u0060avatarUrl\u0060 is read-only and cannot be set via API. Avatar management is only available through the UI.\n",
            "$ref": "#/components/schemas/TeamCreateOrUpdateFields"
          }
        }
      },
      "ObfuscatedValueWrapper": {
        "required": [
          "value"
        ],
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/ObfuscatedValue"
          }
        }
      },
      "ObfuscatedValueWrapper2": {
        "required": [
          "value"
        ],
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/ObfuscatedValue"
          }
        }
      },
      "ExamplePayload": {
        "type": "object",
        "description": "Placeholder schema for path example refs"
      },
      "TeamMemberResourceFieldsNameBranch1": {
        "required": [
          "value"
        ],
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "description": "Display name of the member.",
            "example": "John Doe"
          }
        }
      },
      "TeamMemberResourceFieldsEmailBranch1": {
        "required": [
          "value"
        ],
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "description": "Email address of the member.",
            "format": "email",
            "example": "john@example.com"
          }
        }
      },
      "TeamType": {
        "const": null,
        "enum": [
          "team"
        ],
        "type": "string",
        "description": "Resource type identifier",
        "example": "team",
        "x-ms-enum": {
          "name": "TeamType",
          "modelAsString": false,
          "values": [
            {
              "value": "team",
              "name": "Team"
            }
          ]
        }
      },
      "MemberType": {
        "const": null,
        "enum": [
          "member"
        ],
        "type": "string",
        "description": "Resource type identifier",
        "x-ms-enum": {
          "name": "MemberType",
          "modelAsString": false,
          "values": [
            {
              "value": "member",
              "name": "Member"
            }
          ]
        }
      },
      "TeamPatchOperationOneOf1Op": {
        "enum": [
          "addItems",
          "removeItems",
          "set"
        ],
        "type": "string",
        "additionalProperties": false,
        "description": "The operation type.",
        "x-ms-enum": {
          "name": "TeamPatchOperationOneOf1Op",
          "modelAsString": false,
          "values": [
            {
              "value": "addItems",
              "name": "AddItems"
            },
            {
              "value": "removeItems",
              "name": "RemoveItems"
            },
            {
              "value": "set",
              "name": "Set"
            }
          ]
        }
      },
      "MembersPath": {
        "enum": [
          "members"
        ],
        "type": "string",
        "additionalProperties": false,
        "description": "The field to operate on.",
        "x-ms-enum": {
          "name": "MembersPath",
          "modelAsString": false,
          "values": [
            {
              "value": "members",
              "name": "Members"
            }
          ]
        }
      },
      "ClearOp": {
        "const": null,
        "enum": [
          "clear"
        ],
        "type": "string",
        "description": "Clear all items from the field.",
        "x-ms-enum": {
          "name": "ClearOp",
          "modelAsString": false,
          "values": [
            {
              "value": "clear",
              "name": "Clear"
            }
          ]
        }
      }
    },
    "responses": {
      "TeamListResponse": {
        "description": "A paginated list of teams",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TeamListResponseResponse"
            },
            "examples": {
              "teamsList": {
                "summary": "List of teams",
                "value": {
                  "data": [
                    {
                      "id": "123e4567-e89b-12d3-a456-426614174000",
                      "type": "team",
                      "fields": {
                        "name": "Product Team",
                        "handle": "productteam",
                        "description": "Team responsible for product development",
                        "avatarUrl": "https://cdn.productboard.com/teams/avatars/123/medium.png"
                      },
                      "createdAt": "2025-01-01T10:00:00Z",
                      "updatedAt": "2025-01-15T14:30:00Z",
                      "links": {
                        "self": "https://api.productboard.com/v2/teams/123e4567-e89b-12d3-a456-426614174000",
                        "members": "https://api.productboard.com/v2/teams/123e4567-e89b-12d3-a456-426614174000/members",
                        "html": "https://example.productboard.com/settings/teams/12"
                      }
                    },
                    {
                      "id": "223e4567-e89b-12d3-a456-426614174001",
                      "type": "team",
                      "fields": {
                        "name": "Engineering Team",
                        "handle": "engineering",
                        "description": "",
                        "avatarUrl": null
                      },
                      "createdAt": "2025-01-02T11:00:00Z",
                      "updatedAt": "2025-01-16T15:30:00Z",
                      "links": {
                        "self": "https://api.productboard.com/v2/teams/223e4567-e89b-12d3-a456-426614174001",
                        "members": "https://api.productboard.com/v2/teams/223e4567-e89b-12d3-a456-426614174001/members",
                        "html": "https://example.productboard.com/settings/teams/13"
                      }
                    }
                  ],
                  "links": {
                    "next": "https://api.productboard.com/v2/teams?pageCursor=next_cursor_value"
                  }
                }
              },
              "filteredByName": {
                "summary": "Teams filtered by exact name",
                "description": "Example: GET /v2/teams?name=Product Team",
                "value": {
                  "data": [
                    {
                      "id": "123e4567-e89b-12d3-a456-426614174000",
                      "type": "team",
                      "fields": {
                        "name": "Product Team",
                        "handle": "productteam",
                        "description": "Team responsible for product development",
                        "avatarUrl": "https://cdn.productboard.com/teams/avatars/123/medium.png"
                      },
                      "createdAt": "2025-01-01T10:00:00Z",
                      "updatedAt": "2025-01-15T14:30:00Z",
                      "links": {
                        "self": "https://api.productboard.com/v2/teams/123e4567-e89b-12d3-a456-426614174000",
                        "members": "https://api.productboard.com/v2/teams/123e4567-e89b-12d3-a456-426614174000/members",
                        "html": "https://example.productboard.com/settings/teams/12"
                      }
                    }
                  ],
                  "links": {
                    "next": null
                  }
                }
              },
              "searchByQuery": {
                "summary": "Teams searched by query",
                "description": "Example: GET /v2/teams?query=Product",
                "value": {
                  "data": [
                    {
                      "id": "123e4567-e89b-12d3-a456-426614174000",
                      "type": "team",
                      "fields": {
                        "name": "Product Team",
                        "handle": "productteam",
                        "description": "Team responsible for product development",
                        "avatarUrl": "https://cdn.productboard.com/teams/avatars/123/medium.png"
                      },
                      "createdAt": "2025-01-01T10:00:00Z",
                      "updatedAt": "2025-01-15T14:30:00Z",
                      "links": {
                        "self": "https://api.productboard.com/v2/teams/123e4567-e89b-12d3-a456-426614174000",
                        "members": "https://api.productboard.com/v2/teams/123e4567-e89b-12d3-a456-426614174000/members",
                        "html": "https://example.productboard.com/settings/teams/12"
                      }
                    },
                    {
                      "id": "323e4567-e89b-12d3-a456-426614174002",
                      "type": "team",
                      "fields": {
                        "name": "Product Marketing",
                        "handle": "productmarketing",
                        "description": "Marketing team for product launches",
                        "avatarUrl": null
                      },
                      "createdAt": "2025-01-03T09:00:00Z",
                      "updatedAt": "2025-01-17T12:00:00Z",
                      "links": {
                        "self": "https://api.productboard.com/v2/teams/323e4567-e89b-12d3-a456-426614174002",
                        "members": "https://api.productboard.com/v2/teams/323e4567-e89b-12d3-a456-426614174002/members",
                        "html": "https://example.productboard.com/settings/teams/14"
                      }
                    }
                  ],
                  "links": {
                    "next": null
                  }
                }
              },
              "emptyList": {
                "summary": "Empty teams list",
                "value": {
                  "data": [],
                  "links": {
                    "next": null
                  }
                }
              }
            }
          }
        }
      },
      "TeamResponse": {
        "description": "Team details",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TeamResponseResponse"
            },
            "examples": {
              "team": {
                "summary": "Team response",
                "value": {
                  "data": {
                    "id": "123e4567-e89b-12d3-a456-426614174000",
                    "type": "team",
                    "fields": {
                      "name": "Product Team",
                      "handle": "productteam",
                      "description": "Team responsible for product development",
                      "avatarUrl": "https://cdn.productboard.com/teams/avatars/123/medium.png"
                    },
                    "createdAt": "2025-01-01T10:00:00Z",
                    "updatedAt": "2025-01-15T14:30:00Z",
                    "links": {
                      "self": "https://api.productboard.com/v2/teams/123e4567-e89b-12d3-a456-426614174000",
                      "members": "https://api.productboard.com/v2/teams/123e4567-e89b-12d3-a456-426614174000/members",
                      "html": "https://example.productboard.com/settings/teams/12"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "TeamMembersListResponse": {
        "description": "Paginated list of team members",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TeamMembersListResponseResponse"
            },
            "examples": {
              "membersList": {
                "summary": "List of team members",
                "value": {
                  "data": [
                    {
                      "id": "123e4567-e89b-12d3-a456-426614174000",
                      "type": "member",
                      "fields": {
                        "name": "John Doe",
                        "email": "john@example.com"
                      },
                      "links": {
                        "self": "https://api.productboard.com/v2/members/123e4567-e89b-12d3-a456-426614174000"
                      }
                    }
                  ],
                  "links": {
                    "next": "https://api.productboard.com/v2/teams/123e4567-e89b-12d3-a456-426614174000/members?pageCursor=abc123"
                  }
                }
              },
              "emptyList": {
                "summary": "Team with no members",
                "value": {
                  "data": [],
                  "links": {
                    "next": null
                  }
                }
              }
            }
          }
        }
      },
      "TeamReferenceResponse": {
        "description": "Team created successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TeamReferenceResponse"
            },
            "examples": {
              "reference": {
                "summary": "Team reference",
                "value": {
                  "data": {
                    "id": "123e4567-e89b-12d3-a456-426614174000",
                    "type": "team",
                    "links": {
                      "self": "https://api.productboard.com/v2/teams/123e4567-e89b-12d3-a456-426614174000",
                      "members": "https://api.productboard.com/v2/teams/123e4567-e89b-12d3-a456-426614174000/members",
                      "html": "https://example.productboard.com/settings/teams/12"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "TeamUpdateResponse": {
        "description": "Team updated successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TeamReferenceResponse"
            },
            "examples": {
              "reference": {
                "summary": "Team reference",
                "value": {
                  "data": {
                    "id": "123e4567-e89b-12d3-a456-426614174000",
                    "type": "team",
                    "links": {
                      "self": "https://api.productboard.com/v2/teams/123e4567-e89b-12d3-a456-426614174000",
                      "members": "https://api.productboard.com/v2/teams/123e4567-e89b-12d3-a456-426614174000/members",
                      "html": "https://example.productboard.com/settings/teams/12"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "BadRequestResponse": {
        "description": "Bad Request - Invalid input format or malformed request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "schemaInvalid": {
                "summary": "Request does not satisfy schema",
                "value": {
                  "id": "req-1234567890",
                  "errors": [
                    {
                      "code": "request.invalid",
                      "title": "Request schema invalid",
                      "detail": "The request does not satisfy the required schema. Field \u0027type\u0027 is required but was not provided.",
                      "source": {
                        "pointer": "/data/type"
                      }
                    }
                  ]
                }
              },
              "fieldInvalid": {
                "summary": "Invalid field value type",
                "value": {
                  "id": "req-1234567891",
                  "errors": [
                    {
                      "code": "request.invalid",
                      "title": "Request schema invalid",
                      "detail": "Field \u0027fields/name\u0027 must be a string with maximum length of 255 characters, but received a number.",
                      "source": {
                        "pointer": "/data/fields/name"
                      }
                    }
                  ]
                }
              },
              "malformedJson": {
                "summary": "Malformed JSON syntax",
                "value": {
                  "id": "req-1234567892",
                  "errors": [
                    {
                      "code": "request.malformed",
                      "title": "Request malformed",
                      "detail": "The request body contains invalid JSON syntax. Expected \u0027,\u0027 or \u0027}\u0027 at line 5, column 12."
                    }
                  ]
                }
              },
              "invalidContentType": {
                "summary": "Invalid content type",
                "value": {
                  "id": "req-1234567893",
                  "errors": [
                    {
                      "code": "request.malformed",
                      "title": "Request malformed",
                      "detail": "The Content-Type header must be \u0027application/json\u0027. Received \u0027text/plain\u0027."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "UnauthorizedResponse": {
        "description": "Unauthorized - Missing or invalid authentication credentials",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "missingCredentials": {
                "summary": "Missing authentication credentials",
                "value": {
                  "id": "req-2234567890",
                  "errors": [
                    {
                      "code": "auth.invalid",
                      "title": "Invalid authentication",
                      "detail": "Authentication credentials are missing."
                    }
                  ]
                }
              },
              "invalidToken": {
                "summary": "Invalid or expired token",
                "value": {
                  "id": "req-2234567891",
                  "errors": [
                    {
                      "code": "auth.invalid",
                      "title": "Invalid authentication",
                      "detail": "The provided authentication credentials are invalid or have expired. Please obtain new credentials and try again."
                    }
                  ]
                }
              },
              "revokedCredentials": {
                "summary": "Revoked credentials",
                "value": {
                  "id": "req-2234567892",
                  "errors": [
                    {
                      "code": "auth.invalid",
                      "title": "Invalid authentication",
                      "detail": "The authentication credentials have been revoked. Please contact your workspace administrator."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "ForbiddenResponse": {
        "description": "Forbidden - Insufficient permissions",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "permissionDenied": {
                "summary": "Permission denied for resource",
                "value": {
                  "id": "req-3234567890",
                  "errors": [
                    {
                      "code": "auth.accessDenied",
                      "title": "Access denied",
                      "detail": "You do not have permission to perform this operation on the specified resource. Contact your workspace administrator to request access."
                    }
                  ]
                }
              },
              "insufficientScope": {
                "summary": "Insufficient OAuth scopes",
                "value": {
                  "id": "req-3234567891",
                  "errors": [
                    {
                      "code": "auth.accessDenied",
                      "title": "Access denied",
                      "detail": "Your authentication token lacks the required OAuth scopes to perform this operation. Please re-authenticate with the necessary scopes."
                    }
                  ]
                }
              },
              "readOnlyRole": {
                "summary": "Read-only role restriction",
                "value": {
                  "id": "req-3234567892",
                  "errors": [
                    {
                      "code": "auth.accessDenied",
                      "title": "Access denied",
                      "detail": "Your user role does not permit this operation. Please contact your workspace administrator."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "RequestTimeoutResponse": {
        "description": "Request Timeout - The server did not receive a complete request within the allowed time",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "requestTimeout": {
                "summary": "Request timeout",
                "value": {
                  "id": "req-5234567890",
                  "errors": [
                    {
                      "code": "request.timeout",
                      "title": "Request timeout",
                      "detail": "The request took too long to process and was terminated. Try simplifying your request or try again later."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "TooManyRequestsResponse": {
        "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "rateLimitExceeded": {
                "summary": "Rate limit exceeded",
                "value": {
                  "id": "req-7234567890",
                  "errors": [
                    {
                      "code": "rate.limitExceeded",
                      "title": "Rate limit exceeded",
                      "detail": "You have exceeded the allowed number of API requests. Please wait before making additional requests."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "InternalServerErrorResponse": {
        "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "internalServerError": {
                "summary": "Unexpected server error",
                "value": {
                  "id": "req-8234567890",
                  "errors": [
                    {
                      "code": "internal.serverError",
                      "title": "Internal server error",
                      "detail": "An unexpected error occurred while processing your request. Please try again later. If the problem persists, contact support with the correlation ID."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "ConflictResponse": {
        "description": "Conflict - Action cannot be performed due to current state or constraint violation",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "uniqueConstraintViolation": {
                "summary": "Unique constraint violation",
                "value": {
                  "id": "req-9234567890",
                  "errors": [
                    {
                      "code": "conflict.uniqueViolation",
                      "title": "Unique constraint violation",
                      "detail": "A resource with this value already exists.",
                      "source": {
                        "pointer": "/data/fields/name"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "UnprocessableEntityResponse": {
        "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "validationFailed": {
                "summary": "Validation failed",
                "value": {
                  "id": "req-6234567890",
                  "errors": [
                    {
                      "code": "validation.failed",
                      "title": "Validation failed",
                      "detail": "One or more fields failed validation.",
                      "source": {
                        "pointer": "/data/type"
                      }
                    }
                  ]
                }
              },
              "validationMultipleFields": {
                "summary": "Multiple validation errors",
                "value": {
                  "id": "req-6234567891",
                  "errors": [
                    {
                      "code": "validation.failed",
                      "title": "Validation failed",
                      "detail": "The field \u0027name\u0027 cannot be empty.",
                      "source": {
                        "pointer": "/data/fields/name"
                      }
                    },
                    {
                      "code": "validation.failed",
                      "title": "Validation failed",
                      "detail": "The field \u0027type\u0027 has an unsupported value.",
                      "source": {
                        "pointer": "/data/fields/type"
                      }
                    }
                  ]
                }
              },
              "referenceNotFound": {
                "summary": "Referenced resource not found",
                "value": {
                  "id": "req-6234567892",
                  "errors": [
                    {
                      "code": "validation.referenceNotFound",
                      "title": "Referenced resource not found",
                      "detail": "The referenced resource could not be found or you do not have access to it.",
                      "source": {
                        "pointer": "/data/fields/id"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "NotFoundResponse": {
        "description": "Not Found - The requested resource does not exist or is not accessible",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "resourceNotFoundById": {
                "summary": "Resource not found by ID",
                "value": {
                  "id": "req-4234567890",
                  "errors": [
                    {
                      "code": "resource.notFound",
                      "title": "Resource not found",
                      "detail": "The requested resource could not be found or you do not have permission to access it."
                    }
                  ]
                }
              },
              "routeNotFound": {
                "summary": "API route not found",
                "value": {
                  "id": "req-4234567893",
                  "errors": [
                    {
                      "code": "route.notFound",
                      "title": "Route not found",
                      "detail": "The requested URL path does not match any defined API route. Please check the API documentation for valid endpoints."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "NoContentResponse": {
        "description": "The request was successful and no content is returned."
      }
    },
    "requestBodies": {
      "TeamCreateRequestBody": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TeamCreateRequestBodyRequest"
            },
            "examples": {
              "createTeam": {
                "summary": "Create a new team",
                "value": {
                  "data": {
                    "fields": {
                      "name": "Product Team",
                      "handle": "productteam",
                      "description": "Team responsible for product development"
                    }
                  }
                }
              },
              "createTeamMinimal": {
                "summary": "Create a team with only required fields",
                "value": {
                  "data": {
                    "fields": {
                      "name": "Engineering Team",
                      "handle": "engineering"
                    }
                  }
                }
              }
            }
          }
        },
        "required": true
      },
      "TeamUpdateRequestBody": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TeamUpdateRequestBodyRequest"
            },
            "examples": {
              "updateName": {
                "summary": "Update team name",
                "value": {
                  "data": {
                    "fields": {
                      "name": "Updated Product Team"
                    }
                  }
                }
              },
              "addMembers": {
                "summary": "Add members to team",
                "value": {
                  "data": {
                    "patch": [
                      {
                        "op": "addItems",
                        "path": "members",
                        "value": [
                          {
                            "id": "550e8400-e29b-41d4-a716-446655440001"
                          },
                          {
                            "id": "550e8400-e29b-41d4-a716-446655440002"
                          }
                        ]
                      }
                    ]
                  }
                }
              },
              "removeMembers": {
                "summary": "Remove members from team",
                "value": {
                  "data": {
                    "patch": [
                      {
                        "op": "removeItems",
                        "path": "members",
                        "value": [
                          {
                            "id": "550e8400-e29b-41d4-a716-446655440003"
                          }
                        ]
                      }
                    ]
                  }
                }
              },
              "replaceMembers": {
                "summary": "Replace all members",
                "value": {
                  "data": {
                    "patch": [
                      {
                        "op": "set",
                        "path": "members",
                        "value": [
                          {
                            "id": "550e8400-e29b-41d4-a716-446655440001"
                          },
                          {
                            "id": "550e8400-e29b-41d4-a716-446655440002"
                          }
                        ]
                      }
                    ]
                  }
                }
              },
              "clearMembers": {
                "summary": "Remove all members",
                "value": {
                  "data": {
                    "patch": [
                      {
                        "op": "clear",
                        "path": "members"
                      }
                    ]
                  }
                }
              },
              "mixedUpdate": {
                "summary": "Update fields and members in one request",
                "value": {
                  "data": {
                    "fields": {
                      "name": "Updated Team Name"
                    },
                    "patch": [
                      {
                        "op": "addItems",
                        "path": "members",
                        "value": [
                          {
                            "id": "550e8400-e29b-41d4-a716-446655440001"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "required": true
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "description": "API token authentication. Use your API token as the value of the Authorization header",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication. Use this for user-authorized access to Productboard API.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://app.productboard.com/oauth/authorize",
            "tokenUrl": "https://app.productboard.com/oauth/token",
            "scopes": {
              "entities:read": "Read access to entities (features, components, initiatives, etc.)",
              "write:entities": "Write access to create and modify entities",
              "entities:delete": "Delete entities"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    },
    {
      "OAuth2": [
        "entities:read",
        "write:entities",
        "entities:delete"
      ]
    }
  ],
  "tags": [
    {
      "name": "teams",
      "description": "Operations related to teams and their member assignments."
    }
  ],
  "x-readme": {
    "samples-languages": [
      "shell",
      "javascript",
      "ruby"
    ]
  }
}