{
  "openapi": "3.1.2",
  "info": {
    "title": "Webhooks",
    "description": "Manages webhook subscriptions. Subscribe to entity change events and receive\nreal-time notifications at your endpoint.\n",
    "contact": {
      "name": "Productboard Support",
      "url": "https://support.productboard.com",
      "email": "support@productboard.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://www.productboard.com/terms"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.productboard.com/v2",
      "description": "Production server"
    }
  ],
  "paths": {
    "/webhooks": {
      "post": {
        "tags": [
          "webhooks"
        ],
        "summary": "Create webhook subscription",
        "description": "Creates a new webhook subscription to be actively notified on each change in the specified entities.\n\nAs part of subscription creation, Productboard validates the notification URL:\nit must use \u0060https\u0060, have a publicly resolvable host, and not point to localhost,\nloopback, site-local, or internal addresses.\n\n**Scope requirements**: the OAuth2 application must have the scopes required by all requested event types.\n",
        "operationId": "CreateWebhook",
        "requestBody": {
          "description": "Definition of webhook subscription.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreateRequestBody"
              },
              "examples": {
                "default": {
                  "summary": "Subscribe to webhook events",
                  "value": {
                    "data": {
                      "fields": {
                        "name": "Feature changes webhook",
                        "events": [
                          {
                            "eventType": "feature.updated"
                          },
                          {
                            "eventType": "feature.created"
                          }
                        ],
                        "notification": {
                          "url": "https://example.destination.com/webhooks-handler",
                          "version": 1,
                          "headers": {
                            "authorization": "Bearer mySecret"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Webhook subscription created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookReferenceResponse"
                },
                "examples": {
                  "created": {
                    "summary": "Subscription created",
                    "value": {
                      "data": {
                        "id": "550e8400-e29b-41d4-a716-446655440000",
                        "type": "webhook",
                        "links": {
                          "self": "https://api.productboard.com/v2/webhooks/550e8400-e29b-41d4-a716-446655440000"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "callbacks": {
          "entityChange": {
            "{$request.body#/data/fields/notification/url}": {
              "post": {
                "tags": [
                  "webhooks"
                ],
                "summary": "Webhook notification",
                "description": "Sent whenever a subscribed entity change event occurs.\n\n- Timeout: **5 seconds** (end-to-end)\n- Return any \u00602XX\u0060 status to acknowledge receipt\n- Prefer \u0060204 No Content\u0060 \u2014 response body is ignored\n- Failed deliveries are retried with exponential backoff (up to 8 attempts: 1m, 3m, 9m, ...)\n- Process notifications asynchronously and return immediately to avoid timeouts\n- Too many timeouts or failures may result in Productboard **disabling the subscription** with notification loss\n\n**Security**: configure \u0060data.fields.notification.headers.authorization\u0060 to authenticate\nincoming requests from Productboard.\n",
                "operationId": "webhookNotification",
                "requestBody": {
                  "description": "Webhook notification payload.",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookNotificationRequestBody"
                      }
                    }
                  },
                  "required": true
                },
                "responses": {
                  "200": {
                    "description": "Any \u00602XX\u0060 status is treated as a successful delivery. \u0060204 No Content\u0060 is preferred.\n"
                  },
                  "400": {
                    "$ref": "#/components/responses/BadRequestResponse"
                  },
                  "401": {
                    "$ref": "#/components/responses/UnauthorizedResponse"
                  },
                  "403": {
                    "$ref": "#/components/responses/ForbiddenResponse"
                  },
                  "408": {
                    "$ref": "#/components/responses/RequestTimeoutResponse"
                  },
                  "422": {
                    "$ref": "#/components/responses/UnprocessableEntityResponse"
                  },
                  "429": {
                    "$ref": "#/components/responses/TooManyRequestsResponse"
                  },
                  "500": {
                    "$ref": "#/components/responses/InternalServerErrorResponse"
                  }
                },
                "security": [
                  {}
                ]
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "webhooks:write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "webhooks"
        ],
        "summary": "List webhook subscriptions",
        "description": "Returns all webhook subscriptions for the workspace. Returns up to 100 items per page by default.\n\nPaginated using cursor-based pagination. Follow \u0060links.next\u0060 in the response to fetch the next page.\nWhen \u0060links.next\u0060 is \u0060null\u0060, you have reached the last page.\n\n**OAuth2 isolation**: OAuth2 access tokens only see subscriptions created by the same OAuth2 application.\nPublic API access tokens see all workspace subscriptions.\n",
        "operationId": "ListWebhooks",
        "parameters": [
          {
            "description": "Cursor for pagination. Use the value from \u0060links.next\u0060 to fetch the next page.",
            "$ref": "#/components/parameters/PageCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of webhook subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookListResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "550e8400-e29b-41d4-a716-446655440000",
                      "type": "webhook",
                      "createdAt": "2024-01-15T10:30:00.000Z",
                      "fields": {
                        "name": "Feature changes webhook",
                        "events": [
                          {
                            "eventType": "feature.updated"
                          }
                        ],
                        "notification": {
                          "url": "https://example.destination.com/webhooks-handler",
                          "version": 1
                        }
                      },
                      "links": {
                        "self": "https://api.productboard.com/v2/webhooks/550e8400-e29b-41d4-a716-446655440000"
                      }
                    }
                  ],
                  "links": {
                    "next": null
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "webhooks:read"
            ]
          }
        ]
      }
    },
    "/webhooks/{webhookId}": {
      "get": {
        "tags": [
          "webhooks"
        ],
        "summary": "Get webhook subscription",
        "description": "Returns a single webhook subscription by ID.\n\n**OAuth2 isolation**: returns \u0060404\u0060 if the subscription was created by a different OAuth2 application\nor by a public API access token (existence is masked for security).\n",
        "operationId": "GetWebhook",
        "parameters": [
          {
            "description": "UUID of the webhook subscription.",
            "$ref": "#/components/parameters/WebhookId"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook subscription details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "webhooks:read"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "webhooks"
        ],
        "summary": "Delete webhook subscription",
        "description": "Permanently deletes a webhook subscription. No further notifications will be sent after deletion. **OAuth2 isolation**: returns \u0060404\u0060 if the subscription was created by a different OAuth2 application\nor by a public API access token.\n",
        "operationId": "DeleteWebhook",
        "parameters": [
          {
            "description": "UUID of the webhook subscription.",
            "$ref": "#/components/parameters/WebhookId"
          }
        ],
        "responses": {
          "204": {
            "description": "Subscription deleted successfully."
          },
          "400": {
            "description": "Bad Request - Invalid input format or malformed request",
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials",
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "description": "Not Found - The requested resource does not exist or is not accessible",
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "408": {
            "description": "Request Timeout - The server did not receive a complete request within the allowed time",
            "$ref": "#/components/responses/RequestTimeoutResponse"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "BearerAuth": [
              "webhooks:delete"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "WebhookType": {
        "enum": [
          "webhook"
        ],
        "type": "string",
        "additionalProperties": false,
        "description": "Resource type identifier for webhook subscriptions.",
        "example": "webhook",
        "x-ms-enum": {
          "name": "WebhookType",
          "modelAsString": false,
          "values": [
            {
              "value": "webhook",
              "name": "Webhook"
            }
          ]
        }
      },
      "WebhookReference": {
        "required": [
          "id",
          "type",
          "links"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the created webhook subscription.",
            "format": "uuid",
            "readOnly": true,
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "type": {
            "description": "Resource type identifier for webhook subscriptions.",
            "$ref": "#/components/schemas/WebhookType"
          },
          "links": {
            "$ref": "#/components/schemas/WebhookReferenceLinks"
          }
        },
        "description": "Lightweight reference returned after creating a webhook subscription."
      },
      "WebhookReferenceResponse": {
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "data": {
            "description": "Lightweight reference returned after creating a webhook subscription.",
            "$ref": "#/components/schemas/WebhookReference"
          }
        },
        "description": "Response envelope for a newly created webhook subscription."
      },
      "WebhookSubscription": {
        "required": [
          "id",
          "type",
          "createdAt",
          "fields",
          "links"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for this webhook subscription.",
            "format": "uuid",
            "readOnly": true,
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "type": {
            "description": "Resource type identifier for webhook subscriptions.",
            "$ref": "#/components/schemas/WebhookType"
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 timestamp when the subscription was created.",
            "format": "date-time",
            "readOnly": true,
            "example": "2024-01-15T10:30:00.000Z"
          },
          "fields": {
            "description": "Domain attributes returned in webhook subscription responses.\nNote: \u0060notification.headers.authorization\u0060 is intentionally absent from responses to protect secrets.\n",
            "$ref": "#/components/schemas/WebhookSubscriptionResponseFields"
          },
          "links": {
            "description": "Links for this webhook subscription resource.",
            "$ref": "#/components/schemas/WebhookSubscriptionLinks"
          }
        },
        "description": "A webhook subscription resource."
      },
      "WebhookResponse": {
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "data": {
            "description": "A webhook subscription resource.",
            "$ref": "#/components/schemas/WebhookSubscription"
          }
        },
        "description": "Response envelope for a single webhook subscription."
      },
      "WebhookListResponse": {
        "required": [
          "data",
          "links"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookSubscription"
            }
          },
          "links": {
            "$ref": "#/components/schemas/ListLinks"
          }
        },
        "description": "Response envelope for a paginated list of webhook subscriptions."
      },
      "WebhookSubscriptionFields": {
        "required": [
          "name",
          "events",
          "notification"
        ],
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "Human-readable label for this subscription.",
            "example": "Feature changes webhook"
          },
          "events": {
            "minItems": 1,
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEvent"
            },
            "description": "Event types to subscribe to. At least one required; no duplicates allowed.\nThe full list of supported values is defined in the \u0060WebhookEventType\u0060 schema.\n"
          },
          "notification": {
            "description": "Where and how Productboard sends notifications (used in create requests).",
            "$ref": "#/components/schemas/WebhookNotificationConfig"
          }
        },
        "description": "Domain attributes for creating a webhook subscription."
      },
      "WebhookSubscriptionResponseFields": {
        "required": [
          "name",
          "events",
          "notification"
        ],
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "Human-readable label for this subscription.",
            "example": "Feature changes webhook"
          },
          "events": {
            "minItems": 1,
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEvent"
            },
            "description": "Event types that trigger this subscription."
          },
          "notification": {
            "description": "Notification configuration as returned in responses (secret omitted).",
            "$ref": "#/components/schemas/WebhookNotificationConfigResponse"
          }
        },
        "description": "Domain attributes returned in webhook subscription responses.\nNote: \u0060notification.headers.authorization\u0060 is intentionally absent from responses to protect secrets.\n"
      },
      "WebhookCreateRequestBody": {
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/WebhookCreateRequestBodyData"
          }
        },
        "description": "Request body for creating a webhook subscription."
      },
      "WebhookSubscriptionLinks": {
        "required": [
          "self"
        ],
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "description": "URL to retrieve this webhook subscription.",
            "format": "uri",
            "example": "https://api.productboard.com/v2/webhooks/550e8400-e29b-41d4-a716-446655440000"
          }
        },
        "description": "Links for this webhook subscription resource."
      },
      "WebhookEvent": {
        "required": [
          "eventType"
        ],
        "type": "object",
        "properties": {
          "eventType": {
            "description": "Identifies the type of entity change that triggers a webhook notification.",
            "$ref": "#/components/schemas/WebhookEventType"
          }
        }
      },
      "WebhookEventType": {
        "enum": [
          "feature.created",
          "feature.updated",
          "feature.deleted",
          "component.created",
          "component.updated",
          "product.created",
          "product.updated",
          "release.created",
          "release.updated",
          "release.deleted",
          "feature-release-assignment.updated",
          "hierarchy-entity.custom-field-value.updated",
          "note.created",
          "note.updated",
          "note.deleted",
          "insight.created",
          "insight.deleted",
          "key-result.created",
          "key-result.updated",
          "key-result.deleted",
          "objective.created",
          "objective.updated",
          "objective.deleted",
          "initiative.created",
          "initiative.updated",
          "initiative.deleted"
        ],
        "type": "string",
        "additionalProperties": false,
        "description": "Identifies the type of entity change that triggers a webhook notification.",
        "x-ms-enum": {
          "name": "WebhookEventType",
          "modelAsString": false,
          "values": [
            {
              "value": "feature.created",
              "name": "FeatureCreated"
            },
            {
              "value": "feature.updated",
              "name": "FeatureUpdated"
            },
            {
              "value": "feature.deleted",
              "name": "FeatureDeleted"
            },
            {
              "value": "component.created",
              "name": "ComponentCreated"
            },
            {
              "value": "component.updated",
              "name": "ComponentUpdated"
            },
            {
              "value": "product.created",
              "name": "ProductCreated"
            },
            {
              "value": "product.updated",
              "name": "ProductUpdated"
            },
            {
              "value": "release.created",
              "name": "ReleaseCreated"
            },
            {
              "value": "release.updated",
              "name": "ReleaseUpdated"
            },
            {
              "value": "release.deleted",
              "name": "ReleaseDeleted"
            },
            {
              "value": "feature-release-assignment.updated",
              "name": "FeatureReleaseAssignmentUpdated"
            },
            {
              "value": "hierarchy-entity.custom-field-value.updated",
              "name": "HierarchyEntityCustomFieldValueUpdated"
            },
            {
              "value": "note.created",
              "name": "NoteCreated"
            },
            {
              "value": "note.updated",
              "name": "NoteUpdated"
            },
            {
              "value": "note.deleted",
              "name": "NoteDeleted"
            },
            {
              "value": "insight.created",
              "name": "InsightCreated"
            },
            {
              "value": "insight.deleted",
              "name": "InsightDeleted"
            },
            {
              "value": "key-result.created",
              "name": "KeyResultCreated"
            },
            {
              "value": "key-result.updated",
              "name": "KeyResultUpdated"
            },
            {
              "value": "key-result.deleted",
              "name": "KeyResultDeleted"
            },
            {
              "value": "objective.created",
              "name": "ObjectiveCreated"
            },
            {
              "value": "objective.updated",
              "name": "ObjectiveUpdated"
            },
            {
              "value": "objective.deleted",
              "name": "ObjectiveDeleted"
            },
            {
              "value": "initiative.created",
              "name": "InitiativeCreated"
            },
            {
              "value": "initiative.updated",
              "name": "InitiativeUpdated"
            },
            {
              "value": "initiative.deleted",
              "name": "InitiativeDeleted"
            }
          ]
        }
      },
      "WebhookNotificationConfig": {
        "required": [
          "url",
          "version"
        ],
        "type": "object",
        "properties": {
          "url": {
            "maxLength": 1024,
            "pattern": "https://.\u002B",
            "type": "string",
            "description": "HTTPS endpoint to receive notifications. Requirements:\n- Must use \u0060https\u0060 (encrypted)\n- Must be publicly reachable (no \u0060localhost\u0060, private IPs, or internal Kubernetes addresses)\n",
            "format": "uri",
            "example": "https://example.destination.com/webhooks-handler"
          },
          "version": {
            "description": "Version of the notification payload structure. Currently only \u00601\u0060 is supported.",
            "$ref": "#/components/schemas/WebhookPayloadVersion"
          },
          "headers": {
            "description": "Custom headers included in every outgoing request from Productboard to your endpoint\n(notifications). Use this to authenticate incoming requests.\n",
            "$ref": "#/components/schemas/WebhookNotificationHeaders"
          }
        },
        "description": "Where and how Productboard sends notifications (used in create requests)."
      },
      "WebhookNotificationConfigResponse": {
        "required": [
          "url",
          "version"
        ],
        "type": "object",
        "properties": {
          "url": {
            "maxLength": 1024,
            "type": "string",
            "description": "Target URL for webhook notifications.",
            "format": "uri",
            "example": "https://example.destination.com/webhooks-handler"
          },
          "version": {
            "description": "Version of the notification payload structure. Currently only \u00601\u0060 is supported.",
            "$ref": "#/components/schemas/WebhookPayloadVersion"
          }
        },
        "description": "Notification configuration as returned in responses (secret omitted)."
      },
      "WebhookPayloadVersion": {
        "enum": [
          1
        ],
        "type": "integer",
        "additionalProperties": false,
        "description": "Version of the notification payload structure. Currently only \u00601\u0060 is supported.",
        "example": 1
      },
      "WebhookNotificationHeaders": {
        "type": "object",
        "properties": {
          "authorization": {
            "maxLength": 2048,
            "type": "string",
            "description": "Raw value sent in the \u0060Authorization\u0060 header. Supports any scheme:\n- \u0060Basic aGVsbG86d29ybGQ=\u0060\n- \u0060Bearer \u003Ctoken\u003E\u0060\n- Any custom value\n",
            "example": "Bearer myWebhookSecret"
          }
        },
        "description": "Custom headers included in every outgoing request from Productboard to your endpoint\n(notifications). Use this to authenticate incoming requests.\n"
      },
      "WebhookNotificationPayload": {
        "$ref": "#/components/schemas/WebhookNotificationPayloadV1"
      },
      "WebhookNotificationPayloadV1": {
        "required": [
          "eventType",
          "links"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Entity ID that changed. Absent for \u0060hierarchy-entity.custom-field-value.updated\u0060\nand \u0060feature-release-assignment.updated\u0060.\n",
            "format": "uuid",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "eventType": {
            "description": "Identifies the type of entity change that triggers a webhook notification.",
            "$ref": "#/components/schemas/WebhookEventType"
          },
          "links": {
            "$ref": "#/components/schemas/WebhookNotificationPayloadV1Links"
          },
          "updatedAttributes": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "status"
            },
            "description": "Names of the API fields that changed. Only present on \u0060*.updated\u0060 events.\nUses public API field names (e.g., \u0060status\u0060, \u0060name\u0060, \u0060parent\u0060).\n"
          }
        },
        "description": "Notification payload delivered to the subscriber endpoint."
      },
      "WebhookNotificationRequestBody": {
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "data": {
            "description": "Notification payload delivered to the subscriber endpoint.",
            "$ref": "#/components/schemas/WebhookNotificationPayloadV1"
          }
        },
        "description": "Request body delivered to the subscriber endpoint on each entity change event."
      },
      "LinksTarget": {
        "required": [
          "target"
        ],
        "type": "object",
        "properties": {
          "target": {
            "type": "string",
            "description": "API URL of the entity whose change triggered this notification.",
            "format": "uri",
            "example": "https://api.productboard.com/features/550e8400-e29b-41d4-a716-446655440000"
          }
        },
        "description": "Standard V1 link \u2014 points to the changed entity."
      },
      "LinksFeatureNote": {
        "required": [
          "feature",
          "note"
        ],
        "type": "object",
        "properties": {
          "feature": {
            "type": "string",
            "format": "uri",
            "example": "https://api.productboard.com/features/550e8400-e29b-41d4-a716-446655440000"
          },
          "note": {
            "type": "string",
            "format": "uri",
            "example": "https://api.productboard.com/notes/a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          }
        },
        "description": "V1 link shape for insight events \u2014 references both feature and note."
      },
      "ListLinks": {
        "required": [
          "next"
        ],
        "type": "object",
        "properties": {
          "next": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "ErrorSource": {
        "type": "object",
        "properties": {
          "pointer": {
            "type": "string",
            "description": "JSON Pointer [RFC6901] to the associated entity in the request document.\n",
            "example": "/data/fields/status"
          },
          "parameter": {
            "type": "string",
            "description": "Query parameter causing the error.\nUsed when the error is related to a query parameter rather than request body.\n",
            "example": "pageCursor"
          }
        },
        "description": "An object containing references to the source of the error. It helps with location of the problematic field or parameter.\n"
      },
      "Error": {
        "required": [
          "code",
          "title",
          "detail"
        ],
        "type": "object",
        "properties": {
          "code": {
            "examples": [
              "auth.accessDenied",
              "resource.notFound"
            ],
            "type": "string",
            "description": "A unique, machine-readable and stable code that identifies this error.\nMust be consistent across all services and provide clear categorization.\nFormat: \u0060category.subcategory.specificError\u0060\n"
          },
          "title": {
            "maxLength": 255,
            "type": "string",
            "description": "A short, human-readable summary of the problem that doesn\u0027t change\nfrom occurrence to occurrence of the problem. Should provide immediate\nunderstanding of the error type.\n",
            "example": "Missing required field"
          },
          "detail": {
            "maxLength": 1000,
            "type": "string",
            "description": "A human-readable explanation specific to this occurrence of the problem.\nMay include suggestions for resolution but should not expose sensitive information.\n",
            "example": "Field \u0027status\u0027 is required."
          },
          "source": {
            "description": "An object containing references to the source of the error. It helps with location of the problematic field or parameter.\n",
            "$ref": "#/components/schemas/ErrorSource"
          }
        },
        "description": "Individual error object containing the details and context.\n"
      },
      "ErrorResponse": {
        "required": [
          "id",
          "errors"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique identifier for this specific occurrence of the problem.\nIt carries unique request/response ID which allows client\nand server to reference the exact instance of the error\nin logs or support communication.\n"
          },
          "errors": {
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            },
            "description": "Array of error objects, multiple errors can be returned."
          }
        },
        "description": "Standard error response structure.\n"
      },
      "WebhookNotificationPayloadV1Links": {
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/LinksTarget"
          },
          {
            "$ref": "#/components/schemas/LinksFeatureNote"
          }
        ],
        "properties": {
          "target": {
            "type": "string",
            "description": "API URL of the entity whose change triggered this notification.",
            "format": "uri",
            "example": "https://api.productboard.com/features/550e8400-e29b-41d4-a716-446655440000"
          },
          "feature": {
            "type": "string",
            "format": "uri",
            "example": "https://api.productboard.com/features/550e8400-e29b-41d4-a716-446655440000"
          },
          "note": {
            "type": "string",
            "format": "uri",
            "example": "https://api.productboard.com/notes/a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          }
        },
        "description": "Links related to this event."
      },
      "WebhookReferenceLinks": {
        "required": [
          "self"
        ],
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "description": "URL to fetch the full webhook subscription.",
            "format": "uri",
            "example": "https://api.productboard.com/v2/webhooks/550e8400-e29b-41d4-a716-446655440000"
          }
        }
      },
      "WebhookCreateRequestBodyData": {
        "required": [
          "fields"
        ],
        "type": "object",
        "properties": {
          "fields": {
            "description": "Domain attributes for creating a webhook subscription.",
            "$ref": "#/components/schemas/WebhookSubscriptionFields"
          }
        }
      },
      "ExamplePayload": {
        "type": "object",
        "description": "Placeholder schema for path example refs"
      }
    },
    "responses": {
      "BadRequestResponse": {
        "description": "Bad Request - Invalid input format or malformed request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "schemaInvalid": {
                "summary": "Request does not satisfy schema",
                "value": {
                  "id": "req-1234567890",
                  "errors": [
                    {
                      "code": "request.invalid",
                      "title": "Request schema invalid",
                      "detail": "The request does not satisfy the required schema. Field \u0027type\u0027 is required but was not provided.",
                      "source": {
                        "pointer": "/data/type"
                      }
                    }
                  ]
                }
              },
              "fieldInvalid": {
                "summary": "Invalid field value type",
                "value": {
                  "id": "req-1234567891",
                  "errors": [
                    {
                      "code": "request.invalid",
                      "title": "Request schema invalid",
                      "detail": "Field \u0027fields/name\u0027 must be a string with maximum length of 255 characters, but received a number.",
                      "source": {
                        "pointer": "/data/fields/name"
                      }
                    }
                  ]
                }
              },
              "malformedJson": {
                "summary": "Malformed JSON syntax",
                "value": {
                  "id": "req-1234567892",
                  "errors": [
                    {
                      "code": "request.malformed",
                      "title": "Request malformed",
                      "detail": "The request body contains invalid JSON syntax. Expected \u0027,\u0027 or \u0027}\u0027 at line 5, column 12."
                    }
                  ]
                }
              },
              "invalidContentType": {
                "summary": "Invalid content type",
                "value": {
                  "id": "req-1234567893",
                  "errors": [
                    {
                      "code": "request.malformed",
                      "title": "Request malformed",
                      "detail": "The Content-Type header must be \u0027application/json\u0027. Received \u0027text/plain\u0027."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "UnauthorizedResponse": {
        "description": "Unauthorized - Missing or invalid authentication credentials",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "missingCredentials": {
                "summary": "Missing authentication credentials",
                "value": {
                  "id": "req-2234567890",
                  "errors": [
                    {
                      "code": "auth.invalid",
                      "title": "Invalid authentication",
                      "detail": "Authentication credentials are missing."
                    }
                  ]
                }
              },
              "invalidToken": {
                "summary": "Invalid or expired token",
                "value": {
                  "id": "req-2234567891",
                  "errors": [
                    {
                      "code": "auth.invalid",
                      "title": "Invalid authentication",
                      "detail": "The provided authentication credentials are invalid or have expired. Please obtain new credentials and try again."
                    }
                  ]
                }
              },
              "revokedCredentials": {
                "summary": "Revoked credentials",
                "value": {
                  "id": "req-2234567892",
                  "errors": [
                    {
                      "code": "auth.invalid",
                      "title": "Invalid authentication",
                      "detail": "The authentication credentials have been revoked. Please contact your workspace administrator."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "ForbiddenResponse": {
        "description": "Forbidden - Insufficient permissions",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "permissionDenied": {
                "summary": "Permission denied for resource",
                "value": {
                  "id": "req-3234567890",
                  "errors": [
                    {
                      "code": "auth.accessDenied",
                      "title": "Access denied",
                      "detail": "You do not have permission to perform this operation on the specified resource. Contact your workspace administrator to request access."
                    }
                  ]
                }
              },
              "insufficientScope": {
                "summary": "Insufficient OAuth scopes",
                "value": {
                  "id": "req-3234567891",
                  "errors": [
                    {
                      "code": "auth.accessDenied",
                      "title": "Access denied",
                      "detail": "Your authentication token lacks the required OAuth scopes to perform this operation. Please re-authenticate with the necessary scopes."
                    }
                  ]
                }
              },
              "readOnlyRole": {
                "summary": "Read-only role restriction",
                "value": {
                  "id": "req-3234567892",
                  "errors": [
                    {
                      "code": "auth.accessDenied",
                      "title": "Access denied",
                      "detail": "Your user role does not permit this operation. Please contact your workspace administrator."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "RequestTimeoutResponse": {
        "description": "Request Timeout - The server did not receive a complete request within the allowed time",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "requestTimeout": {
                "summary": "Request timeout",
                "value": {
                  "id": "req-5234567890",
                  "errors": [
                    {
                      "code": "request.timeout",
                      "title": "Request timeout",
                      "detail": "The request took too long to process and was terminated. Try simplifying your request or try again later."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "TooManyRequestsResponse": {
        "description": "Too Many Requests - API rate limit exceeded, reduce request frequency and retry after the indicated time",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "rateLimitExceeded": {
                "summary": "Rate limit exceeded",
                "value": {
                  "id": "req-7234567890",
                  "errors": [
                    {
                      "code": "rate.limitExceeded",
                      "title": "Rate limit exceeded",
                      "detail": "You have exceeded the allowed number of API requests. Please wait before making additional requests."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "InternalServerErrorResponse": {
        "description": "Internal Server Error - An unexpected error occurred on the server, please retry or contact support",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "internalServerError": {
                "summary": "Unexpected server error",
                "value": {
                  "id": "req-8234567890",
                  "errors": [
                    {
                      "code": "internal.serverError",
                      "title": "Internal server error",
                      "detail": "An unexpected error occurred while processing your request. Please try again later. If the problem persists, contact support with the correlation ID."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "UnprocessableEntityResponse": {
        "description": "Unprocessable Entity - Validation failed (e.g., missing required fields, unknown fields)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "validationFailed": {
                "summary": "Validation failed",
                "value": {
                  "id": "req-6234567890",
                  "errors": [
                    {
                      "code": "validation.failed",
                      "title": "Validation failed",
                      "detail": "One or more fields failed validation.",
                      "source": {
                        "pointer": "/data/type"
                      }
                    }
                  ]
                }
              },
              "validationMultipleFields": {
                "summary": "Multiple validation errors",
                "value": {
                  "id": "req-6234567891",
                  "errors": [
                    {
                      "code": "validation.failed",
                      "title": "Validation failed",
                      "detail": "The field \u0027name\u0027 cannot be empty.",
                      "source": {
                        "pointer": "/data/fields/name"
                      }
                    },
                    {
                      "code": "validation.failed",
                      "title": "Validation failed",
                      "detail": "The field \u0027type\u0027 has an unsupported value.",
                      "source": {
                        "pointer": "/data/fields/type"
                      }
                    }
                  ]
                }
              },
              "referenceNotFound": {
                "summary": "Referenced resource not found",
                "value": {
                  "id": "req-6234567892",
                  "errors": [
                    {
                      "code": "validation.referenceNotFound",
                      "title": "Referenced resource not found",
                      "detail": "The referenced resource could not be found or you do not have access to it.",
                      "source": {
                        "pointer": "/data/fields/id"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "NotFoundResponse": {
        "description": "Not Found - The requested resource does not exist or is not accessible",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "resourceNotFoundById": {
                "summary": "Resource not found by ID",
                "value": {
                  "id": "req-4234567890",
                  "errors": [
                    {
                      "code": "resource.notFound",
                      "title": "Resource not found",
                      "detail": "The requested resource could not be found or you do not have permission to access it."
                    }
                  ]
                }
              },
              "routeNotFound": {
                "summary": "API route not found",
                "value": {
                  "id": "req-4234567893",
                  "errors": [
                    {
                      "code": "route.notFound",
                      "title": "Route not found",
                      "detail": "The requested URL path does not match any defined API route. Please check the API documentation for valid endpoints."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "parameters": {
      "WebhookId": {
        "name": "webhookId",
        "in": "path",
        "description": "UUID of the webhook subscription.",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid",
          "example": "550e8400-e29b-41d4-a716-446655440000"
        }
      },
      "PageCursor": {
        "name": "pageCursor",
        "in": "query",
        "description": "Cursor for pagination. Use the value from \u0060links.next\u0060 to fetch the next page.",
        "schema": {
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "description": "API token authentication. Use your API token as the value of the Authorization header",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication. Use this for user-authorized access to Productboard API.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://app.productboard.com/oauth/authorize",
            "tokenUrl": "https://app.productboard.com/oauth/token",
            "scopes": {
              "entities:read": "Read access to entities (features, components, initiatives, etc.)",
              "write:entities": "Write access to create and modify entities",
              "entities:delete": "Delete entities"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    },
    {
      "OAuth2": [
        "entities:read",
        "write:entities",
        "entities:delete"
      ]
    }
  ],
  "tags": [
    {
      "name": "webhooks",
      "description": "Operations for managing webhook subscriptions."
    }
  ],
  "x-readme": {
    "samples-languages": [
      "shell",
      "javascript",
      "ruby"
    ]
  }
}